{% extends 'AppBundle::admin_base.html.twig' %}

{% block content %}

    {#--- --- MAIL ADD DIALOG --- ---#}
    <div class="modal" id="university_add_mail_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Default Modal</h4>
                </div>
                <div class="modal-body">
                    <input id="university_add_mail_modal_mail" type="text" class="form-control" placeholder="Enter University Mail Server Suffix">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button id="university_add_mail_modal_summit" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                University
                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">University Update</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">


                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">University Info</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">

                            {#{{ form_start(form, {'attr': {'role': 'form'}}) }}#}
                            <form action="{{ path('admin_university_update' , {'universityId': university.id}) }}" method="post">

                                <!-- text input -->
                                <div class="form-group">
                                    <label>University Name</label>
                                    <input type="text" class="form-control" name="university_name" placeholder="Enter University Name" value="{{ university.name }}">
                                </div>

                                <!-- text input -->
                                <div class="form-group">
                                    <label>University Web Address</label>
                                    <input type="text" class="form-control" name="university_web_address" placeholder="Enter University Web Address" value="{{ university.link }}">
                                </div>

                                <div class="form-group">
                                    <label>City</label>
                                    <select id="address_city_id" class="form-control" name="address_city_id">
                                        <option value="{{ city.id }}">{{ city.name }}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Borough</label>
                                    <select id="address_borough_id" class="form-control" name="address_borough_id">
                                        <option value="{{ borough.id }}">{{ borough.name }}</option>
                                    </select>
                                </div>

                                <!-- university Image -->
                                <div class="form-group">
                                    <label>University Image</label>
                                    <input id="temp_img_loader" type='file'>
                                    <img id="img_viewer" height="150" src="{{ university.imageBase64 }}">
                                    <input type="text" class="form-control" id="university_image_base64" name="university_image_base64" style="display: none;" value="{{ university.imageBase64 }}">
                                </div>

                                <button type="submit">Update !</button>
                            </form>
                            {#{{ form_end(form) }}#}

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.column -->

                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">University Hostname List</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">

                            <table id="university_mail_list" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>#ID</th>
                                        <th>Mail Server Hostname List</th>
                                    </tr>
                                </thead>
                                <tbody id="university_mail_list">

                                {% for universityMail in universityMails %}
                                    <tr>
                                        <td>{{ universityMail.id }}</td>
                                        <td>{{ universityMail.hostname }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-info">Action</button>
                                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a class='university_remove_mailserver' value="{{ universityMail.id }}">Delete</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                                <tfoot>
                                    <tr>

                                    </tr>
                                </tfoot>
                            </table>

                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button id="university_add_mailserver" data-toggle="modal" data-target="#university_add_mail_modal">Add Mail Server</button>
                        </div>

                    </div>
                    <!-- /.box -->
                </div>


            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

{% endblock %}


{% block javascriptcontent %}
    <script>

/***********************************************************************************************************************
 *                                          LOCAL VARIABLE
 **********************************************************************************************************************/


/***********************************************************************************************************************
 *                                          UTIL FUNCTIONS
 **********************************************************************************************************************/

        function fileToBase64Converter() {
            if (this.files && this.files[0]) {
                var FR= new FileReader();
                FR.onload = function(e) {
                    $('#img_viewer').attr('src', e.target.result);
                    $('#university_image_base64').val(e.target.result);
                };
                FR.readAsDataURL( this.files[0] );
            }
        }

/***********************************************************************************************************************
 *                                          AJAX OPERATIONS
 **********************************************************************************************************************/
        function ajaxAddUniversityMailServer(){

            // -- 1 --

            // -- 2 -- ajax call
            $.post("{{ path('university_add_mailserver') }}" , {
                uid : {{ university.id }},
                mailServer : $('#university_add_mail_modal_mail').val()

            }).always(function(){
                $('#university_add_mail_modal_mail').val('')
                $('#university_add_mail_modal').modal('hide');
            }).done(function(data){

                // -- 2.1 -- CONSOLE
                if(Guppy.responseDebugMode)
                    console.log(data);

                // -- 2.2 -- sonuc düzenlenir
                if(data.resultText == 'SUCCESS'){

                    // -- 2.2.1 -- add mail to list
                    row =   "<tr>" +
                                "<td value="+data.content['id']+">" + data.content['id'] + "</td>" +
                                "<td value="+data.content['name']+">" + data.content['name'] + "</td>" +
                                "<td><div class='btn-group'>" +
                                    "<button type='button' class='btn btn-info'>Action</button>" +
                                    "<button type='button' class='btn btn-info dropdown-toggle' data-toggle='dropdown'>" +
                                    "<span class='caret'></span>" +
                                    "<span class='sr-only'>Toggle Dropdown</span>" +
                                    "</button>" +
                                        "<ul class='dropdown-menu' role='menu'>" +
                                            "<li><a class='university_remove_mailserver' value='"+ data.content['id']+ "' >Delete</a></li>" +
                                        "</ul>" +
                                    "</div>" +
                                "</td>"
                            "</tr>";
                    $("#university_mail_list").append(row);

                }else if(data.resultText == 'SUCCESS_EMPTY'){
                    alert('Warning -- ' + ' SUCCESS_EMPTY');
                }else if(data.resultText == 'FAILURE_PERMISSION'){
                    alert('Warning -- ' + ' you are not authorization for this operation');
                }else{
                    alert('Warning -- ' + ' error occured while inserting mail server name to university');
                }
            });
        }

        function ajaxRemoveUniversityMailServer(university_mail_id, tr_element){

            // -- 1 --

            // -- 2 -- ajax call
                $.post("{{ path('university_remove_mailserver') }}" , {
                    mid : university_mail_id

                }).always(function(){

                }).done(function(data){

                    // -- 2.1 -- CONSOLE
                    if(Guppy.responseDebugMode)
                        console.log(data);

                    // -- 2.2 -- sonuc düzenlenir
                    if(data.resultText == 'SUCCESS'){

                        // -- 2.2.1 -- remove mail from list
                        tr_element.remove();

                    }else if(data.resultText == 'SUCCESS_EMPTY'){
                        alert('Warning -- ' + ' SUCCESS_EMPTY');
                    }else if(data.resultText == 'FAILURE_PERMISSION'){
                        alert('Warning -- ' + ' you are not authorization for this operation');
                    }else{
                        alert('Warning -- ' + ' error occured while inserting mail server name to university');
                    }
                });
        }


/***********************************************************************************************************************
 *                                          EVENTS
 **********************************************************************************************************************/
        $('#university_add_mail_modal_summit').on('click',function (event) {
            ajaxAddUniversityMailServer();
        });

        $(document).on('click', 'tr td .university_remove_mailserver' , function (event) {
            ajaxRemoveUniversityMailServer($(event.target).attr('value'),$(event.target).parentsUntil('tr').last().parent());
        });

/***********************************************************************************************************************
 *                                          DOCUMENT ON READY
 **********************************************************************************************************************/

        // -- File to base64
        document.getElementById("temp_img_loader").addEventListener("change", fileToBase64Converter, false);



    </script>
{% endblock %}
