{% extends 'AppBundle::main_base.html.twig' %}

{% block title %}Guppy - Topluluk Etkinlikleri{% endblock %}

{% block stylesheets %}

    {% stylesheets
            'theme/assets/css/cropper.css'
            'theme/assets/css/cropper-main.css' filter='cssrewrite' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block content %}

    <!-- --------------------------------------------- -->
    <!-- ------------------ CONTENT ------------------ -->
    <!-- --------------------------------------------- -->
    <section id="community-home" class="guppy-section align-center">
        <div class="container">

            <!-- -------------- SIDEBAR -------------- -->
            {{ include('AppBundle:community:community_sidebar.html.twig') }}


            <!-- -------------- CONTENT -------------- -->
            <div class="community-content col-md-10">

                <div class="community-content-header">

                    {#{% if community.imageBackgroundBase64 %}#}
                        {#<img src="{{ community.imageBackgroundBase64 }}" alt="{{ community.name }}" class="img-responsive" />#}
                    {#{% else %}#}
                        {#{% image 'theme/assets/img/guppy_bilkent_banner_01.jpg' %}#}
                            {#<img src="{{ asset_url }}" class="img-responsive" alt="{{ community.name }}" />#}
                        {#{% endimage %}#}
                    {#{% endif %}#}

                    <div class="img-preview preview-lg"></div>
                    <span id="community-background-image-edit" class="community-content-header-edit" data-modal-link="community-background-image"><i class="fa fa-cog" aria-hidden="true"></i></span>

                    <div class="modal-window" data-modal="community-background-image">
                        <div class="modal-box medium animated" data-animation="zoomIn" data-duration="100">
                            <span class="close-btn icon icon-office-52"></span>

                            <div class="row">
                                <div id="img-container-modal" class="col-md-12">
                                    <!-- <h3 class="page-header">Demo:</h3> -->
                                    <div class="img-container">
                                        {% if community.imageBackgroundBase64 %}
                                            <img src="{{ community.imageBackgroundBase64 }}" alt="{{ community.name }}" class="img-responsive" />
                                        {% else %}
                                            {% image 'theme/assets/img/guppy_bilkent_banner_01.jpg' %}
                                                <img src="{{ asset_url }}" class="img-responsive" alt="{{ community.name }}" />
                                            {% endimage %}

                                        {% endif %}
                                    </div>

                                    <!-- <h3 class="page-header">Data:</h3> -->
                                    <div class="docs-data">
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" id="dataX" style="display:none;" placeholder="x">
                                        </div>
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" id="dataY" style="display:none;" placeholder="y">
                                        </div>
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" id="dataWidth" style="display:none;" placeholder="width">
                                        </div>
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" id="dataHeight" style="display:none;" placeholder="height">
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div> <!-- modal end -->
                </div>


                <div class="community-content-body">

                    {% if communityUserList is defined and communityUserList|length > 0 %}
                        <div class="row co-admin">
                            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                            <div class="col-sm-12">
                                <p class="text-left"><strong>YÖNETİCİ LİSTESİ</strong></p>
                            </div>
                            {% for communityUser in communityUserList %}
                                {% if communityUser.user and communityUser.status == 1 %}
                                    <div class="col-sm-6">
                                        <div class="testimonial">
                                            <div class="author-block">
                                                <div class="photo-container">
                                                    {% if communityUser.user.imageBase64 %}
                                                        <img src="{{ communityUser.user.imageBase64 }}" alt="{{ communityUser.user.name }}" class="img-responsive" />
                                                    {% else %}
                                                        {% image 'theme/assets/img/guppy_avatar_001.png' %}
                                                            <img src="{{ asset_url }}" class="img-responsive" alt="{{ communityUser.user.name }}" />
                                                        {% endimage %}
                                                    {% endif %}
                                                </div>

                                                <strong class="name">{{ communityUser.user.name }} {{ communityUser.user.surname }}</strong>
                                                <small class="text-alt company">Yönetici @ {{ communityUser.community.name }}</small>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>


                        <div class="row co-member" style="padding-top: 20px;">
                            <div class="col-sm-12">
                                <p class="text-left"><strong>ÜYE LİSTESİ</strong></p>
                            </div>
                            {% for communityUser in communityUserList %}
                                {% if communityUser.user and communityUser.status == 2 %}
                                    <div class="col-sm-6">
                                        <div class="testimonial">
                                            <div class="author-block">
                                                <div class="photo-container">
                                                    {% if communityUser.user.imageBase64 %}
                                                        <img src="{{ communityUser.user.imageBase64 }}" alt="{{ communityUser.user.name }}" class="img-responsive" />
                                                    {% else %}
                                                        {% image 'theme/assets/img/guppy_avatar_001.png' %}
                                                        <img src="{{ asset_url }}" class="img-responsive" alt="{{ communityUser.user.name }}" />
                                                        {% endimage %}
                                                    {% endif %}
                                                </div>

                                                <strong class="name">{{ communityUser.user.name }} {{ communityUser.user.surname }}</strong>
                                                <small class="text-alt company">Üye @ {{ communityUser.community.name }}</small>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                    <!-- Topluluğun hiç üyesi olmaması durumu -->
                    {% else %}

                        <div class="row co-no-member">
                            Olamaz :( Bu topluluğun üyesi bulunmamakta...
                            <br>

                            {% if app.user and app.user.emailValidated %}
                                <div id="join_community_panel" class-="col-sm-2 align-right" style="padding-top: 20px;">
                                    <a id="join_community" class="btn btn-rounded btn-sm" data-community-id="{{ community.id }}">Topluluğa katıl</a>
                                </div>
                            {% else %}
                                Topluluğun ilk üyesi olmak için giriş yapabilirsin ;)
                            {% endif %}
                        </div>

                    {% endif %}

                </div><!-- community-content-body end -->

            </div>
        </div>
    </section>

{% endblock %}




{% block javascriptcontent %}

    {% javascripts
            'theme/assets/js/cropper.js'
            'theme/assets/js/cropper-main.js'
            'theme/assets/js/canvasjs/canvasjs.min.js'
            'theme/assets/js/canvasjs/jquery.canvasjs.min.js'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
    <script>

/***********************************************************************************************************************
 *                                          GLOBAL VARIABLE
 **********************************************************************************************************************/
        var debugMode = true;


/***********************************************************************************************************************
 *                                          UTIL FUNCTIONS
 **********************************************************************************************************************/


/***********************************************************************************************************************
 *                                          AJAX OPERATIONS
 **********************************************************************************************************************/

        $(window).on("load", function(){
            /*
            Highcharts.chart('container', {
                exporting: false,
                credits: false,
                title: {
                    text: 'Aylık Üye Kayıt Grafiği',
                    x: -20 //center
                },
                xAxis: {
                    categories: ['Oca', 'Şub', 'Mar', 'Nis', 'May', 'Haz',
                        'Tem', 'Ağu', 'Eyl', 'Eki', 'Kas', 'Ara']
                },
                yAxis: {
                    title: {
                        text: 'Üye Sayısı'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    valueSuffix: ' Kişi'
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: [{
                    name: 'Üyeler',
                    data: [[Date.UTC(1970, 9, 21), 0],
                        [Date.UTC(1970, 10, 4), 28],
                    [Date.UTC(1970, 10, 9), 25],
                    [Date.UTC(1970, 10, 27), 20],
                    [Date.UTC(1970, 11, 2), 23],
                    [Date.UTC(1970, 11, 26), 82],
                    [Date.UTC(1970, 11, 29), 47],
                    [Date.UTC(1971, 0, 11), 79],
                    [Date.UTC(1971, 0, 26), 72],
                    [Date.UTC(1971, 1, 3), 12],
                    [Date.UTC(1971, 1, 11), 52],
                    [Date.UTC(1971, 1, 25), 22],
                    [Date.UTC(1971, 2, 11), 48],
                    [Date.UTC(1971, 3, 11), 59],
                    [Date.UTC(1971, 4, 1), 85],
                    [Date.UTC(1971, 4, 5), 22],
                    [Date.UTC(1971, 4, 19), 15],
                    [Date.UTC(1971, 5, 3), 0]]
                }]
            });
            */


            var data2 = [];

            {% for key,val in registerDates %}
                data2.push([{{ key }},{{ val }}]);
            {% endfor %}

            /*
            console.log(JSON.stringify(data));

                // Create the chart
            $('#container').highcharts('StockChart', {
                rangeSelector : {
                    enabled : true
                },

                title : {
                    text : 'AAPL Stock Price'
                },

                series : [{
                    name : 'AAPL',
                    data : "[ [1263254400000,29.67], [1263340800000,30.09], [1263427200000,29.92], [1263513600000,29.42], [1263859200000,30.72], [1263945600000,30.25], [1264032000000,29.72], [1264118400000,28.25], [1264377600000,29.01], [1264464000000,29.42], [1264550400000,29.70], [1264636800000,28.47], [1264723200000,27.44]]",
                    tooltip: {
                        valueDecimals: 2
                    },
                    dataGrouping: {
                        approximation: "sum",
                        enabled: true,
                        forced: true,
                        units: [['month',[1]]],

                    }
                }]
            });
            */

            $.getJSON('http://www.highcharts.com/samples/data/jsonp.php?filename=aapl-c.json&callback=?', function(data) {
                // Create the chart
                console.log(data);
                $('#container').highcharts('StockChart', {


                    rangeSelector : {
                        selected : 1
                    },

                    title : {
                        text : 'Kullanıcı Kayıt Grafiği'
                    },

                    series : [{
                        name : 'Kişi',
                        data : data2,
                        tooltip: {
                            valueDecimals: 0
                        },
                        dataGrouping: {
                            approximation: "sum",
                            enabled: true,
                            forced: true,
                            units: [['month',[1]]],

                        }
                    }]
                });
            });

        });


        function ajaxRequestJoinCommunity(eventTarget){

            // -- 1 --


            // -- 2 --
            // ajax call
            $.post("{{ path('service_community_user_add') }}" ,{
                cid : $(eventTarget).attr('data-community-id'),
            }).always(function(){

            }).done(function(data){

                // -- 2.1 -- CONSOLE
                if(debugMode)
                    console.log(data);

                // -- 2.2 -- sonuc düzenlenir
                if(data.resultText == 'SUCCESS'){

                    $('#join_community_panel').slideUp();
                    toastr.success('Başvurunuz alınmıştır.');

                }else if(data.resultText == 'SUCCESS_EMPTY'){
                    toastr.error('Beklenmeyen hata ile karşılaşıldı');
                }else if(data.resultText == 'FAILURE_PERMISSION'){
                    toastr.error('Bu işlem için izniniz bulunmamaktadır');
                }else{
                    toastr.error('Beklenmeyen hata ile karşılaşıldı');
                }
            });
        }

/***********************************************************************************************************************
 *                                          EVENTS
 **********************************************************************************************************************/
        $(document).on('click','#join_community',function(event){
            ajaxRequestJoinCommunity(event.target);
        });

/***********************************************************************************************************************
 *                                          BEFORE DOCUMENT ON READY
 **********************************************************************************************************************/
        // we should get modal size before document ready
        $( "#community-background-image-edit" ).trigger( "click" );
        $('.close-btn').trigger( "click" );

/***********************************************************************************************************************
 *                                          DOCUMENT ON READY
 **********************************************************************************************************************/


    </script>

{% endblock %}