{% extends 'AppBundle::admin_base.html.twig' %}

{% block content %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Community
                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('admin_homepage') }}"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="{{ path('university_get') }}"> University </a></li>
                <li><a href="{{ path('community_list') }}"> Community </a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">


                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Community Register Page</h3>
                        </div>

                        <!-- /.box-body-filter -->
                        <div class="box-body">
                            <div class="box-body-filter">


                                <form id="event_list" action="{{ path('community_list') }}" method="post">

                                    <!-- universities -->
                                    <div class="form-group">
                                        <label>Choose University</label>
                                        <select id="university_id" class="form-control" name="university_id">

                                            <option value="" selected>All Universities</option>
                                            
                                            {% for university in universityList %}
                                                <option value="{{ university.id }}" {% if selectedUniversityId == university.id  %} selected {% endif %}>{{ university.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <button type="submit">List Communities</button>
                                </form>
                            </div>

                        </div>
                        <!-- /.box-body-filter -->

                        <!-- /.box-body -->
                        <div class="box-body">
                            <table id="university_list" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>University</th>
                                    <th>Community Name</th>
                                    <th>Active</th>
                                    <th>Operation</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for community in communityList %}
                                    <tr>
                                        <td>{{ community.university.name }}</td>
                                        <td>{{ community.name }} </td>
                                        <td>
                                            {% if community.isApproved %}
                                                Approved
                                            {% else %}
                                                Not Approved
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-info">Action</button>
                                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="{{ path('community_put', {'communityId': community.id}) }}">Edit</a></li>
                                                    <li><a href="{{ path('community_delete' , {'communityId': community.id}) }}">Delete</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="{{ path('community_user_list' , {'communityId': community.id}) }}">Assign Admin</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>University</th>
                                    <th>Community Name</th>
                                    <th>Active</th>
                                    <th>Operation</th>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                        <!-- /.box-body -->

                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.column -->

            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

{% endblock %}


{% block javascriptcontent %}
    <script>

/***********************************************************************************************************************
 *                                          GLOBAL VARIABLE
 **********************************************************************************************************************/
        var debugMode = true;


/***********************************************************************************************************************
 *                                          AJAX OPERATIONS
 **********************************************************************************************************************/
        function ajaxGetBoroughListByCity(cityId){

            // -- 1 --
            // open alert box to inform user

            // -- 2 --
            // ajax call
            $.post("{{ path('university_borough_list') }}" , {
                cid : cityId

            }).always(function(){


            }).done(function(data){

                // -- 2.1 -- CONSOLE
                if(debugMode)
                    console.log(data);

                // -- 2.2 -- sonuc düzenlenir
                if(data.resultText == 'SUCCESS'){

                    // -- 2.2.1 -- remove options
                    $('#address_borough_id').children().remove();

                    // -- 2.2.2 -- insert new options
                    data.content.forEach(function(borough) {
                        $('#address_borough_id').append($('<option>', {
                            value: borough['borough_id'],
                            text: borough['borough_name']
                        }));
                    });

                }else if(data.resultText == 'SUCCESS_EMPTY'){
                    alert('Warning -- ' + ' could not found any borough');
                }else if(data.resultText == 'FAILURE_PERMISSION'){
                    alert('Warning -- ' + ' you are not authorization for this operation');
                }else{
                    alert('Warning -- ' + ' error occured while getting borough list');
                }
            });
        }

/***********************************************************************************************************************
 *                                          CHECKER FUNCTIONS
 **********************************************************************************************************************/
        function checkCommunity(){
            return true;
        }

/***********************************************************************************************************************
 *                                          EVENTS
 **********************************************************************************************************************/

        $( "#community_submit" ).submit(function( event ) {


            if(!checkCommunity()){
                alert( "Form not valid" );
                event.preventDefault();
            }

        });

    </script>
{% endblock %}
