{% extends 'AppBundle::main_base.html.twig' %}

{% block title %}Guppy - Topluluk Anasayfa{% endblock %}

{% block stylesheets %}

    {% stylesheets
            'theme/assets/css/cropper.css'
            'theme/assets/css/cropper-main.css' filter='cssrewrite' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block content %}

    <!-- --------------------------------------------- -->
    <!-- ------------------ CONTENT ------------------ -->
    <!-- --------------------------------------------- -->
    <section id="community-home" class="guppy-section align-center">
        <div class="container">

            <!-- -------------- SIDEBAR -------------- -->
            {{ include('AppBundle:community:community_sidebar.html.twig') }}


            <!-- -------------- CONTENT -------------- -->
            <div class="community-content col-md-10">

                <div class="community-content-header">

                    {#{% if community.imageBackgroundBase64 %}#}
                        {#<img src="{{ community.imageBackgroundBase64 }}" alt="{{ community.name }}" class="img-responsive" />#}
                    {#{% else %}#}
                        {#{% image 'theme/assets/img/guppy_bilkent_banner_01.jpg' %}#}
                            {#<img src="{{ asset_url }}" class="img-responsive" alt="{{ community.name }}" />#}
                        {#{% endimage %}#}
                    {#{% endif %}#}

                    <div class="img-preview preview-lg"></div>
                    <span id="community-background-image-edit" class="community-content-header-edit" data-modal-link="community-background-image"><i class="fa fa-cog" aria-hidden="true"></i></span>

                    <div class="modal-window" data-modal="community-background-image">
                        <div class="modal-box medium animated" data-animation="zoomIn" data-duration="100">
                            <span class="close-btn icon icon-office-52"></span>

                            <div class="row">
                                <div id="img-container-modal" class="col-md-12">
                                    <!-- <h3 class="page-header">Demo:</h3> -->
                                    <div class="img-container">
                                        {% if community.imageBackgroundBase64 %}
                                            <img src="{{ community.imageBackgroundBase64 }}" alt="{{ community.name }}" class="img-responsive" />
                                        {% else %}
                                            {% image 'theme/assets/img/guppy_bilkent_banner_01.jpg' %}
                                                <img src="{{ asset_url }}" class="img-responsive" alt="{{ community.name }}" />
                                            {% endimage %}

                                        {% endif %}
                                    </div>

                                    <!-- <h3 class="page-header">Data:</h3> -->
                                    <div class="docs-data">
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" id="dataX" style="display:none;" placeholder="x">
                                        </div>
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" id="dataY" style="display:none;" placeholder="y">
                                        </div>
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" id="dataWidth" style="display:none;" placeholder="width">
                                        </div>
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" id="dataHeight" style="display:none;" placeholder="height">
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div> <!-- modal end -->
                </div>

                <div class="community-content-body">

                    <div class="fade active in">

                        {% if app.user and app.user.emailValidated %}

                            {% if communityUser and communityUser.status == 10 %}
                                <div id="join_community_panel" class-="col-sm-2 align-right" style="padding-top: 20px;">
                                    Topluluk rolünüz yönetici tarafından araştırılmaktadır.
                                </div>
                            {% elseif communityUser and (communityUser.status == 1 or communityUser.status == 2) %}
                                <!-- Kullanıcı bu durumda  topluluk yöneticisidir -->
                            {% else %}
                                <div id="join_community_panel" class-="col-sm-2 align-right" style="padding-top: 20px;">
                                    <a id="join_community" class="btn btn-rounded btn-sm" data-community-id="{{ community.id }}">Topluluğa katıl</a>
                                </div>
                            {% endif %}

                        {% endif %}

                        <div class="col-sm-12 align-left" style="padding-top: 20px;">
                            <h6>Hakkında</h6>
                            <p>{{ community.description }}</p>
                        </div>

                        <div class="col-sm-6 align-left" style="padding-top: 20px;">
                            <h6>İletişim Bilgileri</h6>
                            <ul class="list">
                                {% if community.link_facebook %}<li>
                                    <div class="community-social-icon"><i class="fa fa-facebook "></i></div>
                                    <a href="{{ community.link_facebook }}" target="_blank">{{ community.link_facebook }}</a></li>
                                {% endif %}

                                {% if community.link_twitter %}<li>
                                    <div class="community-social-icon"><i class="fa fa-twitter "></i></div>
                                    <a href="{{ community.link_twitter }}" target="_blank">{{ community.link_twitter }}</a></li>
                                {% endif %}

                                {% if community.link_instagram %}
                                    <div class="community-social-icon"><li><i class="fa fa-instagram "></i></div>
                                    <a href="{{ community.link_instagram }}" target="_blank">{{ community.link_instagram }}</a></li>
                                {% endif %}

                            </ul>
                        </div>
                    </div>

                </div><!-- community-content-body end -->

            </div>
        </div>
    </section>

{% endblock %}





{% block javascriptcontent %}

    {% javascripts
            'theme/assets/js/cropper.js'
            'theme/assets/js/cropper-main.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>

/***********************************************************************************************************************
 *                                          GLOBAL VARIABLE
 **********************************************************************************************************************/
        var debugMode = true;

/***********************************************************************************************************************
 *                                          UTIL FUNCTIONS
 **********************************************************************************************************************/


/***********************************************************************************************************************
 *                                          AJAX OPERATIONS
 **********************************************************************************************************************/

        function ajaxRequestJoinCommunity(eventTarget){

            // -- 1 --


            // -- 2 --
            // ajax call
            $.post("{{ path('service_community_user_add') }}" ,{
                cid : $(eventTarget).attr('data-community-id'),
            }).always(function(){

            }).done(function(data){

                // -- 2.1 -- CONSOLE
                if(debugMode)
                    console.log(data);

                // -- 2.2 -- sonuc düzenlenir
                if(data.resultText == 'SUCCESS'){

                    $('#join_community_panel').slideUp();
                    toastr.success('Başvurunuz alınmıştır.');

                }else if(data.resultText == 'SUCCESS_EMPTY'){
                    toastr.error('Beklenmeyen hata ile karşılaşıldı');
                }else if(data.resultText == 'FAILURE_PERMISSION'){
                    toastr.error('Bu işlem için izniniz bulunmamaktadır');
                }else{
                    toastr.error('Beklenmeyen hata ile karşılaşıldı');
                }
            });
        }

/***********************************************************************************************************************
 *                                          EVENTS
 **********************************************************************************************************************/

        $(document).on('click','#join_community',function(event){
            ajaxRequestJoinCommunity(event.target);
        });

/***********************************************************************************************************************
 *                                          BEFORE DOCUMENT ON READY
 **********************************************************************************************************************/
        // we should get modal size before document ready
        $( "#community-background-image-edit" ).trigger( "click" );
        $('.close-btn').trigger( "click" );


/***********************************************************************************************************************
 *                                          DOCUMENT ON READY
 **********************************************************************************************************************/

    </script>

{% endblock %}

