{% extends 'AppBundle::main_base.html.twig' %}

{% block title %}{{ community.name }} Üyeleri{% endblock %}
{% block metaDescription %}{{ community.name }} üyelerinin listesidir{% endblock %}
{% block metaKeyword %}Seruvent bilkent üniversitesi kulüp üyeleri {% endblock %}

{% block stylesheets %}

    {% stylesheets
            'theme/assets/css/cropper.css'
            'theme/assets/css/cropper-main.css' filter='cssrewrite' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block metaFacebook %}

    <meta property="og:url"           content="{{ path('user_community_homepage', {'communityId':community.id})}}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ community.name }}" />
    <meta property="og:description"   content="{{ community.name }} yakın zamandaki etkinliklerini" />
    {% if community.imageBackgroundBase64 %}
        <meta property="og:image" content="{{ community.imageBackgroundBase64 }}"/>
    {% else %}
        {% image 'theme/assets/img/guppy_bilkent_banner_01.jpg' %}
        <meta property="of:image" content="{{ asset_url }}"/>
        {% endimage %}
    {% endif %}
{% endblock %}

{% block content %}

    <!-- --------------------------------------------- -->
    <!-- ------------------ CONTENT ------------------ -->
    <!-- --------------------------------------------- -->
    <section id="community-home" class="guppy-section align-center guppy-section-community">
        <div class="container">
            <div class="ge-community-page-content">

                {#<!-- -------------- SIDEBAR -------------- -->#}
                {{ include('AppBundle:community:community_sidebar.html.twig') }}


                {#<!-- -------------- CONTENT -------------- -->#}
                <div class="ge-community-right-content col-md-10 col-sm-9">

                    {{ include('AppBundle:community:community_background.html.twig') }}

                    <div class="ge-content-box">


                        <div id="dialog-form" title="Rol seçimi">
                            <p class="validateTips">Başvurmak istediğiniz rolü seçiniz.</p>

                            <form id="roleForm">
                                <fieldset>
                                    {% for role in userRoles %}
                                        <input type="radio" name="role" value="{{ role.id }}"> {{ role.name }}<br>
                                    {% endfor %}
                                </fieldset>
                            </form>
                        </div>

                        {% if communityAllUserRoles is defined and communityAllUserRoles|length > 0 %}
                            <div class="row co-admin">
                                <div class="col-sm-12">
                                    <p class="text-left"><strong>YÖNETİCİ LİSTESİ</strong></p>
                                </div>
                                {% for communityUserRole in communityAllUserRoles %}
                                    {% if communityUserRole.communityRole.id == 100 %}
                                        <div class="col-sm-6">
                                            <div class="testimonial">
                                                <div class="author-block">
                                                    <div class="photo-container">
                                                        {% if communityUserRole.communityUser.user.imageBase64 %}
                                                            <img src="{{ communityUserRole.communityUser.user.imageBase64 }}" alt="{{ communityUserRole.communityUser.user.name }}" class="img-responsive" />
                                                        {% else %}
                                                            {% image 'theme/assets/img/guppy_avatar_001.png' %}
                                                            <img src="{{ asset_url }}" class="img-responsive" alt="{{ communityUserRole.communityUser.user.name }}" />
                                                            {% endimage %}
                                                        {% endif %}
                                                    </div>

                                                    <strong class="name">{{ communityUserRole.communityUser.user.name }} {{ communityUserRole.communityUser.user.surname }}</strong>
                                                    <small class="text-alt company">Yönetici @ {{ communityUserRole.communityUser.community.name }}</small>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>


                            <div class="row co-member" style="padding-top: 20px;">
                                <div class="col-sm-12">
                                    <p class="text-left"><strong>ÜYE LİSTESİ</strong></p>
                                </div>
                                {% for communityUserRole in communityAllUserRoles %}
                                    {% if communityUserRole.communityRole.id == 200 %}
                                        <div class="col-sm-6">
                                            <div class="testimonial">
                                                <div class="author-block">
                                                    <div class="photo-container">
                                                        {% if communityUserRole.communityUser.user.imageBase64 %}
                                                            <img src="{{ communityUserRole.communityUser.user.imageBase64 }}" alt="{{ communityUserRole.communityUser.user.name }}" class="img-responsive" />
                                                        {% else %}
                                                            {% image 'theme/assets/img/guppy_avatar_001.png' %}
                                                            <img src="{{ asset_url }}" class="img-responsive" alt="{{ communityUserRole.communityUser.user.name }}" />
                                                            {% endimage %}
                                                        {% endif %}
                                                    </div>

                                                    <strong class="name">{{ communityUserRole.communityUser.user.name }} {{ communityUserRole.communityUser.user.surname }}</strong>
                                                    <small class="text-alt company">Üye @ {{ communityUserRole.communityUser.community.name }}</small>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <div class="col-sm-12">
                                    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>
                                </div>
                            </div>

                            <!-- Topluluğun hiç üyesi olmaması durumu -->
                        {% else %}

                            <div class="row co-no-member">
                                Olamaz :( Bu topluluğun üyesi bulunmamakta...
                                <br>
                            </div>

                        {% endif %}


                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}




{% block javascriptcontent %}

    {% javascripts
            'theme/assets/js/cropper.js'
            'theme/assets/js/cropper-main.js'
            'theme/assets/js/canvasjs/canvasjs.min.js'
            'theme/assets/js/social.js'
            'theme/assets/js/canvasjs/jquery.canvasjs.min.js'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>

    {#<!-- -------------- COMMUNITY COMMON JS -------------- -->#}
    {% include('AppBundle:community:community_background.javascript.twig') %}

    <script>

/***********************************************************************************************************************
 *                                          LOCAL VARIABLE
 **********************************************************************************************************************/


/***********************************************************************************************************************
 *                                          UTIL FUNCTIONS
 **********************************************************************************************************************/


/***********************************************************************************************************************
 *                                          AJAX OPERATIONS
 **********************************************************************************************************************/
var dialog,form;
function applyToRole() {
    if($('input[name=role]:checked', '#roleForm').val()) {

        $.post("{{ path('service_apply_role') }}", {
            roleId: $('input[name=role]:checked', '#roleForm').val(),
            communityId: {{ community.id }}
        }).always(function () {
        }).done(function (data) {
            if (data.resultCode == 'result.Guppy.001') {
                dialog.dialog("close");
                toastr.success("Başvurunuz kaydedildi.");
            } else if (data.resultCode == 'result.Guppy.601') {
                dialog.dialog("close");
                toastr.error("Bu pozisyona daha önce başvurmuş olduğunuz için işleminiz gerçekleştirilemedi.");
            }else{
                toastr.error("Beklenmeyen bir hata oluştu.");
            }
        });
    }else{
        toastr.warning("Lütfen bir rol seçiniz.");
    }
    return "";
}

$( ".admin_apply" ).button().on( "click", function() {
    dialog.dialog( "open" );
});


$(window).on("load", function(){


            dialog = $( "#dialog-form" ).dialog({
                autoOpen: false,
                height: 300,
                width: 350,
                modal: true,
                buttons: {
                    "Başvur": applyToRole,
                    "İptal": function() {
                        dialog.dialog( "close" );
                    }
                },
                close: function() {
                    form[ 0 ].reset();
                }
            });

    form = dialog.find( "form" ).on( "submit", function( event ) {
        event.preventDefault();
        addUser();
    });


            var data2 = [];

            {% for key,val in registerDates %}
                data2.push([{{ key }},{{ val }}]);
            {% endfor %}
            console.log(data2);

                // Create the chart
            $('#container').highcharts('StockChart', {
                navigator: false,
                scrollbar: false,
                rangeSelector : false,
                credits: false,
                exporting: false,
                yAxis:{
                    allowDecimals: false
                },
                title : {
                    text : 'Kullanıcı Kayıt Grafiği'
                },

                series : [{
                    name : 'Kişi',
                    data : data2,
                    tooltip: {
                        valueDecimals: 0
                    },
                    dataGrouping: {
                        approximation: "sum",
                        enabled: true,
                        forced: true,
                        units: [['month',[1]]]

                    }
                }]
            });

        });

/***********************************************************************************************************************
 *                                          EVENTS
 **********************************************************************************************************************/


/***********************************************************************************************************************
 *                                          BEFORE DOCUMENT ON READY
 **********************************************************************************************************************/
        // we should get modal size before document ready
        $( "#community-background-image-edit" ).trigger( "click" );
        $('.close-btn').trigger( "click" );

/***********************************************************************************************************************
 *                                          DOCUMENT ON READY
 **********************************************************************************************************************/


    </script>

{% endblock %}