{% extends 'AppBundle::main_base.html.twig' %}

{% block title %}Guppy - Topluluk Etkinlikleri{% endblock %}

{% block stylesheets %}

    {% stylesheets
            'theme/assets/css/cropper.css'
            'theme/assets/css/cropper-main.css' filter='cssrewrite' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block content %}

    <!-- --------------------------------------------- -->
    <!-- ------------------ CONTENT ------------------ -->
    <!-- --------------------------------------------- -->
    <section id="community-home" class="guppy-section align-center">
        <div class="container">

            <!-- -------------- SIDEBAR -------------- -->
            {{ include('AppBundle:community:community_sidebar.html.twig') }}


            <!-- -------------- CONTENT -------------- -->
            <div class="community-content col-md-10">

                <div class="community-content-header">

                    {#{% if community.imageBackgroundBase64 %}#}
                        {#<img src="{{ community.imageBackgroundBase64 }}" alt="{{ community.name }}" class="img-responsive" />#}
                    {#{% else %}#}
                        {#{% image 'theme/assets/img/guppy_bilkent_banner_01.jpg' %}#}
                            {#<img src="{{ asset_url }}" class="img-responsive" alt="{{ community.name }}" />#}
                        {#{% endimage %}#}
                    {#{% endif %}#}

                    <div class="img-preview preview-lg"></div>
                    <span id="community-background-image-edit" class="community-content-header-edit" data-modal-link="community-background-image"><i class="fa fa-cog" aria-hidden="true"></i></span>

                    <div class="modal-window" data-modal="community-background-image">
                        <div class="modal-box medium animated" data-animation="zoomIn" data-duration="100">
                            <span class="close-btn icon icon-office-52"></span>

                            <div class="row">
                                <div id="img-container-modal" class="col-md-12">
                                    <!-- <h3 class="page-header">Demo:</h3> -->
                                    <div class="img-container">
                                        {% if community.imageBackgroundBase64 %}
                                            <img src="{{ community.imageBackgroundBase64 }}" alt="{{ community.name }}" class="img-responsive" />
                                        {% else %}
                                            {% image 'theme/assets/img/guppy_bilkent_banner_01.jpg' %}
                                                <img src="{{ asset_url }}" class="img-responsive" alt="{{ community.name }}" />
                                            {% endimage %}

                                        {% endif %}
                                    </div>

                                    <!-- <h3 class="page-header">Data:</h3> -->
                                    <div class="docs-data">
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" id="dataX" style="display:none;" placeholder="x">
                                        </div>
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" id="dataY" style="display:none;" placeholder="y">
                                        </div>
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" id="dataWidth" style="display:none;" placeholder="width">
                                        </div>
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" id="dataHeight" style="display:none;" placeholder="height">
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div> <!-- modal end -->
                </div>

                <div id="dialog-form" title="Rol seçimi">
                    <p class="validateTips">Başvurmak istediğiniz rolü seçiniz.</p>

                    <form id="roleForm">
                        <fieldset>
                            {% for role in userRoles %}
                                <input type="radio" name="role" value="{{ role.id }}"> {{ role.name }}<br>
                            {% endfor %}
                        </fieldset>
                    </form>
                </div>

                <div class="community-content-body">
                    <div class="event-share-register align-right" style="padding-top: 5px; padding-bottom: 5px; border-bottom: 1px solid; border-bottom-color: #fe4918;">
                        <a id="admin_apply" class="btn" ><span>YÖNETİCİ OL</span></a>
                    </div>


                    {% if communityUserList is defined and communityUserList|length > 0 %}
                        <div class="row co-admin">
                            <div class="col-sm-12">
                                <p class="text-left"><strong>YÖNETİCİ LİSTESİ</strong></p>
                            </div>
                            {% for communityUser in communityUserList %}
                                {% if communityUser.communityRole.id == 100 %}
                                    <div class="col-sm-6">
                                        <div class="testimonial">
                                            <div class="author-block">
                                                <div class="photo-container">
                                                    {% if communityUser.communityUser.user.imageBase64 %}
                                                        <img src="{{ communityUser.communityUser.user.imageBase64 }}" alt="{{ communityUser.communityUser.user.name }}" class="img-responsive" />
                                                    {% else %}
                                                        {% image 'theme/assets/img/guppy_avatar_001.png' %}
                                                            <img src="{{ asset_url }}" class="img-responsive" alt="{{ communityUser.communityUser.user.name }}" />
                                                        {% endimage %}
                                                    {% endif %}
                                                </div>

                                                <strong class="name">{{ communityUser.communityUser.user.name }} {{ communityUser.communityUser.user.surname }}</strong>
                                                <small class="text-alt company">Yönetici @ {{ communityUser.communityUser.community.name }}</small>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>


                        <div class="row co-member" style="padding-top: 20px;">
                            <div class="col-sm-12">
                                <p class="text-left"><strong>ÜYE LİSTESİ</strong></p>
                            </div>
                            {% for communityUser in communityUserList %}
                                {% if communityUser.communityUser.user and communityUser.communityUser.status == 200 %}
                                    <div class="col-sm-6">
                                        <div class="testimonial">
                                            <div class="author-block">
                                                <div class="photo-container">
                                                    {% if communityUser.user.imageBase64 %}
                                                        <img src="{{ communityUser.user.imageBase64 }}" alt="{{ communityUser.user.name }}" class="img-responsive" />
                                                    {% else %}
                                                        {% image 'theme/assets/img/guppy_avatar_001.png' %}
                                                        <img src="{{ asset_url }}" class="img-responsive" alt="{{ communityUser.user.name }}" />
                                                        {% endimage %}
                                                    {% endif %}
                                                </div>

                                                <strong class="name">{{ communityUser.user.name }} {{ communityUser.user.surname }}</strong>
                                                <small class="text-alt company">Üye @ {{ communityUser.community.name }}</small>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="col-sm-12">
                                <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>
                            </div>
                        </div>

                    <!-- Topluluğun hiç üyesi olmaması durumu -->
                    {% else %}

                        <div class="row co-no-member">
                            Olamaz :( Bu topluluğun üyesi bulunmamakta...
                            <br>

                            {% if app.user and app.user.emailValidated %}
                                <div id="join_community_panel" class-="col-sm-2 align-right" style="padding-top: 20px;">
                                    <a id="join_community" class="btn btn-rounded btn-sm" data-community-id="{{ community.id }}">Topluluğa katıl</a>
                                </div>
                            {% else %}
                                Topluluğun ilk üyesi olmak için giriş yapabilirsin ;)
                            {% endif %}
                        </div>

                    {% endif %}

                </div><!-- community-content-body end -->

            </div>
        </div>
    </section>

{% endblock %}




{% block javascriptcontent %}

    {% javascripts
            'theme/assets/js/cropper.js'
            'theme/assets/js/cropper-main.js'
            'theme/assets/js/canvasjs/canvasjs.min.js'
            'theme/assets/js/canvasjs/jquery.canvasjs.min.js'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
    <script>

/***********************************************************************************************************************
 *                                          LOCAL VARIABLE
 **********************************************************************************************************************/


/***********************************************************************************************************************
 *                                          UTIL FUNCTIONS
 **********************************************************************************************************************/


/***********************************************************************************************************************
 *                                          AJAX OPERATIONS
 **********************************************************************************************************************/
var dialog,form;
function applyToRole() {
    if($('input[name=role]:checked', '#roleForm').val()) {

        $.post("{{ path('service_apply_role') }}", {
            roleId: $('input[name=role]:checked', '#roleForm').val(),
            communityId: {{ community.id }}
        }).always(function () {
        }).done(function (data) {
            if (data.resultCode == 'result.Guppy.001') {
                dialog.dialog("close");
                toastr.success("Başvurunuz kaydedildi.");
            } else if (data.resultCode == 'result.Guppy.601') {
                dialog.dialog("close");
                toastr.error("Bu pozisyona daha önce başvurmuş olduğunuz için işleminiz gerçekleştirilemedi.");
            }else{
                toastr.error("Beklenmeyen bir hata oluştu.");
            }
        });
    }else{
        toastr.warning("Lütfen bir rol seçiniz.");
    }
    return "";
}

$( "#admin_apply" ).button().on( "click", function() {
    dialog.dialog( "open" );
});


$(window).on("load", function(){


            dialog = $( "#dialog-form" ).dialog({
                autoOpen: false,
                height: 300,
                width: 350,
                modal: true,
                buttons: {
                    "Başvur": applyToRole,
                    "İptal": function() {
                        dialog.dialog( "close" );
                    }
                },
                close: function() {
                    form[ 0 ].reset();
                }
            });

    form = dialog.find( "form" ).on( "submit", function( event ) {
        event.preventDefault();
        addUser();
    });


            var data2 = [];

            {% for key,val in registerDates %}
                data2.push([{{ key }},{{ val }}]);
            {% endfor %}
            console.log(data2);

                // Create the chart
            $('#container').highcharts('StockChart', {
                navigator: false,
                scrollbar: false,
                rangeSelector : false,
                credits: false,
                exporting: false,
                yAxis:{
                    allowDecimals: false
                },
                title : {
                    text : 'Kullanıcı Kayıt Grafiği'
                },

                series : [{
                    name : 'Kişi',
                    data : data2,
                    tooltip: {
                        valueDecimals: 0
                    },
                    dataGrouping: {
                        approximation: "sum",
                        enabled: true,
                        forced: true,
                        units: [['month',[1]]]

                    }
                }]
            });

        });


        function ajaxRequestJoinCommunity(eventTarget){

            // -- 1 --


            // -- 2 --
            // ajax call
            $.post("{{ path('service_community_user_add') }}" ,{
                cid : $(eventTarget).attr('data-community-id'),
            }).always(function(){

            }).done(function(data){

                // -- 2.1 -- CONSOLE
                if(Guppy.responseDebugMode)
                    console.log(data);

                // -- 2.2 -- sonuc düzenlenir
                if(data.resultText == 'SUCCESS'){

                    $('#join_community_panel').slideUp();
                    toastr.success('Başvurunuz alınmıştır.');

                }else if(data.resultText == 'SUCCESS_EMPTY'){
                    toastr.error('Beklenmeyen hata ile karşılaşıldı');
                }else if(data.resultText == 'FAILURE_PERMISSION'){
                    toastr.error('Bu işlem için izniniz bulunmamaktadır');
                }else{
                    toastr.error('Beklenmeyen hata ile karşılaşıldı');
                }
            });
        }

/***********************************************************************************************************************
 *                                          EVENTS
 **********************************************************************************************************************/
        $(document).on('click','#join_community',function(event){
            ajaxRequestJoinCommunity(event.target);
        });

/***********************************************************************************************************************
 *                                          BEFORE DOCUMENT ON READY
 **********************************************************************************************************************/
        // we should get modal size before document ready
        $( "#community-background-image-edit" ).trigger( "click" );
        $('.close-btn').trigger( "click" );

/***********************************************************************************************************************
 *                                          DOCUMENT ON READY
 **********************************************************************************************************************/


    </script>

{% endblock %}