{% extends 'AppBundle::main_base.html.twig' %}

{% block title %}Guppy - Community Home{% endblock %}


{% block content %}

    <!-- --------------------------------------------- -->
    <!-- ------------------ CONTENT ------------------ -->
    <!-- --------------------------------------------- -->
    <section id="community-home" class="guppy-section align-center">
        <div class="container">

            <!-- -------------- SIDEBAR -------------- -->
            <div class="community-sidebar col-md-2">
                <div class="community-sidebar-photo" >
                    <div class="society">
                        <div class="photo-wrapper rounded">
                            <img src="{{ community.imageBase64 }}" alt="{{ community.name }}" class="img-responsive" />
                        </div>
                    </div>
                </div>

                <div class="community-sidebar-name">

                    <h7><span class="highlight">{{ community.name }}</span></h7>
                </div>

                <hr>
                <div class="community-sidebar-navigation">
                    <ul class="community-dropdown-menu">
                        <li class="community-navigation-item"><a href="{{ path('user_community_homepage', {'communityId': community.id}) }}" class="navigation-link active">Genel Bilgi</a></li>
                        <li class="community-navigation-item"><a href="{{ path('user_community_events_homepage', {'communityId': community.id}) }}" class="navigation-link">Etkinlikler</a></li>
                        <li class="community-navigation-item"><a href="community-home-people.html" class="navigation-link">Üyeler</a></li>
                    </ul>
                </div>
            </div>


            <!-- -------------- CONTENT -------------- -->
            <div class="community-content col-md-10">

                <div class="community-content-header">

                    {% if community.imageBackgroundBase64 %}
                        <img src="{{ community.imageBackgroundBase64 }}" alt="{{ community.name }}" class="img-responsive" />
                    {% else %}
                        {% image 'theme/assets/img/guppy_bilkent_banner_01.jpg' %}
                            <img src="{{ asset_url }}" class="img-responsive" alt="{{ community.name }}" />
                        {% endimage %}
                    {% endif %}

                    <span class="community-content-header-edit"><i class="fa fa-cog" aria-hidden="true"></i></span>
                </div>


                <div class="community-content-body">

                    <div class="fade active in">
                        <div class="col-sm-12 align-left">
                            <h6>Hakkında</h6>
                            <p>{{ community.description }}</p>
                        </div>

                        <div class="col-sm-6 align-left" style="padding-top: 20px;">
                            <h6>İletişim Bilgileri</h6>
                            <ul class="list">
                                {% if facebook is defined and facebook is not null %}<li><i class="fa fa-facebook "></i>{{ facebook }}</li>{% endif %}
                                {% if twitter is defined and  twitter is not null %}<li><i class="fa fa-twitter "></i>{{ twitter }}</li>{% endif %}
                                {% if instagram is defined and instagram is not null %}<li><i class="fa fa-instagram "></i>{{ instagram }}</li>{% endif %}
                                {#<li><i class="fa fa-envelope"></i>bilkentmizahkultur@gmail.com</li>#}
                                {#<li><i class="fa fa-phone"></i>(518) 457-5181 10001</li>#}
                            </ul>
                        </div>
                    </div>

                </div><!-- community-content-body end -->

            </div>
        </div>
    </section>

{% endblock %}





{% block javascriptcontent %}
    <script>

/***********************************************************************************************************************
 *                                          GLOBAL VARIABLE
 **********************************************************************************************************************/
        var debugMode = true;


/***********************************************************************************************************************
 *                                          UTIL FUNCTIONS
 **********************************************************************************************************************/

        function fileToBase64Converter() {
            if (this.files && this.files[0]) {
                var FR= new FileReader();
                FR.onload = function(e) {
                    $('#img_viewer').attr('src', e.target.result);
                    $('#university_image_base64').val(e.target.result);
                };
                FR.readAsDataURL( this.files[0] );
            }
        }

/***********************************************************************************************************************
 *                                          AJAX OPERATIONS
 **********************************************************************************************************************/


/***********************************************************************************************************************
 *                                          EVENTS
 **********************************************************************************************************************/

        $(document).on('click', '.community-content-header-edit i' , function (event) {
            alert("Kulüp yöneticisi arkaplan resmini buradan değiştirebilecek...");
        });

/***********************************************************************************************************************
 *                                          DOCUMENT ON READY
 **********************************************************************************************************************/

        // -- File to base64
        //document.getElementById("temp_img_loader").addEventListener("change", fileToBase64Converter, false);


    </script>

{% endblock %}

