{% extends 'AppBundle::main_base.html.twig' %}

{% block title %}{{ community.name }}{% endblock %}
{% block metaDescription %}{{ community.name }} üniversite öğrenci topluluğu hakkında bilgi bilgi verir{% endblock %}
{% block metaKeyword %}Seruvent bilkent üniversitesi öğrenci topluluğu kulübü {% endblock %}

{% block stylesheets %}

    {% stylesheets
            'theme/assets/css/cropper.css'
            'theme/assets/css/cropper-main.css' filter='cssrewrite' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block content %}

    <!-- --------------------------------------------- -->
    <!-- ------------------ CONTENT ------------------ -->
    <!-- --------------------------------------------- -->
    <section id="community-home" class="guppy-section align-center guppy-section-community">
        <div class="container">
            <div class="ge-community-page-content">

                {#<!-- -------------- SIDEBAR -------------- -->#}
                {{ include('AppBundle:community:community_sidebar.html.twig') }}



                {#<!-- -------------- CONTENT -------------- -->#}
                <div class="ge-community-right-content col-md-10 col-sm-9">

                    {% include('AppBundle:community:community_background.html.twig') %}

                    <div class="ge-content-box">
                        <div class="ge-community-content-row">
                            <h5>Hakkında</h5>
                            {{ community.description }}
                        </div>

                        {% if community.link_facebook or community.link_twitter or community.link_instagram %}
                            <div class="ge-community-content-row">
                                <h5>İletişim Bilgileri</h5>
                                <ul class="list ge-community-contact-link">
                                    {% if community.link_facebook %}<li>
                                        <li><a href="{{ community.link_facebook }}" target="_blank"><i class="fa fa-facebook "></i>{{ community.link_facebook }}</a>/</li>
                                    {% endif %}
                                    {% if community.link_twitter %}<li>
                                        <li><a href="{{ community.link_twitter }}" target="_blank"><i class="fa fa-twitter"></i>{{ community.link_twitter }}</a>/</li>
                                    {% endif %}
                                    {% if community.link_instagram %}<li>
                                        <li><a href="{{ community.link_instagram }}" target="_blank"><i class="ffa fa-instagram"></i>{{ community.link_instagram }}</a>/</li>
                                    {% endif %}

                                    {#<li><a href="#"><i class="fa fa-envelope"></i>bilkentmizahkultur@gmail.com</a></li>#}
                                    {#<li><a href="#"><i class="fa fa-phone"></i>(518) 457-5181 10001</a></li>#}
                                </ul>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}





{% block javascriptcontent %}

    {% javascripts
            'theme/assets/js/cropper.js'
            'theme/assets/js/cropper-main.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {#<!-- -------------- COMMUNITY COMMON JS -------------- -->#}
    {% include('AppBundle:community:community_background.javascript.twig') %}

    <script>
        /***************************************************************************************************************
         *                                    BEFORE DOCUMENT ON READY
         **************************************************************************************************************/
        // we should get modal size before document ready
        $( "#community-background-image-edit" ).trigger( "click" );
        $('.close-btn').trigger( "click" );

    </script>

{% endblock %}

