{% extends 'AppBundle::admin_base.html.twig' %}

{% block content %}


    {#------------------------------------#}
    {#--- --- MAIL ADD DIALOG --- ---#}
    {#------------------------------------#}
    <div class="modal" id="community_add_link_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Community Add Link Modal</h4>
                </div>
                <div class="modal-body">
                    <input id="community_new_link" type="text" class="form-control" placeholder="Enter Community Link Address (https://www.facebook.com/mizahkultur/) ">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button id="community_add_link_modal_summit" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->



    {#------------------------------------#}
    {#--- --- PAGE CONTENT --- ---#}
    {#------------------------------------#}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Community
                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('admin_homepage') }}"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="{{ path('community_list') }}"></i> Community</a></li>
                <li class="active">Edit</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">

                <div class="col-md-6">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Community Social Network Links</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">

                            <strong>*** You can add social networks link such as facebook, instagram etc. to community. ***</strong>

                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>#ID</th>
                                        <th>Community Link</th>
                                    </tr>
                                </thead>

                                <tbody id="community_link_list">
                                    {% for communityLink in communityLinkList %}
                                        <tr>
                                            <td>{{ communityLink.id }}</td>
                                            <td>{{ communityLink.link }}</td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-info">Action</button>
                                                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a class='community_remove_link' value="{{ communityLink.id }}">Delete</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                                    <tfoot>
                                        <tr></tr>
                                    </tfoot>
                            </table>

                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button id="community_add_link" data-toggle="modal" data-target="#community_add_link_modal">Add New Link</button>
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.column -->


                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Community Update Page</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">

                            {#{{ form_start(form, {'attr': {'role': 'form'}}) }}#}
                            <form action="{{ path('community_put' , {'communityId': community.id}) }}" method="post">

                                <!-- text input -->
                                <div class="form-group">
                                    <label>Community Name</label>
                                    <input type="text" class="form-control" name="community_name" placeholder="Enter Community Name" value="{{ community.name }}">
                                </div>

                                <!-- text input -->
                                <div class="form-group">
                                    <label>Community Description</label>
                                    <textarea class="form-control" rows="3" name="community_description" placeholder="Enter Community Description">{{ community.description }}</textarea>
                                </div>

                                <!-- community Image -->
                                <div class="form-group">
                                    <label>Community Image</label>
                                    <input id="temp_img_loader" type='file'>
                                    <img id="img_viewer" height="150" src="{{ community.imageBase64 }}">
                                    <input type="text" class="form-control" id="community_image_base64" name="community_image_base64" style="display: none;" value="{{ community.imageBase64 }}">
                                </div>

                                <button type="submit">Update !</button>
                            </form>
                            {#{{ form_end(form) }}#}

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.column -->

            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

{% endblock %}


{% block javascriptcontent %}
    <script>

/***********************************************************************************************************************
 *                                          GLOBAL VARIABLE
 **********************************************************************************************************************/
        var debugMode = true;

/***********************************************************************************************************************
 *                                          UTIL FUNCTIONS
 **********************************************************************************************************************/
        function fileToBase64Converter() {
            if (this.files && this.files[0]) {
                var FR= new FileReader();
                FR.onload = function(e) {
                    $('#img_viewer').attr('src', e.target.result);
                    $('#community_image_base64').val(e.target.result);
                };
                FR.readAsDataURL( this.files[0] );
            }
        }

/***********************************************************************************************************************
 *                                          AJAX OPERATIONS
 **********************************************************************************************************************/

        function ajaxPostCommunityLink(){

            // -- 1 --
            // open alert box to inform user

            // -- 2 --
            // ajax call
            $.post("{{ path('community_link_add') }}" , {
                cid : {{ community.id }},
                clink : $('#community_new_link').val()

            }).always(function(){
                $('#community_new_link').val('')
                $('#community_add_link_modal').modal('hide');
            }).done(function(data){

                // -- 2.1 -- CONSOLE
                if(debugMode)
                    console.log(data);

                // -- 2.2 -- sonuc düzenlenir
                if(data.resultText == 'SUCCESS'){

                    // -- 2.2.1 -- add mail to list
                    row =   "<tr>" +
                                "<td value="+data.content['id']+">" + data.content['id'] + "</td>" +
                                "<td value="+data.content['linkname']+">" + data.content['linkname'] + "</td>" +
                                "<td>" +
                                    "<div class='btn-group'>" +
                                        "<button type='button' class='btn btn-info'>Action</button>" +
                                        "<button type='button' class='btn btn-info dropdown-toggle' data-toggle='dropdown'>" +
                                            "<span class='caret'></span>" +
                                            "<span class='sr-only'>Toggle Dropdown</span>" +
                                        "</button>" +
                                        "<ul class='dropdown-menu' role='menu'>" +
                                            "<li><a class='community_remove_link' value='"+ data.content['id']+ "' >Delete</a></li>" +
                                        "</ul>" +
                                    "</div>" +
                                "</td>"
                            "</tr>";

                    $("#community_link_list").append(row);

                }else if(data.resultText == 'SUCCESS_EMPTY'){
                    alert('Warning -- ' + ' SUCCESS_EMPTY');
                }else if(data.resultText == 'FAILURE_PERMISSION'){
                    alert('Warning -- ' + ' you are not authorization for this operation');
                }else{
                    alert('Warning -- ' + ' error occured while inserting new link to community');
                }
            });
        }


        function ajaxDeleteCommunityLink(community_link_id,tr_element){

            // -- 1 --
            // open alert box to inform user

            // -- 2 --
            // ajax call
            $.post("{{ path('community_link_remove') }}" , {
                clid : community_link_id

            }).always(function(){

            }).done(function(data){

                // -- 2.1 -- CONSOLE
                if(debugMode)
                    console.log(data);

                // -- 2.2 -- sonuc düzenlenir
                if(data.resultText == 'SUCCESS'){

                    tr_element.remove();

                }else if(data.resultText == 'SUCCESS_EMPTY'){
                    alert('Warning -- ' + ' SUCCESS_EMPTY');
                }else if(data.resultText == 'FAILURE_PERMISSION'){
                    alert('Warning -- ' + ' you are not authorization for this operation');
                }else{
                    alert('Warning -- ' + ' error occured while inserting new link to community');
                }
            });
        }


/***********************************************************************************************************************
 *                                          EVENTS
 **********************************************************************************************************************/

        $('#community_add_link_modal_summit').on('click',function (event) {
            ajaxPostCommunityLink();
        });

        $(document).on('click', 'tr td .community_remove_link' , function (event) {
            ajaxDeleteCommunityLink($(event.target).attr('value'),$(event.target).parentsUntil('tr').last().parent());
        });


/***********************************************************************************************************************
 *                                          DOCUMENT ON READY
 **********************************************************************************************************************/
        // -- File to base64
        document.getElementById("temp_img_loader").addEventListener("change", fileToBase64Converter, false);


    </script>
{% endblock %}
