{% extends 'AppBundle:admin:admin_base.html.twig' %}

{% block content %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Community
                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('admin_homepage') }}"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="{{ path('admin_university_list') }}"> University </a></li>
                <li><a href="{{ path('admin_community_list') }}"> Community </a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">


                <!-- -- FILTER PART -- -->
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Community Filter</h3>
                        </div>

                        <div class="box-body">
                            <div class="box-body-filter">

                                <form id="event_list" action="{{ path('admin_community_list') }}" method="post">

                                    <!-- universities -->
                                    <div class="form-group">
                                        <label>Choose University</label>
                                        <select id="university_id" class="form-control" name="university_id">

                                            <option value="" selected>All Universities</option>

                                            {% for university in universityList %}
                                                <option value="{{ university.id }}" {% if selectedUniversityId == university.id  %} selected {% endif %}>{{ university.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <button type="submit">List Communities</button>
                                </form>
                            </div>
                        </div>

                        <div class="box-footer"></div>
                    </div>
                </div>


                <!-- -- PAGE CONTENT PART -- -->
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Community Register Page</h3>
                        </div>

                        <!-- /.box-body -->
                        <div class="box-body">
                            <table id="university_list" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>University</th>
                                    <th>Community Name</th>
                                    <th>Active</th>
                                    <th>Operation</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for community in communityList %}
                                    <tr data-community-id="{{ community.id }}">
                                        <td>{{ community.university.name }}</td>
                                        <td>{{ community.name }} </td>

                                        {% if community.isApproved %}
                                            <td><span class="label label-success">Approved</span></td>
                                        {% else %}
                                            <td><span class="label label-warning">Not Approved</span></td>
                                        {% endif %}

                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-info">Action</button>
                                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul id='op-list' class="dropdown-menu" role="menu">
                                                    <li><a href="{{ path('admin_community_update', {'communityId': community.id}) }}">Edit</a></li>
                                                    <li><a data-href="{{ path('admin_community_delete' , {'communityId': community.id}) }}" id="admin_delete_button" data-toggle="modal" data-target="#alert_modal" >Delete</a></li>
                                                    <li class="divider"></li>
                                                    <li><a data-href="{{ path('admin_community_delete' , {'communityId': community.id}) }}" data-toggle="modal" data-op-name="publish" >Publish</a></li>
                                                    <li><a data-href="{{ path('admin_community_delete' , {'communityId': community.id}) }}" data-toggle="modal" data-op-name="unpublish" >Unpublish</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="{{ path('admin_community_user_list' , {'communityId': community.id}) }}">Assign Admin</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>University</th>
                                    <th>Community Name</th>
                                    <th>Active</th>
                                    <th>Operation</th>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                        <!-- /.box-body -->

                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.column -->

            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

    {#--- --- ALERT DIALOG --- ---#}
    <div class="modal modal-warning" id="alert_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Default Modal</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure to remove community?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    {#<a type="button" class="btn btn-outline">Sure</a>#}
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

{% endblock %}


{% block javascriptcontent %}
    <script>

/***********************************************************************************************************************
 *                                          LOCAL VARIABLE
 **********************************************************************************************************************/


/***********************************************************************************************************************
 *                                          AJAX OPERATIONS
 **********************************************************************************************************************/
        function ajaxPublishCommunity(eventTarget){

            // -- 2 --
            // ajax call
            $.post("{{ path('admin_community_publish_service') }}" ,{
                operation : $(eventTarget).attr('data-op-name'),
                cid : $(eventTarget).parentsUntil('tr').last().parent().attr('data-community-id'),
            }).always(function(){

            }).done(function(data){

                // -- 2.1 -- CONSOLE
                if(Guppy.responseDebugMode)
                    console.log(data);

                // -- 2.2 -- sonuc düzenlenir
                if(data.resultText == 'SUCCESS'){

                    if(data.content['publishState']){
                        $(eventTarget).parentsUntil('td').last().parent().prev().find('span').removeAttr('class');
                        if(data.content['publishState']=='accepted'){
                            $(eventTarget).parentsUntil('td').last().parent().prev().find('span').addClass('label label-success').html('Accepted');
                        }else if(data.content['publishState']=='rejected'){
                            $(eventTarget).parentsUntil('td').last().parent().prev().find('span').addClass('label label-danger').html('Rejected');
                        }else{
                            $(eventTarget).parentsUntil('td').last().parent().prev().find('span').addClass('label label-danger').html('Unknown state');
                        }
                    }

                    //toastr.success(data.content['success_msg']);
                }else if(data.resultText == 'SUCCESS_EMPTY'){
                    //toastr.error('Beklenmeyen hata ile karşılaşıldı');
                    alert('Beklenmeyen hata ile karşılaşıldı');
                }else if(data.resultText == 'FAILURE_PERMISSION'){
                    //toastr.error('Bu işlem için izniniz bulunmamaktadır');
                    alert('Bu işlem için izniniz bulunmamaktadır');
                }else{
                    //toastr.error('Beklenmeyen hata ile karşılaşıldı');
                    alert('Beklenmeyen hata ile karşılaşıldı');
                }
            });
        }

/***********************************************************************************************************************
 *                                          CHECKER FUNCTIONS
 **********************************************************************************************************************/
        function checkCommunity(){
            return true;
        }

/***********************************************************************************************************************
 *                                          EVENTS
 **********************************************************************************************************************/

        $( "#community_submit" ).submit(function( event ) {

            if(!checkCommunity()){
                alert( "Form not valid" );
                event.preventDefault();
            }

        });

        $(document).on('click', '#admin_delete_button', function (event) {
            // create submit form before modal open
            $('.modal-footer').find('a').remove();
            $('.modal-footer').append('<a href="'+$(event.target).attr('data-href')+'" type="button" class="btn btn-outline">Sure</a>');
        });

        $(document).on('click', '#op-list a', function(event){
            if($(event.target).attr('data-op-name')=='publish'){
                ajaxPublishCommunity(event.target);
            }

        });

    </script>
{% endblock %}
