{% extends 'AppBundle:admin:admin_base.html.twig' %}

{% block content %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Community User
                <small>admin Panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('admin_homepage') }}"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Community Users</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- /.row -->
            <div class="row">

                <div class="col-md-12">
                    <div class="box box-info">

                        <!-- /.box-header -->
                        <div class="box-header with-border">
                            <h3 class="box-title">Admin User List</h3>
                        </div>
                        <!-- /.box-header -->

                        <!-- /.box-body -->
                        <div class="box-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>User email</th>
                                    <th>University</th>
                                    <th>Community</th>
                                    <th>Role</th>
                                    <th>Status</th>
                                    <th>Operation</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for communityUserRole in communityUserRoles %}
                                    <tr data-community-user-id="{{ communityUserRole.id }}" data-cid="{{ communityUserRole.communityUser.community.id }}" data-uid="{{ communityUserRole.communityUser.user.id }}">
                                        <td>{{ communityUserRole.communityUser.user.username }}</td>
                                        <td>{{ communityUserRole.communityUser.user.email }}</td>
                                        <td> University name </td>
                                        <td>{{ communityUserRole.communityUser.community.name }}</td>
                                        <td style="text-transform: uppercase;">{{ communityUserRole.communityRole.name }}</td>

                                        {% if communityUserRole.state.id == statePending.id %}
                                            <td><span class="label label-warning">Pending</span></td>
                                        {% elseif communityUserRole.state.id == stateAccept.id %}
                                            <td><span class="label label-success">Accepted</span></td>
                                        {% elseif communityUserRole.state.id == stateReject.id %}
                                            <td><span class="label label-danger">Rejected</span></td>
                                        {% else %}
                                            <td><span class="label label-danger">Unknown</span></td>
                                        {% endif %}

                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-info">Confirm/Reject</button>
                                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul id='op-list' class="dropdown-menu" role="menu">
                                                    <li><a data-op-status="confirm">Confirm</a></li>
                                                    <li class="divider"></li>
                                                    <li><a data-op-status="reject">Reject </a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Username</th>
                                    <th>User email</th>
                                    <th>User University email</th>
                                    <th>Status</th>
                                    <th>Role</th>
                                    <th>User Role</th>
                                    <th>Operation</th>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.column -->
            </div>
            <!-- /.row -->

        </section>
        <!-- /.content -->
    </div>

{% endblock %}


{% block javascriptcontent %}
    <script>

/***********************************************************************************************************************
 *                                          LOCAL VARIABLE
 **********************************************************************************************************************/


/***********************************************************************************************************************
 *                                          AJAX OPERATIONS
 **********************************************************************************************************************/

        /**
         * FUNCTION DEPRECIATED
         */
        function ajaxUpdateCommunityUserStatus(eventtarget){

            // -- 1 --
            // open alert box to inform user
            dataParent = $(eventtarget).parentsUntil('tr').last().parent();

            // -- 2 --
            // ajax call
            $.post("{{ path('admin_service_community_user_confirm') }}" ,{
                cid : dataParent.attr('data-cid'),
                uid : dataParent.attr('data-uid'),
                status : $(eventtarget).attr('data-op-status')
            }).always(function(){

            }).done(function(data){

                // -- 2.1 -- CONSOLE
                if(Guppy.responseDebugMode)
                    console.log(data);

                // -- 2.2 -- sonuc düzenlenir
                if(data.resultText == 'SUCCESS'){

                    labelSpan = $(eventtarget).parentsUntil('tr').last().parent().find('td .label');
                    labelSpan.removeAttr('class');
                    if(data.content['status']==1){
                        labelSpan.attr('class' , 'label label-success').html('Co-Admin');
                    }else if(data.content['status']==2){
                        labelSpan.attr('class' , 'label label-success').html('Co-Member');
                    }else if(data.content['status']==11){
                        labelSpan.attr('class' , 'label label-danger').html('Rejected');
                    }

                }else if(data.resultText == 'SUCCESS_EMPTY'){
                    alert('Warning -- ' + ' SUCCESS_EMPTY');
                }else if(data.resultText == 'FAILURE_PERMISSION'){
                    alert('Warning -- ' + ' you are not authorization for this operation');
                }else{
                    alert('Warning -- ' + ' error occured while getting social network list');
                }
            });
        }


        function ajaxConfirmCommunityUser(eventTarget){

            // -- 2 --
            // ajax call
            $.post("{{ path('admin_user_community_membership_applications_confirm') }}" ,{
                operation : $(eventTarget).attr('data-op-status'),
                communityUserRoleId : $(eventTarget).parentsUntil('tr').last().parent().attr('data-community-user-id'),
            }).always(function(){

            }).done(function(data){

                // -- 2.1 -- CONSOLE
                if(Guppy.responseDebugMode)
                    console.log(data);

                // -- 2.2 -- sonuc düzenlenir
                if(data.resultText == 'SUCCESS'){

                    $(eventTarget).parentsUntil('td').last().parent().prev().find('span').removeAttr('class');
                    if(data.content['roleState']=='accepted'){
                        $(eventTarget).parentsUntil('td').last().parent().prev().find('span').addClass('label label-success').html('Accepted');
                    }else if(data.content['roleState']=='rejected'){
                        $(eventTarget).parentsUntil('td').last().parent().prev().find('span').addClass('label label-danger').html('Rejected');
                    }
                    //toastr.success(data.content['success_msg']);
                }else if(data.resultText == 'SUCCESS_EMPTY'){
                    //toastr.error('Beklenmeyen hata ile karşılaşıldı');
                    alert('Beklenmeyen hata ile karşılaşıldı');
                }else if(data.resultText == 'FAILURE_PERMISSION'){
                    //toastr.error('Bu işlem için izniniz bulunmamaktadır');
                    alert('Bu işlem için izniniz bulunmamaktadır');
                }else{
                    //toastr.error('Beklenmeyen hata ile karşılaşıldı');
                    alert('Beklenmeyen hata ile karşılaşıldı');
                }
            });
        }

/***********************************************************************************************************************
 *                                          CHECKER FUNCTIONS
 **********************************************************************************************************************/


/***********************************************************************************************************************
 *                                          EVENTS
 **********************************************************************************************************************/

        $(document).on('click', '#op-list a', function(event){
            ajaxConfirmCommunityUser(event.target);
        });

    </script>
{% endblock %}
