{% extends 'base.html.twig' %}

{% block stylesheets %}

    {% stylesheets
            'theme/assets/css/guppy-style.css'
            'theme/assets/css/style.css' filter='cssrewrite' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% javascripts
            'theme/assets/js/html5shiv.js'
            'theme/assets/js/respond.min.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}



{% block body %}

    <div class="preloader-mask">
        <div class="preloader"></div>
    </div>

    <!-- BODY -->
    <section id="countdown" class="section align-center" style="display: none;">

        <!-- Countdown  -->
        <div class="row counters-wrapper countdown">
            <div class="col-sm-3">
                <div class="counter-block counter-block-no-border has-separator">
                    <div class="counter-box">
                        <div class="counter-content">
                            <span class="count">{dnn}</span>

                            <p class="title">days</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="counter-block counter-block-no-border has-separator">
                    <div class="counter-box">
                        <div class="counter-content">
                            <span class="count">{hnn}</span>

                            <p class="title">hours</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="counter-block counter-block-no-border has-separator">
                    <div class="counter-box">
                        <div class="counter-content">
                            <span class="count">{mnn}</span>

                            <p class="title">minutes</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="counter-block counter-block-no-border ">
                    <div class="counter-box">
                        <div class="counter-content">
                            <span class="count">{snn}</span>

                            <p class="title">seconds</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end-of-countdown -->

        <h2 class="extra-heading">Guppy Event</h2>
        <h6 class="thin base-font">Üniversite Etkinlikleri Portalı</h6>

    </section>

    <section id="clubs" class="section align-center">
        <div class="container">
            <h5 class="heading-alt">Kayıtlı Kulüpler</h5>
            <br>

            {% for community in communities %}
                <div class="col-sm-2 guppy-main-page-community-box">
                    <div class="speaker guppy-main-page-community-box-content">
                        <div class="photo-wrapper rounded">
                            {% image 'upload/default-gallery1.jpg' %}
                                {% if community.imageBase64 %}
                                    <img src="{{ community.imageBase64 }}" alt="Community" class="img-responsive" />
                                {% else %}
                                    <img src="{{ asset_url }}" alt="Community" class="img-responsive" />
                                {% endif %}
                            {% endimage %}
                        </div>
                        <h3 class="name"><a href="{{ path("homepage_club") }}">{{ community.name }}</a></h3>
                        <p class="text-alt"><small>{{ community.university.name }}</small></p>
                        {#<p class="about">{{ community.description }}</p>#}
                        <ul class="speaker-socials">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                        </ul>
                    </div>
                </div>
            {% endfor %}

        </div>
    </section>

    <section class="section align-center">
        <div class="container">
            <h5 class="heading-alt">Yaklaşan Etkinlikler</h5>
            <p class="text-alt" style="margin-bottom: 80px;">for big and long events</p>

            <!-- Schedule start -->
            <div class="schedule">

                <!-- Navigation by day start -->
                <div class="nav-wrapper"><span class="nav-current"><h5 class="highlight">Bugün</h5><p class="text-alt">08/10/2016</p></span><ul class="nav nav-schedule">
                        <li class="active"><a href="#day1" data-toggle="tab"><h5 class="highlight">Bugün</h5><p class="text-alt">08/10/2016</p></a></li>
                        <li><a href="#day2" data-toggle="tab"><h5 class="highlight">Yarın</h5><p class="text-alt">09/10/2016</p></a></li>
                        <li><a href="#day3" data-toggle="tab"><h5 class="highlight">Çarşamba</h5><p class="text-alt">10/10/2016</p></a></li>
                        <li><a href="#day4" data-toggle="tab"><h5 class="highlight">Perşembe</h5><p class="text-alt">11/10/2016</p></a></li>
                        <li><a href="#day5" data-toggle="tab"><h5 class="highlight">Cuma</h5><p class="text-alt">12/10/2016</p></a></li>
                    </ul></div>
                <!-- Navigation by day end -->

                <!-- First level content start -->
                <div class="tab-content">

                    <!-- Day 1 content start -->
                    <div id="day1" class="tab-pane fade active in">

                        <!-- Navigation by auditorium start -->
                        <div class="nav-wrapper"><span class="nav-current">Ankara</span><ul class="nav nav-schedule">
                                <li class="active"><a href="#day1_auditorium1" data-toggle="tab">Ankara</a></li>
                                <li><a href="#day1_auditorium2" data-toggle="tab">İstanbul</a></li>
                                <li><a href="#day1_auditorium3" data-toggle="tab">İzmir</a></li>
                            </ul></div>
                        <!-- Navigation by auditorium start -->

                        <!-- Second level content start -->
                        <div class="tab-content tab-content-schedule">

                            <!-- Auditorium 1 content start -->
                            <div id="day1_auditorium1" class="tab-pane fade active in">

                                <!-- Accordion start -->
                                <div class="panel-group" id="day1_auditorium1_timeline">

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <span class="fa fa-cutlery"></span>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time1" class="schedule-item-toggle">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>2:20 PM</strong>
                                            <h6 class="title">Hoşgeldin Yemeği</h6>
                                        </a>
                                        <div id="day1_auditorium1_time1" class="panel-collapse collapse in schedule-item-body">
                                            <article>
                                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                                <strong class="highlight speaker-name">Dağcılık Topluluğu</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper"></div>
                                        <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time2" class="schedule-item-toggle collapsed">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>5:40 PM</strong>
                                            <h6 class="title">Kale Gezisi</h6>
                                        </a>
                                        <div id="day1_auditorium1_time2" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                                <strong class="highlight speaker-name">Okidoki Topluluğu</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="https://s-media-cache-ak0.pinimg.com/564x/4f/0e/b3/4f0eb37910ce31857575ca120b87d17a.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time3" class="schedule-item-toggle collapsed">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>7:00 PM</strong>
                                            <h6 class="title">Close your eyes around the world<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day1_auditorium1_time3" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="http://birimler.dpu.edu.tr/app/views/panel/ckfinder/userfiles/29/images/tarihkulturturizimtop/000.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time4" class="schedule-item-toggle collapsed">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>7:40 PM</strong>
                                            <h6 class="title">Passion and people<i class="icon icon-arrows-06"></i></h6>
                                            <h6 class="title">Passion and people<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day1_auditorium1_time4" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                </div>
                                <!-- Accordion end -->

                            </div>
                            <!-- Auditorium 1 content end -->

                            <!-- Auditorium 2 content start -->
                            <div id="day1_auditorium2" class="tab-pane fade in">

                                <!-- Accordion start -->
                                <div class="panel-group" id="day1_auditorium2_timeline">

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="../assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day1_auditorium2_timeline" href="#day1_auditorium2_time1" class="schedule-item-toggle">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>2:20 PM</strong>
                                            <h6 class="title">How to organize great events<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day1_auditorium2_time1" class="panel-collapse collapse in schedule-item-body">
                                            <article>
                                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="../assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day1_auditorium2_timeline" href="#day1_auditorium2_time2" class="schedule-item-toggle collapsed">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>5:40 PM</strong>
                                            <h6 class="title">Scaling into crowded space<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day1_auditorium2_time2" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                </div>
                                <!-- Accordion end -->

                            </div>
                            <!-- Auditorium 2 content end -->

                            <!-- Auditorium 3 content start -->
                            <div id="day1_auditorium3" class="tab-pane fade in">

                                <!-- Accordion start -->
                                <div class="panel-group" id="day1_auditorium3_timeline">

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="../assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day1_auditorium3_timeline" href="#day1_auditorium3_time1" class="schedule-item-toggle">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>2:20 PM</strong>
                                            <h6 class="title">How to organize great events<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day1_auditorium3_time1" class="panel-collapse collapse in schedule-item-body">
                                            <article>
                                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                </div>
                                <!-- Accordion end -->

                            </div>
                            <!-- Auditorium 3 content end -->

                        </div>
                        <!-- Second level content end -->

                    </div>
                    <!-- Day 1 content end -->

                    <!-- Day 2 content start -->
                    <div id="day2" class="tab-pane fade in">

                        <!-- Navigation by auditorium start -->
                        <div class="nav-wrapper"><span class="nav-current">Auditorium 1</span><ul class="nav nav-schedule">
                                <li class="active"><a href="#day2_auditorium1" data-toggle="tab">Auditorium 1</a></li>
                                <li><a href="#day2_auditorium2" data-toggle="tab">Auditorium 2</a></li>
                                <li><a href="#day2_auditorium3" data-toggle="tab">Auditorium 3</a></li>
                            </ul></div>
                        <!-- Navigation by auditorium end -->

                        <!-- Second level content start -->
                        <div class="tab-content tab-content-schedule">

                            <!-- Auditorium 1 content start -->
                            <div id="day2_auditorium1" class="tab-pane fade active in">

                                <!-- Accordion start -->
                                <div class="panel-group" id="day2_auditorium1_timeline">

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="../assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day2_auditorium1_timeline" href="#day2_auditorium1_time1" class="schedule-item-toggle">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>2:20 PM</strong>
                                            <h6 class="title">How to organize great events<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day2_auditorium1_time1" class="panel-collapse collapse in schedule-item-body">
                                            <article>
                                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="../assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day2_auditorium1_timeline" href="#day2_auditorium1_time3" class="schedule-item-toggle collapsed">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>7:00 PM</strong>
                                            <h6 class="title">Close your eyes around the world<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day2_auditorium1_time3" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="../assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day2_auditorium1_timeline" href="#day2_auditorium1_time4" class="schedule-item-toggle collapsed">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>7:40 PM</strong>
                                            <h6 class="title">Passion and people<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day2_auditorium1_time4" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                </div>
                                <!-- Accordion end -->

                            </div>
                            <!-- Auditorium 1 content end -->

                            <!-- Auditorium 2 content start -->
                            <div id="day2_auditorium2" class="tab-pane fade in">

                                <!-- Accordion start -->
                                <div class="panel-group" id="day2_auditorium2_timeline">

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="../assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day2_auditorium2_timeline" href="#day2_auditorium2_time1" class="schedule-item-toggle">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>2:20 PM</strong>
                                            <h6 class="title">How to organize great events<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day2_auditorium2_time1" class="panel-collapse collapse in schedule-item-body">
                                            <article>
                                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                </div>
                                <!-- Accordion end -->

                            </div>
                            <!-- Auditorium 2 content end -->

                            <!-- Auditorium 3 content start -->
                            <div id="day2_auditorium3" class="tab-pane fade in">

                                <!-- Accordion start -->
                                <div class="panel-group" id="day2_auditorium3_timeline">

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="../assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day2_auditorium3_timeline" href="#day2_auditorium3_time1" class="schedule-item-toggle">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>2:20 PM</strong>
                                            <h6 class="title">How to organize great events<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day2_auditorium3_time1" class="panel-collapse collapse in schedule-item-body">
                                            <article>
                                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="../assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day2_auditorium3_timeline" href="#day2_auditorium3_time2" class="schedule-item-toggle collapsed">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>5:40 PM</strong>
                                            <h6 class="title">Scaling into crowded space<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day2_auditorium3_time2" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="../assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day2_auditorium3_timeline" href="#day2_auditorium3_time4" class="schedule-item-toggle collapsed">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>7:40 PM</strong>
                                            <h6 class="title">Passion and people<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day2_auditorium3_time4" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                </div>
                                <!-- Accordion end -->

                            </div>
                            <!-- Auditorium 3 content end -->

                        </div>
                        <!-- Second level content end -->

                    </div>
                    <!-- Day 2 content end -->

                    <!-- Day 3 content start -->
                    <div id="day3" class="tab-pane fade in">

                        <!-- Navigation by auditorium start -->
                        <div class="nav-wrapper"><span class="nav-current">Auditorium 1</span><ul class="nav nav-schedule">
                                <li class="active"><a href="#day3_auditorium1" data-toggle="tab">Auditorium 1</a></li>
                                <li><a href="#day3_auditorium2" data-toggle="tab">Auditorium 2</a></li>
                                <li><a href="#day3_auditorium3" data-toggle="tab">Auditorium 3</a></li>
                            </ul></div>
                        <!-- Navigation by auditorium end -->

                        <!-- Second level content start -->
                        <div class="tab-content tab-content-schedule">

                            <!-- Auditorium 1 content start -->
                            <div id="day3_auditorium1" class="tab-pane fade active in">

                                <!-- Accordion start -->
                                <div class="panel-group" id="day3_auditorium1_timeline">

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="../assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day3_auditorium1_timeline" href="#day3_auditorium1_time1" class="schedule-item-toggle">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>2:20 PM</strong>
                                            <h6 class="title">How to organize great events<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day3_auditorium1_time1" class="panel-collapse collapse in schedule-item-body">
                                            <article>
                                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="../assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day3_auditorium1_timeline" href="#day3_auditorium1_time2" class="schedule-item-toggle collapsed">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>5:40 PM</strong>
                                            <h6 class="title">Scaling into crowded space<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day3_auditorium1_time2" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                </div>
                                <!-- Accordion end -->

                            </div>
                            <!-- Auditorium 1 content end -->

                            <!-- Auditorium 2 content start -->
                            <div id="day3_auditorium2" class="tab-pane fade in">

                                <!-- Accordion start -->
                                <div class="panel-group" id="day3_auditorium2_timeline">

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="../assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day3_auditorium2_timeline" href="#day3_auditorium2_time1" class="schedule-item-toggle">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>2:20 PM</strong>
                                            <h6 class="title">How to organize great events<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day3_auditorium2_time1" class="panel-collapse collapse in schedule-item-body">
                                            <article>
                                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                </div>
                                <!-- Accordion end -->

                            </div>
                            <!-- Auditorium 2 content end -->

                            <!-- Auditorium 3 content start -->
                            <div id="day3_auditorium3" class="tab-pane fade in">

                                <div class="schedule-item">No schedule yet.</div>

                            </div>
                            <!-- Auditorium 3 content end -->

                        </div>
                        <!-- Second level content end -->

                    </div>
                    <!-- Day 3 content end -->

                    <!-- Day 4 content start -->
                    <div id="day4" class="tab-pane fade in">

                        <!-- Navigation by auditorium start -->
                        <div class="nav-wrapper"><span class="nav-current">Auditorium 1</span><ul class="nav nav-schedule">
                                <li class="active"><a href="#day4_auditorium1" data-toggle="tab">Auditorium 1</a></li>
                                <li><a href="#day4_auditorium2" data-toggle="tab">Auditorium 2</a></li>
                                <li><a href="#day4_auditorium3" data-toggle="tab">Auditorium 3</a></li>
                            </ul></div>
                        <!-- Navigation by auditorium start -->

                        <!-- Second level content start -->
                        <div class="tab-content tab-content-schedule">

                            <!-- Auditorium 1 content start -->
                            <div id="day4_auditorium1" class="tab-pane fade active in">

                                <!-- Accordion start -->
                                <div class="panel-group" id="day4_auditorium1_timeline">

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <span class="fa fa-cutlery"></span>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day4_auditorium1_timeline" href="#day4_auditorium1_time1" class="schedule-item-toggle">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>2:20 PM</strong>
                                            <h6 class="title">How to organize great events<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day4_auditorium1_time1" class="panel-collapse collapse in schedule-item-body">
                                            <article>
                                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper"></div>
                                        <a data-toggle="collapse" data-parent="#day4_auditorium1_timeline" href="#day4_auditorium1_time2" class="schedule-item-toggle collapsed">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>5:40 PM</strong>
                                            <h6 class="title">Scaling into crowded space<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day4_auditorium1_time2" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="../assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day4_auditorium1_timeline" href="#day4_auditorium1_time3" class="schedule-item-toggle collapsed">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>7:00 PM</strong>
                                            <h6 class="title">Close your eyes around the world<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day4_auditorium1_time3" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="../assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day4_auditorium1_timeline" href="#day4_auditorium1_time4" class="schedule-item-toggle collapsed">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>7:40 PM</strong>
                                            <h6 class="title">Passion and people<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day4_auditorium1_time4" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                </div>
                                <!-- Accordion end -->

                            </div>
                            <!-- Auditorium 1 content end -->

                            <!-- Auditorium 2 content start -->
                            <div id="day4_auditorium2" class="tab-pane fade in">

                                <!-- Accordion start -->
                                <div class="panel-group" id="day4_auditorium2_timeline">

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="../assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day4_auditorium2_timeline" href="#day4_auditorium2_time1" class="schedule-item-toggle">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>2:20 PM</strong>
                                            <h6 class="title">How to organize great events<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day4_auditorium2_time1" class="panel-collapse collapse in schedule-item-body">
                                            <article>
                                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="../assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day4_auditorium2_timeline" href="#day4_auditorium2_time2" class="schedule-item-toggle collapsed">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>5:40 PM</strong>
                                            <h6 class="title">Scaling into crowded space<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day4_auditorium2_time2" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                </div>
                                <!-- Accordion end -->

                            </div>
                            <!-- Auditorium 2 content end -->

                            <!-- Auditorium 3 content start -->
                            <div id="day4_auditorium3" class="tab-pane fade in">

                                <!-- Accordion start -->
                                <div class="panel-group" id="day4_auditorium3_timeline">

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="../assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day4_auditorium3_timeline" href="#day4_auditorium3_time1" class="schedule-item-toggle">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>2:20 PM</strong>
                                            <h6 class="title">How to organize great events<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day4_auditorium3_time1" class="panel-collapse collapse in schedule-item-body">
                                            <article>
                                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                </div>
                                <!-- Accordion end -->

                            </div>
                            <!-- Auditorium 3 content end -->

                        </div>
                        <!-- Second level content end -->

                    </div>
                    <!-- Day 4 content end -->

                    <!-- Day 5 content start -->
                    <div id="day5" class="tab-pane fade in">

                        <!-- Navigation by auditorium start -->
                        <div class="nav-wrapper"><span class="nav-current">Auditorium 1</span><ul class="nav nav-schedule">
                                <li class="active"><a href="#day5_auditorium1" data-toggle="tab">Auditorium 1</a></li>
                                <li><a href="#day5_auditorium2" data-toggle="tab">Auditorium 2</a></li>
                                <li><a href="#day5_auditorium3" data-toggle="tab">Auditorium 3</a></li>
                            </ul></div>
                        <!-- Navigation by auditorium end -->

                        <!-- Second level content start -->
                        <div class="tab-content tab-content-schedule">

                            <!-- Auditorium 1 content start -->
                            <div id="day5_auditorium1" class="tab-pane fade active in">

                                <!-- Accordion start -->
                                <div class="panel-group" id="day5_auditorium1_timeline">

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="../assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day5_auditorium1_timeline" href="#day5_auditorium1_time1" class="schedule-item-toggle">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>2:20 PM</strong>
                                            <h6 class="title">How to organize great events<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day5_auditorium1_time1" class="panel-collapse collapse in schedule-item-body">
                                            <article>
                                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="../assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day5_auditorium1_timeline" href="#day5_auditorium1_time3" class="schedule-item-toggle collapsed">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>7:00 PM</strong>
                                            <h6 class="title">Close your eyes around the world<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day5_auditorium1_time3" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="../assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day5_auditorium1_timeline" href="#day5_auditorium1_time4" class="schedule-item-toggle collapsed">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>7:40 PM</strong>
                                            <h6 class="title">Passion and people<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day5_auditorium1_time4" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                </div>
                                <!-- Accordion end -->

                            </div>
                            <!-- Auditorium 1 content end -->

                            <!-- Auditorium 2 content start -->
                            <div id="day5_auditorium2" class="tab-pane fade in">

                                <!-- Accordion start -->
                                <div class="panel-group" id="day5_auditorium2_timeline">

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="../assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day5_auditorium2_timeline" href="#day5_auditorium2_time1" class="schedule-item-toggle">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>2:20 PM</strong>
                                            <h6 class="title">How to organize great events<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day5_auditorium2_time1" class="panel-collapse collapse in schedule-item-body">
                                            <article>
                                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                </div>
                                <!-- Accordion end -->

                            </div>
                            <!-- Auditorium 2 content end -->

                            <!-- Auditorium 3 content start -->
                            <div id="day5_auditorium3" class="tab-pane fade in">

                                <!-- Accordion start -->
                                <div class="panel-group" id="day5_auditorium3_timeline">

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="../assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day5_auditorium3_timeline" href="#day5_auditorium3_time1" class="schedule-item-toggle">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>2:20 PM</strong>
                                            <h6 class="title">How to organize great events<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day5_auditorium3_time1" class="panel-collapse collapse in schedule-item-body">
                                            <article>
                                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="../assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day5_auditorium3_timeline" href="#day5_auditorium3_time2" class="schedule-item-toggle collapsed">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>5:40 PM</strong>
                                            <h6 class="title">Scaling into crowded space<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day5_auditorium3_time2" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="../assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day5_auditorium3_timeline" href="#day5_auditorium3_time4" class="schedule-item-toggle collapsed">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>7:40 PM</strong>
                                            <h6 class="title">Passion and people<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day5_auditorium3_time4" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                </div>
                                <!-- Accordion end -->

                            </div>
                            <!-- Auditorium 3 content end -->

                        </div>
                        <!-- Second level content end -->

                    </div>
                    <!-- Day 5 content end -->

                </div>
                <!-- First level content end -->

            </div>
            <!-- Schedule end -->
        </div>
    </section>

    <!-- FOOTER -->
    <section class="footer">
        <div class="container">

            <div class="col-md-4">
                <div class="widget about-widget">
                    <h6 class="widget-head">About <span class="highlight">Guppy</span></h6>
                    <p class="text-alt"><small>
                            Guppy projesinin amacı bireyleri topluluklarla olan ilişkisini arttırmaktır. Hiç kimse yalnız kalmasın ;)
                            KSK
                        </small></p>
                </div>
            </div>

        </div>

        <div class="footer-base">
            <div class="container">

                <div class="col-md-6">
                    <ul class="footer-nav">
                        <li class="footer-nav-item"><a href="#">Contact</a></li>
                        <li class="footer-nav-item"><a href="#">Privacy policy</a></li>
                        <li class="footer-nav-item"><a href="#">Press</a></li>
                    </ul>
                </div>

                <div class="col-md-6 align-right">
                    <ul class="socials-nav align-right">
                        <li class="socials-nav-item"><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li class="socials-nav-item"><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li class="socials-nav-item"><a href="#"><span class="fa fa-github"></span></a></li>
                        <li class="socials-nav-item"><a href="#"><span class="fa fa-vimeo-square"></span></a></li>
                        <li class="socials-nav-item"><a href="#"><span class="fa fa-google-plus"></span></a></li>
                        <li class="socials-nav-item"><a href="#"><span class="fa fa-instagram"></span></a></li>
                    </ul>

                    <p class="text-alt"><small>All Rights Reserved © 2016</small></p>
                </div>

            </div>
        </div>
    </section>

{% endblock %}


{% block javascripts %}



    {% javascripts
            'plugins/jQuery/jQuery-2.2.0.min.js'
            'theme/assets/js/bootstrap.min.js'
            'theme/assets/js/jquery.validate.min.js'
            'theme/assets/js/toastr.min.js'
            'theme/assets/js/jquery.waypoints.min.js'
            'theme/assets/js/jquery.appear.js'
            'theme/assets/js/jquery.plugin.js'
            'theme/assets/js/jquery.countTo.js'
            'theme/assets/js/jquery.countdown.js'
            'theme/assets/js/masonry.pkgd.min.js'
            'theme/assets/js/modal-box.js'
            'theme/assets/js/guppy.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
