{% extends 'AppBundle::admin_base.html.twig' %}

{% block content %}

    {#--- --- MAIL ADD DIALOG --- ---#}
    <div class="modal" id="university_add_mail_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Default Modal</h4>
                </div>
                <div class="modal-body">
                    <input id="university_add_mail_modal_mail" type="text" class="form-control" placeholder="Enter University Mail Server Suffix">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button id="university_add_mail_modal_summit" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                University
                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">University Update</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">

                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">University Hostname List</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">

                            <div class="form-group">
                                <label>Select</label>
                                <select class="form-control">
                                    {% for university in universities %}
                                        <option>{{ university.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <table id="university_mail_list" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>#ID</th>
                                        <th>Mail Server Hostname List</th>
                                    </tr>
                                </thead>
                                <tbody id="university_mail_list">

                                {% for universityMail in universityMails %}
                                    <tr>
                                        <td>{{ universityMail.id }}</td>
                                        <td>{{ universityMail.hostname }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-info">Action</button>
                                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a class='university_remove_mailserver' value="{{ universityMail.id }}">Delete</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                                <tfoot>
                                    <tr>

                                    </tr>
                                </tfoot>
                            </table>

                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button id="university_add_mailserver" data-toggle="modal" data-target="#university_add_mail_modal">Add Mail Server</button>
                        </div>

                    </div>
                    <!-- /.box -->
                </div>


            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

{% endblock %}


{% block javascriptcontent %}
    <script>

/***********************************************************************************************************************
 *                                          GLOBAL VARIABLE
 **********************************************************************************************************************/
        var debugMode = true;


/***********************************************************************************************************************
 *                                          AJAX OPERATIONS
 **********************************************************************************************************************/
        function ajaxAddUniversityMailServer(){

            // -- 1 --

            // -- 2 -- ajax call
            $.post("{{ path('university_add_mailserver') }}" , {
                uid : 'university.id',
                mailServer : $('#university_add_mail_modal_mail').val()

            }).always(function(){
                $('#university_add_mail_modal_mail').val('')
                $('#university_add_mail_modal').modal('hide');
            }).done(function(data){

                // -- 2.1 -- CONSOLE
                if(debugMode)
                    console.log(data);

                // -- 2.2 -- sonuc düzenlenir
                if(data.resultText == 'SUCCESS'){

                    // -- 2.2.1 -- add mail to list
                    row =   "<tr>" +
                                "<td value="+data.content['id']+">" + data.content['id'] + "</td>" +
                                "<td value="+data.content['name']+">" + data.content['name'] + "</td>" +
                                "<td><div class='btn-group'>" +
                                    "<button type='button' class='btn btn-info'>Action</button>" +
                                    "<button type='button' class='btn btn-info dropdown-toggle' data-toggle='dropdown'>" +
                                    "<span class='caret'></span>" +
                                    "<span class='sr-only'>Toggle Dropdown</span>" +
                                    "</button>" +
                                        "<ul class='dropdown-menu' role='menu'>" +
                                            "<li><a class='university_remove_mailserver' value='"+ data.content['id']+ "' >Delete</a></li>" +
                                        "</ul>" +
                                    "</div>" +
                                "</td>"
                            "</tr>";
                    $("#university_mail_list").append(row);

                }else if(data.resultText == 'SUCCESS_EMPTY'){
                    alert('Warning -- ' + ' SUCCESS_EMPTY');
                }else if(data.resultText == 'FAILURE_PERMISSION'){
                    alert('Warning -- ' + ' you are not authorization for this operation');
                }else{
                    alert('Warning -- ' + ' error occured while inserting mail server name to university');
                }
            });
        }


/***********************************************************************************************************************
 *                                          EVENTS
 **********************************************************************************************************************/
        $('#university_add_mail_modal_summit').on('click',function (event) {
            ajaxAddUniversityMailServer();
        });

    </script>
{% endblock %}
