{% extends 'AppBundle::base.html.twig' %}

{% block stylecontent %}
    <style>
        .fa-trash {
            color: red;
        }
    </style>
{% endblock %}

{% block content %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Settings
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Settings</li>
                    <li class="active">Emails</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">

                <!-- Setting left side  -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="box box-primary">
                            <div class="box-body">
                                <ul class="nav nav-stacked">
                                    <li><a href="#">Emails</a></li>
                                    <li><a href="#">Setting TEST 1 </a></li>
                                    <li><a href="#">Setting TEST 2 </a></li>
                                </ul>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col left side  -->


                    <!-- Setting body side  -->
                    <div class="col-md-9">
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h3 class="box-title">Email Settings</h3>
                            </div>
                            <div class="box-body">
                                Your primary Guppy email address will be used for account-related notifications (e.g. account changes and billing receipts) as well as any web-based Guppy Events operations.
                                <br><br>
                                <div class="col-xs-12">
                                    <!-- /.box-header -->
                                    <div class="table-responsive no-padding">
                                        <table id="university_user_mail_list" class="table table-hover">
                                            <tr>
                                                <th>Email</th>
                                                <th>University</th>
                                                <th>Status</th>
                                                <th>Expire Date</th>
                                                <th></th>
                                            </tr>

                                            {% for universityUser in universityUsers %}
                                                <tr>
                                                    <td>{{ universityUser.email }}</td>
                                                    <td>{{ universityUser.universityMail.university.name }}</td>

                                                    {% if universityUser.isValidated %}
                                                        <td><span class="label label-success">Approved</span></td>
                                                    {% else %}
                                                        <td><span class='label label-warning'>Unverified</span></td>
                                                    {% endif %}

                                                    <td>{{ universityUser.updateDate|date_modify("+2 year")|date('d-m-Y') }}</td>
                                                    <td><a href="{{ path('university_user_delete' , {'universityUserId': universityUser.id}) }}"><span class="fa fa-trash" > </span></a></td>
                                            {% endfor %}

                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>

                                <hr>
                                <p><b>Add email address </b></p>
                                <div class="input-group col-md-6">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    <input id="university_user_add_value" type="email" class="form-control" placeholder="Email">
                                        <span class="input-group-btn">
                                          <button id="university_user_add" type="button" class="btn btn-default btn-flat">Add</button>
                                        </span>
                                </div>

                            </div>
                            <!-- /.box-body -->

                        </div>
                    </div>
                    <!-- /.col -->

                </div>
                <!-- /.row -->
            </section>
        </div>
        <!-- /.container -->
    </div>

{% endblock %}


{% block javascriptcontent %}
    <script>

/***********************************************************************************************************************
 *                                          LOCAL VARIABLE
 **********************************************************************************************************************/


/***********************************************************************************************************************
 *                                          AJAX OPERATIONS
 **********************************************************************************************************************/
        function ajaxAddUniversityUserMail(){

            // -- 1 --

            // -- 2 -- ajax call
            $.post("{{ path('settings_emails_add') }}" , {
                usermail : $('#university_user_add_value').val()

            }).always(function(){

            }).done(function(data){

                // -- 2.1 -- CONSOLE
                if(Guppy.responseDebugMode)
                    console.log(data);

                // -- 2.2 -- result ui operation
                if(data.resultText == 'SUCCESS'){

                    // -- 2.2.1 -- add mail to list
                    row =   "<tr>" +
                                "<td value="+data.content['mail']+">" + data.content['mail'] + "</td>" +
                                "<td value="+data.content['university']+">" + data.content['university'] + "</td>" +
                                "<td><span class='label label-warning'>Unverified</span></td>" +
                                "<td> . . . </td>"
                            "</tr>";
                    $("#university_user_mail_list").append(row);

                }else if(data.resultText == 'SUCCESS_EMPTY'){
                    alert('Warning -- ' + ' SUCCESS_EMPTY');
                }else if(data.resultText == 'FAILURE_PERMISSION'){
                    alert('Warning -- ' + ' you are not authorization for this operation');
                }else if(data.resultText == 'FAILURE_REPORT'){
                    alert('Warning -- ' + data.content);
                }else{
                    alert('Warning -- ' + ' error occured while adding mail address ');
                }
            });
        }


/***********************************************************************************************************************
 *                                          EVENTS
 **********************************************************************************************************************/
        $(document).on('click','#university_user_add',function (event) {
            ajaxAddUniversityUserMail();
        });

    </script>
{% endblock %}
