<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8" />
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="description" content="Etkinliklere bir tıkla ulaşabileceğiniz seruvent ile yakında sizlerleyiz">
    <meta name="keywords" content="etkinlik topluluk üniversite serüven">
    <meta name="author" content="Kemal Sami KARACA">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <title>Seruvent Çok Yakında</title>

    {% stylesheets
    'theme/assets/css/lib/animate.css'
    'theme/assets/css/custom-animations.css' filter='cssrewrite' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}

    <!-- font links -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,300,300italic,400italic,500italic&subset=latin,latin-ext">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700">

    {% stylesheets
    'theme/assets/css/lib/font-lineicons.css'
    'theme/assets/css/lib/toastr.min.css'
    'theme/assets/css/lib/bootstrap.min.css'
    'theme/assets/css/style_media.css'
    'theme/assets/css/style.css'
    'theme/assets/css/guppy-ui.css'
    'theme/assets/css/seruvent.css' filter='cssrewrite' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}

    <!--[if lt IE 9]>
    {% javascripts
    'theme/assets/js/html5shiv.js'
    'theme/assets/js/respond.min.js'%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <![endif]-->
</head>

<body class="ge-coming-soon-page">
<div class="preloader-mask">
    <div class="preloader"></div>
</div>

<section id="heroo" class="hero-section ge-cs-bg bg-cover window-height" style="min-height: 555px; padding-top: 50px; padding-bottom: 0px;">
<div style="">
    <div class="modal-box small " data-animation="zoomIn" data-duration="700">
        <span class="close-btn icon icon-office-52"></span>
        <h5 class="align-center"><span class="highlight">Şifre Değiştir</span></h5>

        <form name="user" method="post" class="form registration-form align-center" _lpchecked="1">
            <fieldset class="col-sm-12">
                <label for="first_name">Email</label>
                <input type="text" id="email" name="email" required="required" placeholder="@" oninput="checkValidation(this , &quot;Email adresi boş bırakılamaz&quot;)" oninvalid="checkValidation(this , &quot;Email adresi boş bırakılamaz&quot;)">
            </fieldset>

            <input id="submit" name="submit" type="submit" value="EMAIL ADRESİME GÖNDER" class="btn">

            <input type="hidden" id="user__token" name="user[_token]" value="iE3bhUxZySyB-2OwdhUtCrphLCrNzuR2ZvDF995zjeU">
        </form>

    </div>
</div>
</section>

<script src='https://www.google.com/recaptcha/api.js?hl=tr'></script>
{% javascripts
'plugins/jQuery/jQuery-2.2.0.min.js'
'theme/assets/js/bootstrap.min.js'
'theme/assets/js/jquery.validate.min.js'
'theme/assets/js/toastr.min.js'
'theme/assets/js/jquery.waypoints.min.js'
'theme/assets/js/jquery.appear.js'
'theme/assets/js/jquery.plugin.js'
'theme/assets/js/jquery.countTo.js'
'theme/assets/js/jquery.countdown.js'
'theme/assets/js/masonry.pkgd.min.js'
'theme/assets/js/modal-box.js'
'theme/assets/js/guppy-theme.js'
'theme/assets/js/guppy.js'%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}


<script>

    // google analytics
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-90806940-1', 'auto');
    ga('send', 'pageview');


    // local process
    var error_msg = '{% if error_msg is defined %}{{ error_msg|json_encode|raw }}{% endif %}';
    var success_msg = '{% if success_msg is defined %}{{ success_msg|json_encode|raw }}{% endif %}';

    function checkPasswordValidation(input , message){
        if(input.value=="" || input.value!=document.getElementById('user_password_first').value){
            input.setCustomValidity(message);
        }else{
            input.setCustomValidity("");
        }
    }

    function checkValidation(input , message) {
        if(input.value==""){
            input.setCustomValidity(message);
        }else{
            input.setCustomValidity("");
        }
    }

    function fillUsernameAndPasswordField(input){
        $('#user_username').val(input.value);
        $('#user_password_first').val(input.value);
        $('#user_password_second').val(input.value);
    }

    $(function () {
        // -- Operation Result Message
        if(success_msg){
            toastr.success(success_msg);
        }else if(error_msg){
            toastr.error(error_msg);
        }

    });

</script>

</body>
</html>
