{% extends 'AppBundle::main_base.html.twig' %}

{% block title %}Seruvent - Etkinlik Anasayfa{% endblock %}

{% block stylesheets %}

    {% stylesheets
            'theme/assets/css/cropper.css'
            'theme/assets/css/cropper-main.css' filter='cssrewrite' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}

    <!-- --------------------------------------------- -->
    <!-- ------------------ ERROR -------------------- -->
    <!-- --------------------------------------------- -->
    {% if pageError is defined %}

        <section class="guppy-section align-center">
            <div class="error-head">{{ pageError }}</div>
            <div class="error-body">{{ pageErrorBody }}</div>
        </section>

    <!-- --------------------------------------------- -->
    <!-- ------------------ CONTENT ------------------ -->
    <!-- --------------------------------------------- -->
    {% else %}

        <div class="blurred-header">
            {% if event.imageBase64 %}
                <img src="{{ event.imageBase64 }}" class="img-responsive" alt="{{ event.title }}" />
            {% else %}
                {% image 'theme/assets/img/event_header.jpeg' %}
                    <img src="{{ asset_url }}" class="img-responsive" alt="" />
                {% endimage %}
            {% endif %}
        </div>

        <section class="guppy-section align-center">
            <div class="container">

                <div class="col-md-1">
                </div>
                <!-- -------------- CONTENT -------------- -->
                <div class="event-content col-md-12">

                    <div class="event-content-header">

                        <!-- Event Image Panel -->
                        <div class="col-md-8 event-content-header-image">

                            <div class="img-preview" style="height: 360px!important; width: 760px!important;"></div>

                            <div class="img-container" style="display: none;">
                                {% if event.imageBase64 %}
                                    <img id="img_viewer" src="{{ event.imageBase64 }}" class="img-responsive" alt="{{ event.title }}" />
                                {% else %}
                                    {% image 'theme/assets/img/event_header.jpeg' %}
                                        <img id="img_viewer" src="{{ asset_url }}" class="img-responsive" alt=""/>
                                    {% endimage %}
                                {% endif %}
                            </div>
                        </div>

                        <!-- Event Detail Panel -->
                        <div class="event-content-header-detail col-md-4">
                            <div class="event-content-header-time">
                                {% if event.startDate %}
                                    <div class="event-content-header-time-month">{{ event.startDate.format('F') }}</div>
                                    <div class="event-content-header-time-day">{{ event.startDate.format('d') }}</div>
                                {% else %}
                                    <div class="event-content-header-time-month">??</div>
                                    <div class="event-content-header-time-day">??</div>
                                {% endif %}
                            </div>
                            <div class="event-content-header-title">
                                {{ event.title }}
                            </div>
                            <div class="event-content-header-owner">
                                <a href="{{ path('user_community_homepage',{'communityId': event.communityUser.community.id}) }}">{{ event.communityUser.community.name }}</a>
                            </div>
                            <div class="event-content-header-price">
                                {% if tickets|length >0 %}
                                    {{ tickets[0].price }} {{ tickets[0].priceType ? tickets[0].priceType : "TL" }}
                                {% else %}
                                    ÜCRETSİZ
                                {% endif %}

                            </div>
                        </div>
                    </div>

                    <div class="event-share-register align-right" style="padding-top: 5px; padding-bottom: 5px; border-bottom: 1px solid; border-top: 1px solid; border-bottom-color: #AAA; border-top-color: #AAA;">
                        {% if eventUser is defined and eventUser.isSaved %}
                            <a onclick="ajaxSocialSaveEvent(this)" tag="{{ event.id }}" saved="true" class="btn" ><span>KATILIYORSUN</span></a>
                        {% else %}
                            <a onclick="ajaxSocialSaveEvent(this)" tag="{{ event.id }}" saved="false" class="btn" ><span>KATIL</span></a>
                        {% endif %}

                        {% if canEditEvent is defined %}
                            {% if canEditEvent == true %}
                                <a href="{{ path("event_edit_page", {'eventId': event.id }) }}" style="background-color: #fe4918" class="btn" ><span>Düzenle</span></a>
                            {% endif %}
                        {% endif %}
                    </div>

                    <div class="event-content-body">
                        <div class="fade active in">
                            <div class="col-sm-1 align-left event-content-body-description"></div>
                            <div class="col-sm-6 align-left event-content-body-description">
                                <p>{{ event.description|raw }}</p>
                            </div>

                            <div class="col-sm-5 align-left event-content-body-description-date">
                                <h6>Tarih & Saat</h6>
                                {#<p>Sat, December 17, 2016</p>#}
                                <p>{{ event.startDate.format('D, F d, Y') }}</p>
                                {#<p>6:00 PM – 8:30 PM Eastern European Standard Time Turkey Time</p>#}
                                <p>{{ event.startDate.format('H:i A') }}</p>
                            </div>

                            {#<div class="col-sm-5 align-left event-content-body-description-location">#}
                                {#<h6>LOCATION</h6>#}
                                {#<p>CerModern</p>#}
                                {#<p>3 Altınsoy Cad. </p>#}
                                {#<p>Ankara, 06101</p>#}
                                {#<a>View Map</a>#}
                            {#</div>#}

                            <div class="col-sm-12 align-left"></div>
                            <div class="col-sm-1 align-left"></div>
                            <div class="col-sm-11 align-left">
                            </div>

                            <div class="col-sm-1 align-left"></div>
                            <div class="col-sm-10 align-left" style="height: 1px; background: gray; margin-top: 30px; margin-bottom: 30px;"></div>
                            <div class="col-sm-12 align-left"></div>

                            <!-- Event Tickets -->
                            <div class="col-sm-1 align-left"></div>
                            <div class="col-sm-12 align-left" style="padding-top: 20px; padding-bottom: 100px;">
                                <div style="text-align: center;">
                                    <h6>Bilet Fiyatları</h6>
                                    {% if tickets|length >0 %}
                                        {% for ticket in tickets %}
                                            <a> {{ ticket.price }} {{ ticket.priceType ? ticket.priceType : "TL" }}</a>
                                            {% if tickets|last != ticket %} <!-- son bilet değilse yanına boşluk koy -->
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <a>Bu etkinliğe katılım ücretsizdir.</a>
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Event Location -->
                            <div class="col-sm-1 align-left"></div>
                            <div class="col-sm-10 align-left" style="height: 1px; background: gray; margin-top: 30px; margin-bottom: 30px;"></div>
                            <div class="col-sm-12 event-content-body-map">
                                <div style="text-align: center; padding-bottom: 25px;">
                                    <h6>Konum</h6>
                                    <p>{{ event.locationName }}</p>
                                </div>


                                <input id="event_location_lat" name="event_location_lat" value="{{ event.gpsLocationLat }}" style="display: none;"/>
                                <input id="event_location_lng" name="event_location_lng" value="{{ event.gpsLocationLng }}" style="display: none;"/>
                                <div id="event_location" style="height: 400px;"></div>
                            </div>

                            <div class="col-sm-11 align-left">
                                <section>
                                    <span>
                                        <a  class="js-d-track-link badge badge--tag l-mar-top-2" data-event-action="BreadcrumbAddress" data-event-category="listing" data-event-label="/things-to-do/turkey--ankara/" data-automation="BreadcrumbAddress" data-xd-wired="track-link">
                                            <span>{{ event.communityUser.community.name }}</span>
                                        </a>
                                    </span>
                                    <span>
                                        <a class="js-d-track-link badge badge--tag l-mar-top-2" data-event-action="BreadcrumbFormat" data-event-category="listing" data-event-label="/d/turkey--ankara/seminars/" data-automation="BreadcrumbFormat" data-xd-wired="track-link">
                                            <span>etkinlik</span>
                                        </a>
                                    </span>
                                </section>
                            </div>

                            <div class="col-sm-12 align-left" style="height: 100px;"></div>
                        </div>

                    </div><!-- community-content-body end -->

                </div>
            </div>
        </section>

    {% endif %}

{% endblock %}




{% block javascriptcontent %}

    {% javascripts
            'theme/assets/js/cropper.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>

    /***********************************************************************************************************************
     *                                          LOCAL VARIABLE
     **********************************************************************************************************************/
        var cropper;


    /***********************************************************************************************************************
     *                                          UTIL FUNCTIONS
     **********************************************************************************************************************/

    function ajaxSocialSaveEvent(eventTarget){

        // -- 1 --

        // -- 2 --
        // ajax call
        $.post("{{ path('social_event_rating') }}" ,{
            eid : $(eventTarget).attr("tag"),
            is_saved : $(eventTarget).attr("saved")
        }).always(function(){

        }).done(function(data){

            // -- 2.1 -- CONSOLE
            if(Guppy.responseDebugMode)
                console.log(data);

            // -- 2.2 -- sonuc düzenlenir
            if(data.resultText == 'SUCCESS'){
                if(data.content['saved']){
                    $(eventTarget).html("<span>Katılıyorsun</span>")
                    toastr.success('Etkinliğe katılıyorsun');
                    $(eventTarget).attr("saved", true);
                }else{
                    $(eventTarget).html("<span>Katıl</span>")
                    toastr.warning('Etkinliğe katılmıyorsun');
                    $(eventTarget).attr("saved", false);
                }

            }else if(data.resultText == 'SUCCESS_EMPTY'){
                toastr.error('Beklenmeyen hata ile karşılaşıldı');
            }else if(data.resultText == 'FAILURE_AUTH'){
                toastr.warning('Etkinliği kaydetmek için giriş yapınız');
            }else if(data.resultText == 'FAILURE_PERMISSION'){
                toastr.error('Bu işlem için izniniz bulunmamaktadır');
            }else{
                toastr.error('Beklenmeyen hata ile karşılaşıldı');
            }
        });
    }


            function initMap() {
                var event_gps_location = {lat: parseFloat($('#event_location_lat').val()), lng: parseFloat($('#event_location_lng').val()) };

                var map = new google.maps.Map(document.getElementById('event_location'), {
                    zoom: 12,
                    scrollwheel:  false,
                    draggable: false,
                    center: event_gps_location,
                });

                marker = new google.maps.Marker({
                    position: event_gps_location,
                    map: map
                });

            }

    /***********************************************************************************************************************
     *                                          AJAX OPERATIONS
     **********************************************************************************************************************/


    /***********************************************************************************************************************
     *                                          EVENTS
     **********************************************************************************************************************/


    /***********************************************************************************************************************
     *                                          DOCUMENT ON READY
     **********************************************************************************************************************/

            // -------------------------
            // -- CROPPER AREA --
            // -------------------------
            var Cropper = window.Cropper;
            var URL = window.URL || window.webkitURL;
            var container = document.querySelector('.img-container');
            var image = container.getElementsByTagName('img').item(0);
            var actions = document.getElementById('actions');
            var dataX = document.getElementById('dataX');
            var dataY = document.getElementById('dataY');
            var dataHeight = document.getElementById('dataHeight');
            var dataWidth = document.getElementById('dataWidth');
            var dataRotate = document.getElementById('dataRotate');
            var dataScaleX = document.getElementById('dataScaleX');
            var dataScaleY = document.getElementById('dataScaleY');
            var options = {
                aspectRatio: 760 / 360,
                checkCrossOrigin: false,
                autoCropArea: 1.0,
                preview: '.img-preview',
                viewMode: 2,
                responsive: false,
                ready: function (e) {
                    console.log(e.type);
                },
                cropstart: function (e) {
                    console.log(e.type, e.detail.action);
                },
                cropmove: function (e) {
                    console.log(e.type, e.detail.action);
                },
                cropend: function (e) {
                    console.log(e.type, e.detail.action);
                },
                crop: function (e) {
                    var data = e.detail;

                    console.log(e.type);
                    dataX.value = Math.round(data.x);
                    dataY.value = Math.round(data.y);
                    dataHeight.value = Math.round(data.height);
                    dataWidth.value = Math.round(data.width);
                    console.log('__ ' + Math.round(data.x) + '__ ' + Math.round(data.y) + '__ ' + Math.round(data.height) )
                },
                zoom: function (e) {
                    console.log(e.type, e.detail.ratio);
                }
            };
            cropper = new Cropper(image, options);
            var originalImageURL = image.src;

    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLqDBN5nlLAbTBnSrkI0gwft2v6SWFjh8&callback=initMap">
    </script>

{% endblock %}
