{% extends 'AppBundle::admin_base.html.twig' %}

{% block content %}

    {#--- --- TICKET ADD DIALOG --- ---#}
    <div class="modal" id="event_add_ticket_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add New Ticket</h4>
                </div>
                <div class="modal-body">
                    <input id="modal_event_ticket_price" type="text" class="form-control" placeholder="Enter Ticket Price">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button id="modal_event_ticket_submit" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Event
                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Event Register</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">


                <div class="col-md-6">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Event Ticket List</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">

                            <table id="university_mail_list" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th>Event Ticket</th>
                                    <th>Ticket Operation</th>
                                </tr>
                                </thead>
                                <tbody id="event_ticket_list">

                                    {% for ticket in eventTicketList %}
                                        <tr>
                                            <td>{{ ticket.id }}</td>
                                            <td>{{ ticket.price }}</td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-info">Action</button>
                                                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a class='event_remove_ticket' value="{{ ticket.id }}">Delete</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                                <tfoot>
                                    <tr></tr>
                                </tfoot>
                            </table>

                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button data-toggle="modal" data-target="#event_add_ticket_modal">Add New Ticket</button>
                        </div>

                    </div>
                    <!-- /.box -->
                </div>

                <div class="col-md-7">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Event Register Page</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">

                            <form id="event_submit" action="{{ path('event_post_to_id' , {'eventId': event.id }) }}" method="post">

                                <!-- universities -->
                                <div class="form-group">
                                    <label>Choose University</label>
                                    <select id="university_id" class="form-control" name="university_id">

                                        <option value="{{ event.communityUser.community.university.id }}" selected>{{ event.communityUser.community.university.name }}</option>

                                    </select>
                                </div>

                                <!-- communities -->
                                <div class="form-group">
                                    <label>Choose Community (University Club)</label>
                                    <select id="community_id" class="form-control" name="community_id">

                                        <option value="{{ event.communityUser.community.id }}" selected>{{ event.communityUser.community.name }}</option>

                                    </select>
                                </div>

                                <!-- event name -->
                                <div class="form-group">
                                    <label>Event Title</label>
                                    {% if event %}
                                        <input type="text" class="form-control" name="event_title" placeholder="Enter Event Title" value="{{ event.title }}">
                                    {% else %}
                                        <input type="text" class="form-control" name="event_title" placeholder="Enter Event Title">
                                    {% endif %}
                                </div>

                                <!-- event Description -->
                                <div class="form-group">
                                    <label>Description</label>
                                    {% if event %}
                                        <textarea class="form-control" rows="3" name="event_description" placeholder="Enter Event Description">{{ event.description }}</textarea>
                                    {% else %}
                                        <textarea class="form-control" rows="3" name="event_description" placeholder="Enter Event Description"></textarea>
                                    {% endif %}
                                </div>

                                <!-- event Date -->
                                <div class="form-group">
                                    <label>Date</label>
                                    {% if event %}
                                        <input type="text" class="form-control" name="event_date" id="event_date" placeholder="Enter Event Date" value="{{ event.startDate.format('m/d/Y') }}">
                                    {% else %}
                                        <input type="text" class="form-control" name="event_date" id="event_date" placeholder="Enter Event Date" >
                                    {% endif %}
                                </div>

                                <!-- event Participant Count -->
                                <div class="form-group">
                                    <label>Participant Count</label>
                                    {% if event %}
                                        <input type="text" class="form-control" name="event_participant_count" placeholder="Enter Maximum Participant Count" value="{{ event.maxParticipantNum }}">
                                    {% else %}
                                        <input type="text" class="form-control" name="event_participant_count" placeholder="Enter Maximum Participant Count">
                                    {% endif %}
                                </div>

                                <!-- event Location -->
                                <div class="form-group" style="display: none;">
                                    <label>Event Location</label>
                                    <input type="text" class="form-control" id="event_location_lat" name="event_location_lat" value="{{ event.gpsLocationLat }}" >
                                    <input type="text" class="form-control" id="event_location_lng" name="event_location_lng" value="{{ event.gpsLocationLng }}" >
                                </div>

                                <!-- event Image -->
                                <div class="form-group" style="display: none;">
                                    <label>Event Image (Base64)</label>
                                    <input type="text" class="form-control" id="event_image_base64" name="event_image_base64" value="{{ event.imageBase64 }}">
                                </div>

                                {% if event %}
                                    <button type="submit">Update!</button>
                                {% else %}
                                    <button type="submit">Register!</button>
                                {% endif %}
                            </form>

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.column -->

                <!-- -- PAGE CONTENT MAP -- -->
                <div class="col-md-5">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Event Location</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">

                            <div id="event_location" style="height: 300px;"></div>

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.column -->

                <!-- -- PAGE CONTENT IMAGE -- -->
                <div class="col-md-5">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Event Image</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">

                            <!-- event Image -->
                            <div class="form-group">
                                <label>Event Image</label>
                                <input id="temp_img_loader" type='file'>
                                <img id="img_viewer" height="150" src="{{ event.imageBase64 }}">
                            </div>

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.column -->

            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

{% endblock %}


{% block javascriptcontent %}
    <script>

/***********************************************************************************************************************
 *                                          GLOBAL VARIABLE
 **********************************************************************************************************************/
        var debugMode = true;
        var eventCommunityId = null;
        {% if event %}
            eventCommunityId = {{ event.communityUser.community.id }}
        {% endif %}
        var marker;


/***********************************************************************************************************************
 *                                          AJAX OPERATIONS
 **********************************************************************************************************************/

        function ajaxGetCommunityListByUniversityId(universityId){

            // -- 1 --
            // open alert box to inform user

            // -- 2 --
            // ajax call
            $.post("{{ path('university_community_list') }}" , {
                uid : universityId

            }).always(function(){


            }).done(function(data){

                // -- 2.1 -- CONSOLE
                if(debugMode)
                    console.log(data);

                // -- 2.2 -- sonuc düzenlenir
                if(data.resultText == 'SUCCESS'){

                    // -- 2.2.1 -- remove options
                    $('#community_id').children().remove();

                    // -- 2.2.2 -- insert new options
                    data.content.forEach(function(community) {
                        if(eventCommunityId && eventCommunityId==community['community_id']){
                            $('#community_id').append("<option value=" + community['community_id'] + " selected>" + community['community_name'] + "</option>");
                        }else{
                            $('#community_id').append($('<option>', {
                                value: community['community_id'],
                                text: community['community_name']
                            }));
                        }

                    });

                }else if(data.resultText == 'SUCCESS_EMPTY'){
                    alert('Warning -- ' + ' could not found any event');
                }else if(data.resultText == 'FAILURE_PERMISSION'){
                    alert('Warning -- ' + ' you are not authorization for this operation');
                }else{
                    alert('Warning -- ' + ' error occured while getting community list');
                }
            });
        }


        function ajaxAddTicketToEvent(){

            // -- 2 -- ajax call
            $.post("{{ path('ticket_post') }}" , {
                eid : {{ event.id }},
                t_price : $('#modal_event_ticket_price').val()

            }).always(function(){
                $('#modal_event_ticket_price').val('')
                $('#event_add_ticket_modal').modal('hide');
            }).done(function(data){

                // -- 2.1 -- CONSOLE
                if(debugMode)
                    console.log(data);

                // -- 2.2 -- sonuc düzenlenir
                if(data.resultText == 'SUCCESS'){

                    // -- 2.2.1 -- add mail to list
                    row =   "<tr>" +
                                "<td value="+data.content['id']+">" + data.content['id'] + "</td>" +
                                "<td value="+data.content['ticketprice']+">" + data.content['ticketprice'] + "</td>" +
                                "<td>" +
                                    "<div class='btn-group'>" +
                                        "<button type='button' class='btn btn-info'>Action</button>" +
                                        "<button type='button' class='btn btn-info dropdown-toggle' data-toggle='dropdown'>" +
                                            "<span class='caret'></span>" +
                                            "<span class='sr-only'>Toggle Dropdown</span>" +
                                        "</button>" +
                                        "<ul class='dropdown-menu' role='menu'>" +
                                            "<li><a class='event_remove_ticket' value='"+ data.content['id']+ "' >Delete</a></li>" +
                                        "</ul>" +
                                    "</div>" +
                                "</td>"
                            "</tr>";
                    $("#event_ticket_list").append(row);

                }else if(data.resultText == 'SUCCESS_EMPTY'){
                    alert('Warning -- ' + ' SUCCESS_EMPTY');
                }else if(data.resultText == 'FAILURE_PERMISSION'){
                    alert('Warning -- ' + ' you are not authorization for this operation');
                }else{
                    alert('Warning -- ' + ' error occured while inserting mail server name to university');
                }
            });
        }


        function ajaxRemoveEventTicket(ticket_id, tr_element){

            // -- 1 --

            // -- 2 -- ajax call
            $.post("{{ path('ticket_delete') }}" , {
                tid : ticket_id

            }).always(function(){

            }).done(function(data){

                // -- 2.1 -- CONSOLE
                if(debugMode)
                    console.log(data);

                // -- 2.2 -- sonuc düzenlenir
                if(data.resultText == 'SUCCESS'){

                    // -- 2.2.1 -- remove mail from list
                    tr_element.remove();

                }else if(data.resultText == 'SUCCESS_EMPTY'){
                    alert('Warning -- ' + ' SUCCESS_EMPTY');
                }else if(data.resultText == 'FAILURE_PERMISSION'){
                    alert('Warning -- ' + ' you are not authorization for this operation');
                }else{
                    alert('Warning -- ' + ' error occured while deleting ticket');
                }
            });
        }

/***********************************************************************************************************************
 *                                          CHECKER FUNCTIONS
 **********************************************************************************************************************/
        function checkCommunity(){
            return true;
        }

        function fileToBase64Converter() {
            if (this.files && this.files[0]) {
                var FR= new FileReader();
                FR.onload = function(e) {
                    $('#img_viewer').attr('src', e.target.result);
                    $('#event_image_base64').val(e.target.result);
                };
                FR.readAsDataURL( this.files[0] );
            }
        }

        function initMap() {
            var event_gps_location = {lat: {{ event.gpsLocationLat }}, lng: {{ event.gpsLocationLng }} };
            var map = new google.maps.Map(document.getElementById('event_location'), {
                zoom: 12,
                center: event_gps_location
            });

            marker = new google.maps.Marker({
                draggable: true,
                position: event_gps_location,
                map: map
            });

            $('#event_location_lat').val(marker.position.lat());
            $('#event_location_lng').val(marker.position.lng());

            marker.addListener('dragend', function(){
                $('#event_location_lat').val(this.position.lat());
                $('#event_location_lng').val(this.position.lng());
            });
        }

/***********************************************************************************************************************
 *                                          EVENTS
 **********************************************************************************************************************/
        $( "#event_submit" ).submit(function( event ) {
            if(!checkCommunity()){
                alert( "Form not valid" );
                event.preventDefault();
            }
        });

        $(document).on('change','#university_id',function () {
            ajaxGetCommunityListByUniversityId($(this).val());
        });

        $(document).on('click','#modal_event_ticket_submit',function (event) {
            ajaxAddTicketToEvent();
        });

        $(document).on('click', 'tr td .event_remove_ticket' , function (event) {
            ajaxRemoveEventTicket($(event.target).attr('value'),$(event.target).parentsUntil('tr').last().parent());
        });


/***********************************************************************************************************************
 *                                          DOCUMENT ON READY
 **********************************************************************************************************************/
        // -- jquery date picker
        $( "#event_date" ).datepicker();

        // -- File to base64
        document.getElementById("temp_img_loader").addEventListener("change", fileToBase64Converter, false);

        // -- get university community list on document ready
        if($('#community_id').children().length==0){
            ajaxGetCommunityListByUniversityId($( "#university_id option:selected" ).val());
        }

    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLqDBN5nlLAbTBnSrkI0gwft2v6SWFjh8&callback=initMap">
    </script>
    
{% endblock %}
