<!doctype html>
<html lang="en">
    <head>

        <meta charset="UTF-8" />
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="description" content="Guppy Events">
        <meta name="keywords" content="Events">
        <meta name="author" content="Kemal Sami KARACA">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <title>ÇOK YAKINDA</title>

        {% stylesheets
                'theme/assets/css/lib/animate.css'
                'theme/assets/css/custom-animations.css' filter='cssrewrite' %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}

        <!-- font links -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,300,300italic,400italic,500italic&subset=latin,latin-ext">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700">

        {% stylesheets
                'theme/assets/css/lib/font-lineicons.css'
                'theme/assets/css/lib/toastr.min.css'
                'theme/assets/css/lib/bootstrap.min.css'
                'theme/assets/css/style_media.css'
                'theme/assets/css/style.css'
                'theme/assets/css/guppy-ui.css'
                'theme/assets/css/seruvent.css' filter='cssrewrite' %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}

        <!--[if lt IE 9]>
        {% javascripts
                'theme/assets/js/html5shiv.js'
                'theme/assets/js/respond.min.js'%}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <![endif]-->
    </head>

    <body class="ge-coming-soon-page">
        <div class="preloader-mask">
            <div class="preloader"></div>
        </div>

        <section id="hero" class="hero-section ge-cs-bg bg-cover window-height light-text">
            <ul class="socials-nav">
                <li class="socials-nav-item"><a href="#"><span class="fa fa-twitter"></span></a></li>
                <li class="socials-nav-item"><a href="#"><span class="fa fa-facebook"></span></a></li>
                <li class="socials-nav-item"><a href="#"><span class="fa fa-google-plus"></span></a></li>
            </ul>
            <div class="heading-block centered-block align-center">
                <div class="container">
                    <h5 class="ge-coming-soon-title">ÇOK <span class="ge-colored-text">YAKINDA...</span></h5>

                    <!-- Countdown start -->
                    <div class="row counters-wrapper countdown">
                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="col-sm-3">
                                <div class="counter-block counter-block-no-border counter-block-white has-separator">
                                    <div class="counter-box">
                                        <div class="counter-content">
                                            <span class="count">{dnn}</span>

                                            <p class="title">GÜN</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="counter-block counter-block-no-border counter-block-white has-separator">
                                    <div class="counter-box">
                                        <div class="counter-content">
                                            <span class="count">{hnn}</span>

                                            <p class="title">SAAT</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="counter-block counter-block-no-border counter-block-white has-separator">
                                    <div class="counter-box">
                                        <div class="counter-content">
                                            <span class="count">{mnn}</span>

                                            <p class="title">DAKİKA</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="counter-block counter-block-no-border counter-block-white">
                                    <div class="counter-box">
                                        <div class="counter-content">
                                            <span class="count">{snn}</span>

                                            <p class="title">SANİYE</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h6 class="thin base-font">Etkinliklere bir tıkla ulaşabileceğiniz web sitemiz ile <strong>yakında sizlerleyiz.</strong></h6>
                    <div class="btns-container">
                        <a href="#" class="btn btn-md" data-modal-link="email-ticket">ABONE OLUN</a>
                    </div>

                    <!-- countdown end -->

                </div>
            </div>
        </section>

        <div class="modal-window" data-modal="email-ticket" style="background-color: rgba(2, 2, 2, 0.85);">
            <div class="modal-box small animated" data-animation="zoomIn" data-duration="700">
                <span class="close-btn icon icon-office-52"></span>
                <h5 class="align-center"><span class="highlight">Yeniliklerden haberdar olun!</span></h5>


                {#<form class="form registration-form align-center">#}

                    {#<fieldset class="col-sm-12">#}
                        {#<label for="first_name">Adınız</label>#}
                        {#<input id="first_name" name="first_name" type="text">#}
                    {#</fieldset>#}

                    {#<fieldset class="col-sm-12">#}
                        {#<label for="last_name">Soyadınız</label>#}
                        {#<input id="last_name" name="last_name" type="text">#}
                    {#</fieldset>#}

                    {#<fieldset class="col-sm-12">#}
                        {#<label for="email">Eposta</label>#}
                        {#<input id="email" name="email" type="email">#}
                    {#</fieldset>#}

                    {#<fieldset class="col-sm-12">#}
                        {#<input id="privacy" name="privacy" type="checkbox"><label for="privacy"><a href="#">Kullanım şartlarını</a> okudum, kabul ediyorum.</label>#}
                        {#<br />#}
                        {#<br />#}
                    {#</fieldset>#}

                    {#<input type="submit" value="Kayıt" class="btn">#}
                {#</form>#}

                {{ form_start(form ,{'attr': {'class':'form registration-form align-center'}}) }}
                    <fieldset class="col-sm-12">
                        <label for="first_name">Adınız</label>
                        {{ form_widget(form.name, {'attr': {'placeholder':'İsim' , 'oninput':'checkValidation(this , "İsim boş bırakılamaz")', 'oninvalid':'checkValidation(this , "İsim boş bırakılamaz")'}}) }}
                    </fieldset>

                    <fieldset class="col-sm-12">
                        <label for="last_name">Soyadınız</label>
                        {{ form_widget(form.surname, {'attr': {'placeholder':'Soyadı', 'oninput':'checkValidation(this , "Soyadı boş bırakılamaz")', 'oninvalid':'checkValidation(this , "Soyadı boş bırakılamaz")' }}) }}
                    </fieldset>

                    <fieldset class="col-sm-12">
                        <label for="email">Eposta</label>
                        {{ form_widget(form.email, {'attr': {'placeholder':'Bilkent Mail Adresiniz' , 'oninput':'checkValidation(this , "@ug.bilkent.edu.tr içermeli")', 'oninvalid':'checkValidation(this , "@ug.bilkent.edu.tr içermeli")' , 'onblur':'fillUsernameAndPasswordField(this)' }}) }}
                    </fieldset>

                    <fieldset class="col-sm-12" style="display: none;">
                        <label for="username">Kullanıcı Adı</label>
                        {{ form_widget(form.username, {'attr': {'placeholder':'Kullanıcı Adı', 'oninput':'checkValidation(this , "Kullanıcı adını boş bırakmayınız")', 'oninvalid':'checkValidation(this , "Kullanıcı adını boş bırakmayınız")'}}) }}
                    </fieldset>

                    <fieldset class="col-sm-12" style="display: none;">
                        <label for="password">Şifre</label>
                        {{ form_widget(form.password.first, {'attr': {'placeholder':'Şifre' , 'oninput':'checkValidation(this , "Şifre boş bırakılamaz")', 'oninvalid':'checkValidation(this , "Şifre boş bırakılamaz")' }}) }}
                    </fieldset>

                    <fieldset class="col-sm-12" style="display: none;">
                        <label for="repassword">Şifre Tekrar</label>
                        {{ form_widget(form.password.second, {'attr': {'placeholder':'Şifre Tekrar' ,'oninput':'checkValidation(this , "Şifre tekrarı boş bırakılamaz")','onchange':'checkPasswordValidation(this , "Şifreleriniz uyuşmamaktadır")' }}) }}
                    </fieldset>

                    <fieldset class="col-sm-12">
                        {{ form_widget(form.termsAccepted, {'attr': {}}) }}<label for="privacy"><a href="#">Kullanım şartlarını</a> okudum, kabul ediyorum.</label>
                        <br />
                        <br />
                    </fieldset>

                    <input id="submit" type="submit" value="Kayıt" class="btn">

                {{ form_end(form) }}

            </div>
        </div>

        {% javascripts
                'plugins/jQuery/jQuery-2.2.0.min.js'
                'theme/assets/js/bootstrap.min.js'
                'theme/assets/js/jquery.validate.min.js'
                'theme/assets/js/toastr.min.js'
                'theme/assets/js/jquery.waypoints.min.js'
                'theme/assets/js/jquery.appear.js'
                'theme/assets/js/jquery.plugin.js'
                'theme/assets/js/jquery.countTo.js'
                'theme/assets/js/jquery.countdown.js'
                'theme/assets/js/masonry.pkgd.min.js'
                'theme/assets/js/modal-box.js'
                'theme/assets/js/guppy-theme.js'
                'theme/assets/js/guppy.js'%}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}


        <script>

            var error_msg = '{% if error_msg is defined %}{{ error_msg|json_encode|raw }}{% endif %}';
            var success_msg = '{% if success_msg is defined %}{{ success_msg|json_encode|raw }}{% endif %}';

            function checkPasswordValidation(input , message){
                if(input.value=="" || input.value!=document.getElementById('user_password_first').value){
                    input.setCustomValidity(message);
                }else{
                    input.setCustomValidity("");
                }
            }

            function checkValidation(input , message) {
                if(input.value==""){
                    input.setCustomValidity(message);
                }else{
                    input.setCustomValidity("");
                }
            }

            function fillUsernameAndPasswordField(input){
                $('#user_username').val(input.value);
                $('#user_password_first').val(input.value);
                $('#user_password_second').val(input.value);
            }

            $(function () {
                // -- Operation Result Message
                if(success_msg){
                    toastr.success(success_msg);
                }else if(error_msg){
                    toastr.error(error_msg);
                }

            });

        </script>

    </body>
</html>
