{% extends 'AppBundle::main_base.html.twig' %}

{% block title %}Topluluklar{% endblock %}

{% block content %}

    <div class="preloader-mask">
        <div class="preloader"></div>
    </div>

    <section id="clubs" class="section align-center">
        <div class="container">

            <div class="container-header">
                {#<div class="container-header-button">#}
                    {#<a href="#" class="btn btn-black btn-sm">Grid</a>#}
                    {#<a href="#" class="btn btn-black btn-sm">List</a>#}
                {#</div>#}
                <h5 class="heading-alt">Kayıtlı Kulüpler</h5>
                <br>
            </div>

            <div id="container-body">
            {% for community in communities %}
                <div class="col-sm-2 guppy-main-page-community-box">
                    <div class="society guppy-main-page-community-box-content">
                        <div class="photo-wrapper rounded">
                            {% image 'upload/default-gallery1.jpg' %}
                                {% if community.imageBase64 %}
                                    <img src="{{ community.imageBase64 }}" alt="Community" class="img-responsive" />
                                {% else %}
                                    <img src="{{ asset_url }}" alt="Community" class="img-responsive" />
                                {% endif %}
                            {% endimage %}
                        </div>
                        <h3 class="name"><a href="{{ path("user_community_homepage" , {'communityId': community.id}) }}">{{ community.name }}</a></h3>
                        <p class="text-alt"><small>{{ community.university.name }}</small></p>
                        <ul class="speaker-socials">
                            <li><a href="{% if community.link_facebook %}{{ community.link_facebook }}{% endif %}" target="_blank"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
                            <li><a href="{% if community.link_twitter %}{{ community.link_twitter }}{% endif %}" target="_blank"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="{% if community.link_instagram %}{{ community.link_instagram }}{% endif %}" target="_blank"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
            </div>

        </div>
    </section>

{% endblock %}




{% block javascriptcontent %}
    <script>

    /*******************************************************************************************************************
     *                                          LOCAL VARIABLE
     ******************************************************************************************************************/
        var communityPage=2;    // ilk sayfa 24 topluluk getirdiğinde 12lik topluluk 3.sayfadan başlayacak


    /*******************************************************************************************************************
     *                                          AJAX OPERATIONS
     ******************************************************************************************************************/

        // searchFrom değeri "community" ya da "event" olabilir. Paging nereden devam edeceği belirlenir
        function ajaxGetMoreCommunities(page){

            // -- 2 --
            $.post("{{ path('service_community_list') }}" , {
                page : page
            }).always(function(){
            }).done(function(data){

                // -- 2.1 -- CONSOLE
                if(Guppy.responseDebugMode)
                    console.log(data);

                // -- 2.2 -- sonuc düzenlenir
                if(data.resultText == 'SUCCESS'){

                    // -- 2.2.1 --

                    // -- 2.2.2 --
                    if(data.content){
                        data.content.communityList.forEach(function(community) {
                            if(community['isApproved']) {

                                communityElem = '<div class="col-sm-2 guppy-main-page-community-box">' +
                                        '<div class="society guppy-main-page-community-box-content">' +
                                        '<div class="photo-wrapper rounded">' +
                                        '<img src="' + community['image'] + '" alt="Community" class="img-responsive" />' +
                                        '</div>' +
                                        '<h3 class="name"><a href="' + community['homepagelink'] + '">' + community['name'] + '</a></h3>' +
                                        '<p class="text-alt"><small>' + community['universityName'] + '</small></p>' +

                                        '<ul class="speaker-socials">' +
                                        '<li><a href="' + community['link_facebook'] + '" target="_blank"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>' +
                                        '<li><a href="' + community['link_twitter'] + '" target="_blank"><span class="fa fa-twitter"></span></a></li>' +
                                        '<li><a href="' + community['link_instagram'] + '" target="_blank"><span class="fa fa-instagram"></span></a></li>' +
                                        '</ul>' +
                                        '</div>' +
                                        '</div>';

                                $('#container-body').append(communityElem);
                            }
                        });
                    }

                }else if(data.resultText == 'SUCCESS_EMPTY'){
                    alert('Warning -- ' + ' could not found any borough');
                }else if(data.resultText == 'FAILURE_PERMISSION'){
                    alert('Warning -- ' + ' you are not authorization for this operation');
                }else{
                    alert('Warning -- ' + ' error occured while getting borough list');
                }
            });
        }



    /*******************************************************************************************************************
     *                                          EVENTS
     ******************************************************************************************************************/

        // ekranda aşağıya gidildikçe bir sonraki sayfaların gelmesi işlemidir
        $(window).scroll(function(){
            if($(document).height()==$(window).scrollTop()+$(window).height()){
                ++communityPage;
                ajaxGetMoreCommunities(communityPage)
            }
        });

    </script>
{% endblock %}
