{% extends 'AppBundle::main_base.html.twig' %}

{% block title %}Üniversite Etkinlikleri{% endblock %}
{% block metaDescription %}Üniversite yakın zamandaki etkinliklerin listesi{% endblock %}
{% block metaKeyword %}Seruvent bilkent üniversitesi yakın zaman etkinlikleri {% endblock %}

{% block content %}

    <div class="preloader-mask">
        <div class="preloader"></div>
    </div>

    <!-- CALENDAR MAIN -->
    <section class="">
        <div class="container">
            <div class="col-sm-12">
                <div class="ge-event-calendar-area ge-content-box">
                    <div class="ge-event-calendar-action" id="ge-event-calendar-action">
                        <div class="ge-select-month-btn pull-left">
                            <div>
                                <button onclick="window.location.href='{{ path('home_events',{'d':prevMonthDateParam}) }}'" class="btn btn-outline-clr btn-sm"><i class="fa fa-chevron-left"></i></button>
                                <button onclick="window.location.href='{{ path('home_events',{'d':nextMonthDateParam}) }}'" class="btn btn-outline-clr btn-sm"><i class="fa fa-chevron-right"></i></button>
                            </div>
                        </div>
                        <div class="ge-select-month-name pull-left">
                            <span class="ge-select-month-name-box">
                                {{ calendarHeaderMonth }}
                            </span>
                           <span class="ge-select-month-year-box">
                                {{ calendarHeaderYear }}
                            </span>
                        </div>
                        <div class="ge-other-action pull-right">
                            <button class="btn btn-sm btn-white-text"><i class="fa fa-calendar-plus-o"></i></button>
                        </div>
                    </div>

                    <div class="ge-event-calendar" id="ge-event-calendar">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Pzt</th>
                                    <th>Sal</th>
                                    <th>Çar</th>
                                    <th>Per</th>
                                    <th>Cum</th>
                                    <th>Cmt</th>
                                    <th>Paz</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for eventListWeek in eventListWeeks %}
                                    <tr>
                                        {% for eventDay in eventListWeek %}
                                            <td {% if eventDay.isToday is defined and eventDay.isToday %}class="active calendar-day"{% else %} class="calendar-day"{% endif %} data-date="{{ date(eventDay.eventDate)|date('Y/m/d') }}">
                                                <div class="ge-calendar-cell-div" id="ge-calendar-cell-div">
                                                    <span class="ge-calendar-cell-day-number {% if eventDay.isFuture is not defined %}ge-other-day-number{% endif %}">{{ date(eventDay.eventDate)|date('d') }}</span>
                                                    {% if eventDay.isFuture is defined and eventDay.isFuture %}
                                                        <span class="ge-calendar-cell-add-event">
                                                            <i class="fa fa-plus"></i><a href="#">Oluştur</a>
                                                        </span>
                                                    {% endif %}
                                                    <ul class="list-inline">
                                                        {% for event in eventDay.eventList %}
                                                            <li class="ge-event-item">
                                                                <a href="{{ path('user_event_mainpage' , {'eventId':event.id}) }}" class="ge-event-item-link" title="{{ event.title }}" rel="tooltip">
                                                                    <img src="{{ event.communityUser.community.imageBase64 }}" alt="">
                                                                </a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div><!-- calendar ends -->

                </div> <!-- calendar-panel ends -->
            </div>
        </div>
    </section>

    <section class="section ge-events-list-section">
        <div id="daily-events-container" class="container">
        <h4 id="daily-events-title" class="ge-events-list-title">{{ todayDate|date('d.m.Y') }} Etkinlikleri</h4>

        {% if todayEvents|length>0 %}

            {% for event in todayEvents %}
                <div class="col-sm-4 seruvent-ebox" data-link="{{ event.eventLink }}" data-title="{{ event.title }}>
                    <div class="ge-events-box" id="ge-event-box">
                        <a href="{{ path('user_event_mainpage' , {'eventId':event.id}) }}" title="{{ event.title }}" class="ge-events-box-link">
                        <span class="ge-events-box-img">
                            <img src="{{ event.imageBase64 }}" alt="" class="img-responsive">
                        </span>
                        <span class="ge-events-box-date">
                            {{ event.startDate|date("d.m.Y / H:i") }}
                        </span>
                            <h5 class="ge-events-box-title">{{ event.title }}</h5>
                            <span class="ge-events-box-location">{{ event.communityUser.community.name }} @ {{ event.communityUser.community.university.name }} </span>
                        </a>
                        <div class="ge-event-box-footer">
                            <div class="ge-event-box-footer-tags">
                                <ul class="list-inline">
                                    <li><a href="#" title="">#etkinlik</a></li>
                                </ul>
                            </div>
                            <div class="ge-event-box-footer-btn">
                                <ul>
                                    <li><a href="#" title="Paylaş" rel="tooltip"><i class="fa fa-share-alt"></i></a></li>
                                    <li><a href="#" title="Kaydet" rel="tooltip"><i class="fa fa-bookmark-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <!-- DAHA FAZLA BUTONU -->
            {#<div class="col-sm-12">#}
                {#<div class="ge-events-list-more align-center">#}
                    {#<button class="btn btn-outline-clr"><span>Daha Fazla</span></button>#}
                {#</div>#}
            {#</div>#}

        {% endif %}
        </div>
    </section>

    <!-- SHARE MODAL -->
    <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h6 class="modal-title">Arkadaşlarınla Paylaş !</h6>

                </div>
                <div class="modal-body" style="background-color: #CCCCCC;">
                    <div class="te">
                        <ul class="socials-nav" style="position: inherit!important;">
                            <li class="socials-nav-item" data-social-share="twitter" ><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li class="socials-nav-item" data-social-share="facebook" ><a href="#"><span class="fa fa-facebook"></span></a></li>
                            {#<li class="socials-nav-item" ><a href="#"><span class="fa fa-vimeo-square"></span></a></li>#}
                            {#<li class="socials-nav-item" ><a href="#"><span class="fa fa-google-plus"></span></a></li>#}
                        </ul>

                        <div style="padding-left: 5%; padding-right: 5%;">
                            <input id="shareModalInput" name="shareModalInput" type="url" value=""/>
                            <input id="shareModalTitleInput" name="shareModalTitleInput" type="text" value="" style="display:none;"/>
                        </div>

                        <a id="share-seruvent-on-twitter" class="twitter-share-button" target="_blank"
                           href="https://twitter.com/intent/tweet?"></a>

                    </div>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

{% endblock %}



{% block javascriptcontent %}
    <script>

    /*******************************************************************************************************************
     *                                          LOCAL VARIABLE
     ******************************************************************************************************************/
        var communityPage=2;    // ilk sayfa 24 topluluk getirdiğinde 12lik topluluk 3.sayfadan başlayacak


    /*******************************************************************************************************************
     *                                          AJAX OPERATIONS
     ******************************************************************************************************************/


        function ajaxGetDailyEvents(day){

            // -- 2 --
            $.post("{{ path('service_daily_events_list') }}" , {
                date : day
            }).always(function(){
            }).done(function(data){

                // -- 2.1 -- CONSOLE
                if(Guppy.responseDebugMode)
                    console.log(data);

                // -- 2.2 -- sonuc düzenlenir
                if(data.resultText == 'SUCCESS'){

                    // -- 2.2.1 --
                    $("#daily-events-title").html(day + " Etkinlikleri");
                    $("#daily-events-container div").remove();
                    // -- 2.2.2 --
                    if(data.content){

                        data.content.eventList.forEach(function(eventMain) {

                            communityElem =
                                '<div class="col-sm-4 seruvent-ebox" data-link="'+eventMain.eventLink+'" data-title="'+eventMain.event.title+'">' +
                                    '<div class="ge-events-box" id="ge-event-box">' +
                                        '<a href="' + eventMain.eventLink + '" title="' + eventMain.event.title + '" class="ge-events-box-link">' +
                                            '<span class="ge-events-box-img">' +
                                                '<img src="'+ eventMain.event.imageBase64 +'" alt="" class="img-responsive">' +
                                            '</span>' +
                                            '<span class="ge-events-box-date">' + eventMain.event.startDate + '</span>' +

                                            '<h5 class="ge-events-box-title">' + eventMain.event.title + '</h5>' +
                                            '<span class="ge-events-box-location">'+ eventMain.event.community +'</span>' +
                                        '</a>' +

                                        '<div class="ge-event-box-footer">' +
                                            '<div class="ge-event-box-footer-tags">' +
                                                '<ul class="list-inline">' +
                                                    '<li><a href="#" title="">#etkinlik</a></li>' +
                                                '</ul>' +
                                            '</div>' +
                                            '<div class="ge-event-box-footer-btn">' +
                                                '<ul>' +
                                                    '<li><a class="shareLink" title="Paylaş" data-toggle="modal" rel="tooltip"><i class="fa fa-share-alt"></i></a></li>' +
                                                    '<li><a href="#" title="Kaydet" rel="tooltip"><i class="fa fa-bookmark-o"></i></a></li>' +
                                                '</ul>' +
                                            '</div>' +
                                        '</div>' +
                                    '</div>' +
                                '</div>';

                            $('#daily-events-container').append(communityElem);
                        });

                    }

                }else if(data.resultText == 'SUCCESS_EMPTY'){
                    alert('Warning -- ' + ' could not found any borough');
                }else if(data.resultText == 'FAILURE_PERMISSION'){
                    alert('Warning -- ' + ' you are not authorization for this operation');
                }else{
                    alert('Warning -- ' + ' error occured while getting borough list');
                }
            });
        }



    /*******************************************************************************************************************
     *                                          EVENTS
     ******************************************************************************************************************/

        // select day from calendar event
        $(document).on('click', 'td.calendar-day',function(event){
            if($(event.target).attr('data-date')){
                ajaxGetDailyEvents($(event.target).attr('data-date'));
                $(".ge-event-calendar  table tbody tr td").removeClass("active");
                $(event.target).addClass("active");
            }
        });


        // paylaş butonu tıklanıldığında
        $(document).on('click', '.shareLink',function(event){
            $('#shareModalInput').val($(event.target).parentsUntil('.seruvent-ebox').last().parent().attr('data-link'));
            $('#shareModalTitleInput').val($(event.target).parentsUntil('.seruvent-ebox').last().parent().attr('data-title'));
            $('#shareModal').modal('show');
        });


        // paylaşılacak sosyal ağ seçildiğinde
        $(document).on('click', '.socials-nav-item',function(event){

            social =  $(event.target).parentsUntil('li').last().parent().attr('data-social-share');
            switch(social) {
                case 'facebook':
                    $('#shareModal').modal('hide');
                    var win = window.open('https://www.facebook.com/sharer/sharer.php?u='+$('#shareModalInput').val(), '_blank');
                    win.focus();
                    break;

                case 'twitter':
                        twitterlink = 'https://twitter.com/intent/tweet?';
                        parameters = '&url=' + $('#shareModalInput').val();
                        parameters += '&hashtags=' + 'seruvent,etkinlik';
                        parameters += '&text=' + $('#shareModalTitleInput').val();

                        $( "#share-seruvent-on-twitter" ).attr('href',twitterlink+parameters);
                        $( "#share-seruvent-on-twitter" )[0].click();
                    break;
                default:
                    break;
            }
        });


    </script>
{% endblock %}

