{% extends 'AppBundle::main_base.html.twig' %}

{% block title %}Topluluklarım{% endblock %}


{% block content %}

    <!-- --------------------------------------------- -->
    <!-- ------------------ CONTENT ------------------ -->
    <!-- --------------------------------------------- -->

    <section class="guppy-section align-center">
        <div class="container">

            <!-- -------------- SIDEBAR -------------- -->
            {{ include('AppBundle:user:profile_sidebar.html.twig') }}


            <!-- -------------- CONTENT -------------- -->
            <div class="community-content col-md-10">

                <div class="profile-content-header"></div>

                <div class="profile-content-body">
                    <div class="fade active in">

                        <div class="col-sm-12 align-left">

                            <!-- Yönetici olunan topluluklar -->
                            {% if communityUserAdminCommunities is defined and communityUserAdminCommunities|length > 0 %}
                                <div class="row co-admin">
                                    <div class="col-sm-12">
                                        <p class="text-left"><strong>YÖNETİCİ TOPLULUKLARI</strong></p>
                                    </div>
                                    {% for communityUser in communityUserAdminCommunities %}
                                        {% if communityUser.community %}
                                            <div class="col-sm-6">
                                                <div class="testimonial profile-community-body" data-co-user-id="{{ communityUser.id }}" data-community-name="{{ communityUser.community.name }}" style="border: 1px solid #ccc!important;">
                                                    <div class="author-block">
                                                        <div class="photo-container">
                                                            {% if communityUser.community.imageBase64 %}
                                                                <img src="{{ communityUser.community.imageBase64 }}" alt="{{ communityUser.community.name }}" class="img-responsive" />
                                                            {% else %}
                                                                {% image 'theme/assets/img/guppy_avatar_001.png' %}
                                                                    <img src="{{ asset_url }}" class="img-responsive" alt="{{ communityUser.community.name }}" />
                                                                {% endimage %}
                                                            {% endif %}
                                                        </div>

                                                        <strong class="name"><a href="{{ path('user_community_users_homepage' , {'communityId':communityUser.community.id}) }}">{{ communityUser.community.name }} </a></strong>
                                                        <small class="text-alt company">Yönetici @ {{ communityUser.community.name }}</small>
                                                    </div>

                                                    {% if isProfileOwner is defined and isProfileOwner==true %}
                                                        <div class="profile-community-box-edit-parent"><span class="profile-community-box-edit" data-modal-link="community-background-image"><i class="fa fa-times" aria-hidden="true"></i></span></div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}


                            <!-- Üye olunan topluluklar -->
                            {% if communityUserMemberCommunities is defined and communityUserMemberCommunities|length > 0 %}
                                <div class="row co-member" style="padding-top: 20px;">
                                    <div class="col-sm-12">
                                        <p class="text-left"><strong>ÜYE TOPLULUKLARI</strong></p>
                                    </div>
                                    {% for communityUser in communityUserMemberCommunities %}
                                        {% if communityUser.community %}
                                            <div class="col-sm-6">
                                                <div class="testimonial profile-community-body" data-co-user-id="{{ communityUser.id }}" data-community-name="{{ communityUser.community.name }}" style="border: 1px solid #ccc!important;">
                                                    <div class="author-block">
                                                        <div class="photo-container">
                                                            {% if communityUser.community.imageBase64 %}
                                                                <img src="{{ communityUser.community.imageBase64 }}" alt="{{ communityUser.community.name }}" class="img-responsive" />
                                                            {% else %}
                                                                {% image 'theme/assets/img/guppy_avatar_001.png' %}
                                                                <img src="{{ asset_url }}" class="img-responsive" alt="{{ communityUser.community.name }}" />
                                                                {% endimage %}
                                                            {% endif %}
                                                        </div>

                                                        <strong class="name"><a href="{{ path('user_community_users_homepage' , {'communityId':communityUser.community.id}) }}">{{ communityUser.community.name }} </a></strong>
                                                        <small class="text-alt company">Üye @ {{ communityUser.community.name }}</small>
                                                    </div>

                                                    {% if isProfileOwner is defined and isProfileOwner==true %}
                                                        <div class="profile-community-box-edit-parent"><span class="profile-community-box-edit" data-modal-link="community-background-image"><i class="fa fa-times" aria-hidden="true"></i></span></div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}


                            <!-- Başvuru yapılan topluluklar -->
                            {% if communityUserApplicationsCommunities is defined and communityUserApplicationsCommunities|length > 0 %}
                                <div class="row co-member" style="padding-top: 20px;">
                                    <div class="col-sm-12">
                                        <p class="text-left"><strong>Başvuru Yapılan Topluluklar</strong></p>
                                    </div>
                                    {% for communityUser in communityUserApplicationsCommunities %}
                                        {% if communityUser.community %}
                                            <div class="col-sm-6">
                                                <div class="testimonial profile-community-body" data-co-user-id="{{ communityUser.id }}" data-community-name="{{ communityUser.community.name }}" style="border: 1px solid #ccc!important;">
                                                    <div class="author-block">
                                                        <div class="photo-container">
                                                            {% if communityUser.community.imageBase64 %}
                                                                <img src="{{ communityUser.community.imageBase64 }}" alt="{{ communityUser.community.name }}" class="img-responsive" />
                                                            {% else %}
                                                                {% image 'theme/assets/img/guppy_avatar_001.png' %}
                                                                <img src="{{ asset_url }}" class="img-responsive" alt="{{ communityUser.community.name }}" />
                                                                {% endimage %}
                                                            {% endif %}
                                                        </div>

                                                        <strong class="name"><a href="{{ path('user_community_users_homepage' , {'communityId':communityUser.community.id}) }}">{{ communityUser.community.name }} </a></strong>
                                                        <small class="text-alt company">Başvurulmuş @ {{ communityUser.community.name }}</small>
                                                    </div>

                                                    {% if isProfileOwner is defined and isProfileOwner==true %}
                                                        <div class="profile-community-box-edit-parent"><span class="profile-community-box-edit" data-modal-link="community-background-image"><i class="fa fa-times" aria-hidden="true"></i></span></div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}

                        </div><!-- .col-sm-12 .align-left end -->

                    </div><!-- .fade .active .in end -->
                </div><!-- profil-content-body end -->

            </div><!-- .community-content -->
        </div>
    </section>


    <div id="profile-community-box-edit-confirm" style="display: none;">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span><div id="modal-alert-text">These items will be permanently deleted and cannot be recovered. Are you sure?</div></p>
    </div>

{% endblock %}





{% block javascriptcontent %}
    <script>

/***********************************************************************************************************************
 *                                          LOCAL VARIABLE
 **********************************************************************************************************************/
        var error_msg = '{% if error_msg is defined %}{{ error_msg|json_encode|raw }}{% endif %}';
        var success_msg = '{% if success_msg is defined %}{{ success_msg|json_encode|raw }}{% endif %}';
        var warning_msg = '{% if warning_msg is defined %}{{ warning_msg|json_encode|raw }}{% endif %}';


/***************************************************************************************************************
 *                                          UTIL FUNCTIONS
 ********************************************************************-******************************************/
        function fileToBase64Converter(eventTargetElement, targetImgElementId, targetImgBase64ElementId) {
            if (eventTargetElement.files && eventTargetElement.files[0]) {
                var FR= new FileReader();
                FR.onload = function(e) {
                    $(targetImgElementId).attr('src', e.target.result);
                    $(targetImgBase64ElementId).val(e.target.result);
                };
                FR.readAsDataURL( eventTargetElement.files[0] );
            }
        }

/***********************************************************************************************************************
 *                                          AJAX OPERATIONS
 **********************************************************************************************************************/

    {% if isProfileOwner is defined and isProfileOwner==true %}

        function ajaxLeaveFromCommunity(eventTarget,communityUserId){

            // -- 2 --
            $.post("{{ path('user_community_membership_leave') }}" ,{
                communityUserId : communityUserId,
            }).always(function(){

            }).done(function(data){

                // -- 2.1 -- CONSOLE
                if(Guppy.responseDebugMode)
                    console.log(data);

                // -- 2.2 -- sonuc düzenlenir
                if(data.resultText == 'SUCCESS'){

                    communityBoxParent = $(eventTarget).parentsUntil('.profile-community-body').last().parent().parent();
                    communityBoxParent.children().remove();
                    communityBoxParent.append(
                            '<div style="border: 1px solid #ccc!important; height: 70px;">' +
                                '<div class="author-block" style="width: inherit; height: inherit;">' +
                                    '<small class="text-alt company" style="width: 100%; height: 100%; text-align: center; line-height: 70px;">Topluluktan ayrıldınız...</small>' +
                                '</div>' +
                            '</div>');

                    // box yerine ayrıldığını belirten bir yazı konulacak
                    toastr.success(data.content['success_msg']);

                }else if(data.resultText == 'SUCCESS_EMPTY'){
                    toastr.error('Beklenmeyen hata ile karşılaşıldı');
                }else if(data.resultText == 'FAILURE_PERMISSION'){
                    toastr.error('Bu işlem için izniniz bulunmamaktadır');
                }else{
                    toastr.error('Beklenmeyen hata ile karşılaşıldı');
                }
            });
        }

    {% endif %}

/***********************************************************************************************************************
 *                                          EVENTS
 **********************************************************************************************************************/

    {% if isProfileOwner is defined and isProfileOwner==true %}

        // community box hover event
        $( ".profile-community-body" ).hover(function() {
            $( this ).find('.profile-community-box-edit').show();
        },function() {
            $( this ).find('.profile-community-box-edit').hide();
        });

        // topluluktan ayrılma işlemi
        $(document).on('click' , '.profile-community-box-edit' , function (event) {

            communityUserId = $(event.target).parentsUntil('.profile-community-body').last().parent().attr('data-co-user-id');
            communityName = $(event.target).parentsUntil('.profile-community-body').last().parent().attr('data-community-name');

            $('#modal-alert-text').html(communityName + ' topluluğundan ayrılmak istediğinize emin misiniz?');
            $( "#profile-community-box-edit-confirm" ).dialog({
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                title: "Bu gruptan ayrıl?",
                buttons: {
                    "Ayrıl": function() {
                        ajaxLeaveFromCommunity(event.target , communityUserId)
                        $( this ).dialog( "close" );
                    },
                    "İptal": function() {
                        $( this ).dialog( "close" );
                    }
                }
            });

        });
    {% endif %}


/***********************************************************************************************************************
 *                                          DOCUMENT ON READY
 **********************************************************************************************************************/

        // -- Operation Result Message
        if(success_msg){
            toastr.success(success_msg);
        }else if(error_msg){
            toastr.error(error_msg);
        }else if(warning_msg){
            toastr.warning(warning_msg);
        }

    </script>

{% endblock %}

