
        <!-- -------------- SIDEBAR -------------- -->
        <div class="community-sidebar col-md-2">
            <div class="community-sidebar-photo" >
                <div class="society">
                    <div class="photo-wrapper rounded">
                        {% if user.imageBase64 %}
                            <img src="{{ user.imageBase64 }}" alt="{{ user.name }}" class="img-responsive" />
                        {% else %}
                            {% image 'theme/assets/img/guppy_avatar_001.png' %}
                                <img src="{{ asset_url }}" class="img-responsive" alt="{{ user.name }}" />
                            {% endimage %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <hr>
            <div class="community-sidebar-navigation">
                <ul class="community-dropdown-menu">

                    <!-- SIDEBAR LINK ABOUT -->
                    <!-- SIDEBAR LINK ABOUT -->
                    <li class="community-navigation-item">
                        <a href="
                            {% if urlContinueWithId is defined and urlContinueWithId==true%}
                                {{ path('user_profile_with_id' , {'userId':user.id}) }}
                            {% else %}
                                {{ path('user_profile_account') }}
                            {% endif %}"
                                class="navigation-link {% if app.request.get('_route') == 'user_profile_account' or app.request.get('_route') == 'user_profile_with_id'%}active{% endif %}">Hesap</a>
                    </li>


                    <!-- SIDEBAR LINK PASSWORD CHANGE -->
                    <!-- SIDEBAR LINK PASSWORD CHANGE -->
                    {% if isProfileOwner is defined and isProfileOwner==true %}
                        <li class="community-navigation-item"><a href="{{ path('user_profile_password') }}" class="navigation-link {% if app.request.get('_route') == 'user_profile_password'%}active{% endif %}">Şifre İşlemleri</a></li>
                    {% endif %}


                    <!-- SIDEBAR LINK MAIL -->
                    <!-- SIDEBAR LINK MAIL -->
                    <li class="community-navigation-item">
                        <a href="
                            {% if urlContinueWithId is defined and urlContinueWithId==true%}
                                {{ path('user_profile_mail_with_id' , {'userId':user.id}) }}
                            {% else %}
                                {{ path('user_profile_mail') }}
                            {% endif %}"
                                class="navigation-link {% if app.request.get('_route') == 'user_profile_mail' or app.request.get('_route') == 'user_profile_mail_with_id' %}active{% endif %}">Mail Adresleri </a>
                    </li>


                    <!-- SIDEBAR LINK COMMUNITIES -->
                    <!-- SIDEBAR LINK COMMUNITIES -->
                    <li class="community-navigation-item">
                        <a href="
                            {% if urlContinueWithId is defined and urlContinueWithId==true%}
                                {{ path('user_profile_communities_with_id' , {'userId':user.id}) }}
                            {% else %}
                                {{ path('user_profile_communities') }}
                            {% endif %}"
                                class="navigation-link {% if app.request.get('_route') == 'user_profile_communities' or app.request.get('_route') == 'user_profile_communities_with_id' %}active{% endif %}">Topluluklar</a>
                    </li>


                    <!-- SIDEBAR LINK BADGES -->
                    <!-- SIDEBAR LINK BADGES -->
                    <li class="community-navigation-item">
                        <a href="
                            {% if urlContinueWithId is defined and urlContinueWithId==true%}
                                {{ path('user_profile_badges_with_id' , {'userId':user.id}) }}
                            {% else %}
                                {{ path('user_profile_badges') }}
                            {% endif %}"
                                class="navigation-link {% if app.request.get('_route') == 'user_profile_badges' or app.request.get('_route') == 'user_profile_badges_with_id' %}active{% endif %}">Rozetler</a>
                    </li>

                </ul>
            </div>
        </div>




