
        <!-- -------------- SIDEBAR -------------- -->

        <div class="ge-community-left-sidebar col-md-2 col-sm-3">
            <div class="ge-community-logo-area">
                <div class="ge-community-logo">
                    {#{% if user.imageBase64 %}#}
                        {#<img src="{{ user.imageBase64 }}" alt="{{ user.name }}" class="img-responsive" />#}
                    {#{% else %}#}
                        {#{% image 'theme/assets/img/guppy_avatar_001.png' %}#}
                        {#<img src="{{ asset_url }}" class="img-responsive" alt="{{ user.name }}" />#}
                        {#{% endimage %}#}
                    {#{% endif %}#}
                        <span class="masonry-item">
                            <div class="user-profile-picture-box">
                                <div class='user-profile-picture-content'>
                                    <a href="#" class="gallery-thumb-link" data-modal-link="user-profile-picture-modal">
                                        {% if user.imageBase64 %}
                                            <img id="img_viewer" src="{{ user.imageBase64 }}" alt="{{ user.name }}" class="img-responsive user-profile-picture-img" />
                                        {% else %}
                                            {% image 'theme/assets/img/guppy_avatar_001.png' %}
                                                <img id="img_viewer" src="{{ asset_url }}" class="img-responsive user-profile-picture-img" alt="{{ user.name }}" />
                                            {% endimage %}
                                        {% endif %}
                                    </a>
                                </div>
                            </div>

                            <div class="modal-window" data-modal="user-profile-picture-modal">
                                <div class="modal-box small animated align-center" data-animation="zoomIn" data-duration="700">
                                    <span class="close-btn icon icon-office-52"></span>

                                    <h6 class="heading-alt">Profil Resmi</h6>

                                    {% if user.imageBase64 %}
                                        <img src="{{ user.imageBase64 }}" alt="{{ user.name }}" class="full-width-img user-profile-picture-img" />
                                    {% else %}
                                        {% image 'theme/assets/img/guppy_avatar_001.png' %}
                                        <img src="{{ asset_url }}" class="full-width-img user-profile-picture-img" alt="{{ user.name }}" />
                                        {% endimage %}
                                    {% endif %}

                                    {% if app.request.get('_route') == 'user_profile_account' %}
                                        <div>
                                            <input id="temp_img_loader" type='file' style="display: none;"/>
                                            <a id="temp_img_loader_trigger">
                                                <i class="fa fa-upload" aria-hidden="true"> Resim Yükle</i></a>
                                        </div>
                                    {% endif %}

                                </div>
                            </div>

                        </span>
                </div>



            </div>
            <div class="ge-community-name">
                <hr/>
            </div>
            <ul class="ge-community-sidebar-menu ge-menu-group">
                <li class="{% if app.request.get('_route') == 'user_profile_account' or app.request.get('_route') == 'user_profile_with_id'%}active{% endif %}">
                    <a href="
                            {% if urlContinueWithId is defined and urlContinueWithId==true%}
                                {{ path('user_profile_with_id' , {'userId':user.id}) }}
                            {% else %}
                                {{ path('user_profile_account') }}
                            {% endif %}"
                       class="ge-menu-group-item">Hakkında</a></li>

                {% if isProfileOwner is defined and isProfileOwner==true %}
                    <li class="{% if app.request.get('_route') == 'user_profile_password'%}active{% endif %}"><a href="{{ path('user_profile_password') }}" class="ge-menu-group-item">Şifre İşlemleri</a></li>
                {% endif %}

                <li class="{% if app.request.get('_route') == 'user_profile_mail' or app.request.get('_route') == 'user_profile_mail_with_id' %}active{% endif %}">
                    <a href="
                            {% if urlContinueWithId is defined and urlContinueWithId==true%}
                                {{ path('user_profile_mail_with_id' , {'userId':user.id}) }}
                            {% else %}
                                {{ path('user_profile_mail') }}
                            {% endif %}" class="ge-menu-group-item">Mail Adresleri</a></li>

                <li class="{% if app.request.get('_route') == 'user_profile_communities' or app.request.get('_route') == 'user_profile_communities_with_id' %}active{% endif %}">
                    <a href="
                            {% if urlContinueWithId is defined and urlContinueWithId==true%}
                                {{ path('user_profile_communities_with_id' , {'userId':user.id}) }}
                            {% else %}
                                {{ path('user_profile_communities') }}
                            {% endif %}" class="ge-menu-group-item">Topluluklar</a></li>


                <li style="display: none;" class="{% if app.request.get('_route') == 'user_profile_badges' or app.request.get('_route') == 'user_profile_badges_with_id' %}active{% endif %}">
                    <a href="
                            {% if urlContinueWithId is defined and urlContinueWithId==true%}
                                {{ path('user_profile_badges_with_id' , {'userId':user.id}) }}
                            {% else %}
                                {{ path('user_profile_badges') }}
                            {% endif %}" class="ge-menu-group-item">Rozetler</a></li>

            </ul>

            {% if hasCommunityAdminRole is defined and hasCommunityAdminRole %}
                <div class="ge-community-sidebar-action">
                    <button class="ge-community-action-btn" onclick="window.location.href='{{ path('event_add_page') }}'" type="submit"><i class="fa fa-plus"></i>Etkinlik Oluştur</button>
                </div>
            {% endif %}

        </div>





