{% extends 'AppBundle::main_base.html.twig' %}

{% block title %}Mail Ayarları{% endblock %}


{% block stylesheets %}


    <!-- iconbar -->
    <style>
        .icon-bar {
            width: 100%;
            text-align: center;
            overflow: auto;
        }

        .icon-bar a {
            width: 40%;
            padding: 4px 0;
            float: left;
            transition: all 0.3s ease;
            color: white;
            font-size: 16px;
        }

        .icon-bar a:hover {
            background-color: #000;
        }
    </style>

{% endblock %}

{% block content %}

    <!-- --------------------------------------------- -->
    <!-- ------------------ CONTENT ------------------ -->
    <!-- --------------------------------------------- -->

    <section class="guppy-section align-center">
        <div class="container">


            <!-- -------------- SIDEBAR -------------- -->
            {{ include('AppBundle:user:profile_sidebar.html.twig') }}


            <!-- -------------- CONTENT -------------- -->
            <div class="profile-content col-md-10">

                <div class="ge-content-box" style="overflow: hidden;">

                    <!-- MAIL PANEL HEADER -->
                    <div class="profile-content-header"></div>

                    <!-- MAIL PANEL BODY -->
                    <div class="profile-content-body">
                        <div class="fade active in">
                            <div class="col-sm-12 align-left">
                                <h6>Mail Adresleri </h6>
                                <div>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Durum</th>
                                            <th>Mail Adresi</th>
                                            <th>Geçerlilik Tarihi</th>
                                            {% if isProfileOwner is defined and isProfileOwner==true %}
                                                <th>İşlem</th>
                                            {% endif %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for userUniversityMail in userUniversityMailList %}
                                                <tr id="mailid{{ userUniversityMail.id }}" mailId="{{ userUniversityMail.id }}">
                                                    <td>{% if userUniversityMail.isValidated %}Aktif{% else %}Pasif{% endif %}</td>
                                                    <td>{{ userUniversityMail.email }}</td>
                                                    <td>{{ userUniversityMail.updateDate|date_modify("+2 year")|date('d/m/Y') }}</td>
                                                    {% if isProfileOwner is defined and isProfileOwner==true %}
                                                        <td>
                                                            <form id="mail_setting" action="{{ path('user_profile_mail') }}" method="post">

                                                                <div class="icon-bar">
                                                                    <a id="op_mail_send_activation"><i class="fa fa-link"></i></a>
                                                                    <a id="op_mail_remove"><i class="fa fa-trash-o"></i></a>
                                                                </div>

                                                                <!-- TODO: Form yapısı kaldırılabilir  -->
                                                                <input type="text" class="form-control" name="mail_id" style="display: none;">
                                                                <button type="submit" class="btn btn-rounded btn-sm" style="display: none;"></button>
                                                            </form>
                                                        </td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>


                                {% if isProfileOwner is defined and isProfileOwner==true %}
                                    <div style="padding-top: 40px;">
                                        <form id="add_new_mail_submit" onsubmit="return validateEmail()" action="{{ path('user_profile_mail') }}" method="post">

                                            <!-- mail address -->
                                            <div class="form-group">
                                                <h6>Mail adresi ekle</h6>
                                                <input type="text" class="form-control" name="mail_address" id="mail_address" placeholder="Yeni mail adresinizi girebilirsiniz">
                                            </div>

                                            <button type="submit" class="btn btn-rounded btn-sm">Ekle!</button>
                                        </form>
                                    </div> <!-- new mail form ends -->
                                {% endif %}

                            </div>
                        </div>

                    </div> <!-- .profile-content-body ends -->
                </div>
            </div> <!-- .profile-content -->

        </div> <!-- .container ends -->
    </section>

{% endblock %}



{% block javascriptcontent %}
    <script>

/***********************************************************************************************************************
 *                                          LOCAL VARIABLE
 **********************************************************************************************************************/


/***********************************************************************************************************************
 *                                          UTIL FUNCTIONS
 **********************************************************************************************************************/
        function validateEmail() {

            if( !GuppyUtil.validateEmail( $("#mail_address").val())) {

                toastr.error('Mail adresi geçerli değil');
                return false;
            }

            return true;
        }


/***********************************************************************************************************************
 *                                          AJAX OPERATIONS
 **********************************************************************************************************************/

        function ajaxRemoveMail(mailId){

            // -- 1 --
            // open alert box to inform user

            // -- 2 --
            // ajax call
            $.post("{{ path('university_user_delete_service') }}" ,{
                mid : mailId
            }).always(function(){

            }).done(function(data){

                // -- 2.1 -- CONSOLE
                if(Guppy.responseDebugMode)
                    console.log(data);

                // -- 2.2 -- sonuc düzenlenir
                if(data.resultText == 'SUCCESS'){

                    // -- 2.2.1 -- insert new options
                    $('#mailid'+mailId).remove();

                    // -- 2.2.2 --
                    toastr.success('Mailiniz silindi');

                }else if(data.resultText == 'SUCCESS_EMPTY'){
                    toastr.error('Beklenmeyen hata ile karşılaşıldı');
                }else if(data.resultText == 'FAILURE_PERMISSION'){
                    toastr.error('Bu işlem için izniniz bulunmamaktadır');
                }else{
                    toastr.error('Beklenmeyen hata ile karşılaşıldı');
                }
            });
        }

/***********************************************************************************************************************
 *                                          EVENTS
 **********************************************************************************************************************/

        $(document).on('click' , '#op_mail_send_activation' , function(){
            toastr.warning('mail adresine aktivasyon maili yollanacak...', 'YAPIM AŞAMASINDA');
        });

        $(document).on('click' , '#op_mail_remove' , function(event){
            ajaxRemoveMail($(event.target).parentsUntil('tr').last().parent().attr('mailId'));
        });

/***********************************************************************************************************************
 *                                          DOCUMENT ON READY
 **********************************************************************************************************************/

        // -- File to base64
        //document.getElementById("temp_img_loader").addEventListener("change", fileToBase64Converter, false);



    </script>

{% endblock %}

