{% extends 'AppBundle::main_base.html.twig' %}

{% block title %}Arama Sonuçları{% endblock %}

{% block subheader %}
    <div class="search-menu">
        <div class="container">
            <ul class="search-menu-list">
                <li class="active">
                    <a href="#search_result_communities" data-toggle="tab">Topluluklar</a>
                </li>
                <li>
                    <a href="#search_result_events" data-toggle="tab">Etkinlikler</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}



{% block content %}

    <div class="preloader-mask">
        <div class="preloader"></div>
    </div>

    <section class="guppy-section ge-search-result-section">
        <div class="container">

            <div class="ge-community-page-content">
                <div class="tab-content">

                    <!-- -------------------------- -->
                    <!--    TOPLULUK SONUÇLARI      -->
                    <!-- -------------------------- -->
                    <div id="search_result_communities" class="tab-pane fade active in">
                        <div class="ge-community-left-sidebar col-md-2 col-sm-3">
                            <div class="ge-left-sidebar-filter">
                                <div class="ge-filter-box ge-filter-by">
                                    <h6>SIRALA</h6>
                                    <div class="ge-filter-form-area">
                                        <form action="">
                                            <div class="radio">
                                                <label><input type="radio" name="filter-type" id="tumu" value="tümü" checked> İsme Göre </label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" name="filter-type" id="sort-by-member-count" value="sort-by-member-count" disabled="true"> Üye Sayısına Göre </label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" name="filter-type" id="sort-by-event-count" value="sort-by-event-count" disabled="true"> Etkinlik Sayısına Göre</label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" name="filter-type" id="sort-by-newest" value="sort-by-newest" disabled="true"> Yeniler </label>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="ge-filter-box ge-filter-location">
                                    <h6>ÜNİVERSİTE</h6>
                                    <div class="ge-filter-form-area">
                                        <form action="">
                                            <select class="form-control">
                                                <option>Tüm Üniversiteler <span>({{ universityCommunityCount }})</span></option>
                                                <option>Bilkent Üniversitesi <span>({{ universityCommunityCount }})</span></option>
                                            </select>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="ge-community-right-content col-md-10 col-sm-9">
                            <div class="ge-horizontal-list-area">
                                <div class="ge-horizontal-list-area-header">
                                    <i class="fa fa-flag-o"></i>
                                    <span>Topluluklar</span>
                                </div>
                                <div id="search_result_community_list" class="row">
                                    {% for community in communityList %}
                                        <div class="col-sm-12">
                                            <div class="ge-horizontal-item-box">
                                                <div class="ge-horizontal-item-box-content">
                                                    <div class="col-md-3 col-sm-4">
                                                        <div class="ge-community-photo-container">
                                                            {% if community.imageBase64 %}
                                                                <img src="{{ community.imageBase64 }}" alt="{{ community.name }}" class="img-responsive" />
                                                            {% else %}
                                                                {% image 'theme/assets/img/guppy_avatar_001.png' %}
                                                                    <img src="{{ asset_url }}" class="img-responsive" alt="{{ community.name }}" />
                                                                {% endimage %}
                                                            {% endif %}
                                                        </div>
                                                    </div>

                                                    <div class="col-md-9 col-sm-8">
                                                        <div class="ge-community-text-container">
                                                            <h4 class="ge-events-community-title"><a href="{{ community.homepagelink }}">{{ community.name }}</a></h4>
                                                            <small class="text-alt company"> {{ community.universityName }}</small>
                                                        </div>
                                                        <div class="ge-community-add-btn">
                                                            <button class="btn btn-outline-clr"><span>Topluluğa Katıl</span></button>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="ge-event-box-footer">
                                                    <div class="ge-event-box-footer-stats">
                                                        <ul class="list-inline">
                                                            <li><i class="fa fa-group"></i>{{ community.memberCount }} <span>Kayıtlı Üye</span></li>
                                                            <li><a href="{{ community.homepagelink }}" title=""><i class="fa fa-calendar-check-o"></i>{{ community.eventCount }}<span> Etkinlik</span></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="ge-event-box-footer-btn">
                                                        <ul>
                                                            {#<li><a href="#" title="Paylaş" rel="tooltip"><i class="fa fa-share-alt"></i></a></li>#}
                                                            {#<li><a href="#" title="Kaydet" rel="tooltip"><i class="fa fa-bookmark-o"></i></a></li>#}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- -------------------------- -->
                    <!--    ETKİNLİK SONUÇLARI      -->
                    <!-- -------------------------- -->
                    <div id="search_result_events" class="tab-pane ">
                        <div class="ge-community-left-sidebar col-md-2 col-sm-3">
                            <div class="ge-left-sidebar-filter">
                                <div class="ge-filter-box ge-filter-by">
                                    <h6>KİMDEN</h6>
                                    <div class="ge-filter-form-area">
                                        <form action="">
                                            <div class="radio">
                                                <label><input type="radio" name="filter-by" id="herkes" value="herkes" checked> Yakın Tarihtekiler </label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" name="filter-by" id="kendim" value="kendim" disabled=true> En Çok Takip Edilenler </label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" name="filter-by" id="haric" value="haric" disabled=true> Takip Ettiklerim </label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="ge-filter-box ge-filter-date">
                                    <h6>TARİH</h6>
                                    <div class="ge-filter-form-area">
                                        <form action="">
                                            <select class="form-control">
                                                <option>2017</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                                <div class="ge-filter-box ge-filter-location">
                                    <h6>KONUM</h6>
                                    <div class="ge-filter-form-area">
                                        <form action="">
                                            <select class="form-control">
                                                <option>Tüm Yerler</option>
                                                {#<option>Ankara</option>#}
                                            </select>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="ge-events-right-content col-md-10 col-sm-9">
                            <div class="ge-horizontal-list-area">
                                <div class="ge-horizontal-list-area-header">
                                    <i class="fa fa-calendar-check-o"></i>
                                    <span>Etkinlikler</span>
                                </div>
                                <div id="search_result_event_list" class="row">
                                    {% for event in eventList %}
                                        <div class="col-sm-12 event-main-box" data-event-id="{{ event.id }}" data-link="{{ event.homepagelink }}" data-title="{{ event.title }}">
                                            <div class="ge-horizontal-item-box">
                                                <div class="ge-horizontal-item-box-content">
                                                    <div class="col-md-4 col-sm-5">
                                                        <div class="ge-event-photo-container">
                                                            {% if event.imageBase64 %}
                                                                <img src="{{ event.imageBase64 }}" alt="{{ event.title }}" class="img-responsive" style="width: inherit; height: inherit;"/>
                                                            {% else %}
                                                                {% image 'theme/assets/img/guppy_avatar_001.png' %}
                                                                    <img src="{{ asset_url }}" class="img-responsive" alt="{{ event.title }}" style="width: inherit; height: inherit;"/>
                                                                {% endimage %}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-sm-7">
                                                        <div class="ge-community-text-container">
                                                                <span class="ge-events-box-date">
                                                                    {{ event.startDate }}
                                                                </span>
                                                            <h5 class="ge-events-box-title">
                                                                <a href="{{ event.homepagelink }}" title="{{ event.title }}">{{ event.title }}</a>
                                                            </h5>
                                                            <span class="ge-events-box-location"><a href="#"  title="Harita için tıklayın" rel="tooltip" data-modal-link="ge-event-location"><i class="fa fa-map-marker"></i>Etkinlik Adresi</a></span>
                                                            <span class="ge-events-registered"><i class="fa fa-group"></i> {{ event.userSaveCount }} <span>Kişi takipte</span></span>
                                                        </div>
                                                        <div class="ge-community-add-btn">
                                                            {#<button class="btn btn-outline-clr"><span>Kaydol</span></button>#}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="ge-event-box-footer">
                                                    <div class="ge-event-box-footer-tags">
                                                        <ul class="list-inline">
                                                            <li><a href="#" title="">#bilkent</a></li>
                                                            <li><a href="#" title="">#etkinlik</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="ge-event-box-footer-btn">
                                                        <ul>
                                                            <li><a title="Paylaş" rel="tooltip" class="shareLink"><i class="fa fa-share-alt"></i></a></li>
                                                            <li><a title="Kaydet" rel="tooltip" class="search-event-box"><i class="fa {% if event.isSaved is defined and event.isSaved %}fa-bookmark{% else %}fa-bookmark-o{% endif %} "></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <!-- SHARE MODAL -->
    <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 1111;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h6 class="modal-title">Arkadaşlarınla Paylaş !</h6>

                </div>
                <div class="modal-body" style="background-color: #CCCCCC;">
                    <div class="te">
                        <ul class="socials-nav" style="position: inherit!important;">
                            <li class="socials-nav-item" data-social-share="twitter" ><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li class="socials-nav-item" data-social-share="facebook" ><a href="#"><span class="fa fa-facebook"></span></a></li>
                        </ul>

                        <div style="padding-left: 5%; padding-right: 5%;">
                            <input id="shareModalInput" name="shareModalInput" type="url" value=""/>
                            <input id="shareModalTitleInput" name="shareModalTitleInput" type="text" value="" style="display:none;"/>
                        </div>

                        <a id="share-seruvent-on-twitter" class="twitter-share-button" target="_blank"
                           href="https://twitter.com/intent/tweet?"></a>

                    </div>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

{% endblock %}




{% block javascriptcontent %}
    <script>

    /*******************************************************************************************************************
     *                                          LOCAL VARIABLE
     ******************************************************************************************************************/
        var search_key = '{% if search_key is defined %}{{ search_key }}{% endif %}';
        var communityPage=1, eventPage=1


        function appendCommunity(community){
            $('#search_result_community_list').append(
                    '<div class="col-sm-12">'+
                        '<div class="ge-horizontal-item-box">'+
                            '<div class="ge-horizontal-item-box-content">'+
                                '<div class="col-md-3 col-sm-4">'+
                                    '<div class="ge-community-photo-container">'+
                                        '<img src="' + community['imageBase64']+'" alt="'+community['name']+'" class="img-responsive" />'+
                                    '</div>'+
                                '</div>'+

                                '<div class="col-md-9 col-sm-8">'+
                                    '<div class="ge-community-text-container">'+
                                        '<h4 class="ge-events-community-title"><a href="'+community['homepagelink']+'">' + community['name'] +'</a></h4>' +
                                        '<small class="text-alt company">'+community['universityName']+'</small>' +
                                    '</div>'+
                                    '<div class="ge-community-add-btn">' +
                                        '<button class="btn btn-outline-clr"><span>Topluluğa Katıl</span></button>'+
                                    '</div>'+
                                '</div>' +
                            '</div>' +

                            '<div class="clearfix"></div>' +
                                '<div class="ge-event-box-footer">'+
                                    '<div class="ge-event-box-footer-stats">'+
                                        '<ul class="list-inline">' +
                                            '<li><i class="fa fa-group"></i>'+ community['memberCount']+'<span>Kayıtlı Üye</span></li>'+
                                            '<li><a href="'+community['homepagelink']+'" title=""><i class="fa fa-calendar-check-o"></i>'+community['eventCount']+'<span> Etkinlik</span></a></li>'+
                                        '</ul>'+
                                    '</div>'+

                                    '<div class="ge-event-box-footer-btn">'+
                                        '<ul>'+
                                            '<li><a title="Paylaş" rel="tooltip"><i class="fa fa-share-alt"></i></a></li>'+
                                            '<li><a title="Kaydet" rel="tooltip"><i class="fa fa-bookmark-o"></i></a></li>'+
                                        '</ul>' +
                                    '</div>'+
                                '</div>'+
                            '</div>'+
                        '</div>'
            );
        }


        function appendEvent(event){

            saveButtonElem = '';
            if(event['isSaved']){
                saveButtonElem = 'fa-bookmark';
            }else{
                saveButtonElem = 'fa-bookmark-o';
            }

            $('#search_result_event_list').append(
                    '<div class="col-sm-12 event-main-box" data-event-id="' + event['id'] + '">' +
                        '<div class="ge-horizontal-item-box">' +
                            '<div class="ge-horizontal-item-box-content">' +
                                '<div class="col-md-4 col-sm-5">' +
                                    '<div class="ge-event-photo-container">' +
                                        '<img src="' + event['imageBase64'] + '" alt="'+event['title']+'" class="img-responsive" style="width: inherit; height: inherit;"/>' +
                                    '</div>' +
                                '</div>' +

                                '<div class="col-md-8 col-sm-7">' +
                                    '<div class="ge-community-text-container">' +
                                        '<span class="ge-events-box-date">' + event['startDate'] + '</span>' +
                                        '<h5 class="ge-events-box-title">' +
                                            '<a href="' + event['homepagelink'] + '" title="' + event['title'] + '">' + event['title'] + '</a>' +
                                        '</h5>'+
                                        '<span class="ge-events-box-location"><a href="#"  title="Harita için tıklayın" rel="tooltip" data-modal-link="ge-event-location"><i class="fa fa-map-marker"></i>Etkinlik Adresi</a></span>' +
                                        '<span class="ge-events-registered"><i class="fa fa-group"></i>' + event['userSaveCount'] + '<span>Kişi takipte</span></span>' +
                                    '</div>'+

                                    '<div class="ge-community-add-btn"></div>' +
                                '</div>' +
                            '</div>' +

                            '<div class="clearfix"></div>' +
                                '<div class="ge-event-box-footer">' +
                                    '<div class="ge-event-box-footer-tags">' +
                                        '<ul class="list-inline">' +
                                            '<li><a href="#" title="">#bilkent</a></li>' +
                                            '<li><a href="#" title="">#etkinlik</a></li>' +
                                        '</ul>' +
                                    '</div>' +

                                    '<div class="ge-event-box-footer-btn">' +
                                        '<ul>' +
                                            '<li><a title="Paylaş" rel="tooltip"><i class="fa fa-share-alt"></i></a></li>' +
                                            '<li><a title="Kaydet" rel="tooltip" class="search-event-box"><i class="fa '+saveButtonElem+'"></i></a></li>' +
                                        '</ul>' +
                                    '</div>' +
                                '</div>' +
                            '</div>' +
                        '</div>'
            );
        }

    /*******************************************************************************************************************
     *                                          AJAX OPERATIONS
     ******************************************************************************************************************/

        // searchFrom değeri "community" ya da "event" olabilir. Paging nereden devam edeceği belirlenir
        function ajaxGetMoreSearchResult(searchFrom , searchKey ,page){

            // -- 2 --
            $.post("{{ path('search_more') }}" , {
                more : searchFrom,
                page : page,
                key : searchKey
            }).always(function(){
            }).done(function(data){

                // -- 2.1 -- CONSOLE
                if(Guppy.responseDebugMode)
                    console.log(data);

                // -- 2.2 -- sonuc düzenlenir
                if(data.resultText == 'SUCCESS'){

                    // -- 2.2.1 -- remove options

                    // -- 2.2.2 -- insert new options
                    if(data.content){

                        if(searchFrom=='community'){

                            data.content.communityList.forEach(function(community) {
                                appendCommunity(community);
                            });

                        }else if(searchFrom=='event'){

                            data.content.eventList.forEach(function(event) {
                                appendEvent(event);
                            });
                        }
                    }

                }else if(data.resultText == 'SUCCESS_EMPTY'){
                    alert('Warning -- ' + ' could not found any borough');
                }else if(data.resultText == 'FAILURE_PERMISSION'){
                    alert('Warning -- ' + ' you are not authorization for this operation');
                }else{
                    alert('Warning -- ' + ' error occured while getting borough list');
                }
            });
        }


        /*
         * Kullanıcıların etkinliği kaydetmesini sağlar
         */
        function ajaxSocialSaveEvent(eventTarget){

            // -- 1 --
            eventId = $(eventTarget).parentsUntil('.event-main-box').last().parent().attr('data-event-id');
            isSaved = $(eventTarget).parent().find('.fa-bookmark').length>0;

            // -- 2 --
            $.post("{{ path('social_event_rating') }}" ,{
                eid : eventId,
                is_saved : isSaved
            }).always(function(){

            }).done(function(data){

                // -- 2.1 -- CONSOLE
                if(Guppy.responseDebugMode)
                    console.log(data);

                // -- 2.2 -- sonuc düzenlenir
                if(data.resultText == 'SUCCESS'){

                    if(data.content['saved']){
                        $(eventTarget).parent().find('.fa-bookmark-o').addClass('fa-bookmark').removeClass('fa-bookmark-o');
                        toastr.success('Etkinlik takipte');
                    }else{
                        $(eventTarget).parent().find('.fa-bookmark').addClass('fa-bookmark-o').removeClass('fa-bookmark');
                        toastr.success('Etkinlik takibi bırakıldı');
                    }

                }else if(data.resultText == 'SUCCESS_EMPTY'){
                    toastr.error('Beklenmeyen hata ile karşılaşıldı');
                }else if(data.resultText == 'FAILURE_AUTH'){
                    toastr.warning('Etkinliği takip etmek için giriş yapınız');
                }else if(data.resultText == 'FAILURE_PERMISSION'){
                    toastr.error('Bu işlem için izniniz bulunmamaktadır');
                }else{
                    toastr.error('Beklenmeyen hata ile karşılaşıldı');
                }
            });
        }


    /*******************************************************************************************************************
     *                                          EVENTS
     ******************************************************************************************************************/

        // ekranda aşağıya gidildikçe bir sonraki sayfaların gelmesi işlemidir
        $(window).scroll(function(){
            if($(document).height()==$(window).scrollTop()+$(window).height()){
                if($('#search_result_communities').hasClass('active')){
                    ++communityPage;
                    ajaxGetMoreSearchResult('community',search_key,communityPage)
                }else if($('#search_result_events').hasClass('active')){
                    ++eventPage;
                    ajaxGetMoreSearchResult('event',search_key,eventPage)
                }
            }
        });

        // Etkinlikte kaydet tıklanması durumudur
        $(document).on('click' , '.search-event-box' , function (event) {
            ajaxSocialSaveEvent(event.target);
        });

        // paylaş butonu tıklanıldığında
        $(document).on('click', '.shareLink',function(event){
            console.log()
            $('#shareModalInput').val($(event.target).parentsUntil('.event-main-box').last().parent().attr('data-link'));
            $('#shareModalTitleInput').val($(event.target).parentsUntil('.event-main-box').last().parent().attr('data-title'));
            $('#shareModal').modal('show');
        });

        // paylaşılacak sosyal ağ seçildiğinde
        $(document).on('click', '.socials-nav-item',function(event){
    
            social =  $(event.target).parentsUntil('li').last().parent().attr('data-social-share');
            switch(social) {
                case 'facebook':
                    $('#shareModal').modal('hide');
                    var win = window.open('https://www.facebook.com/sharer/sharer.php?u='+$('#shareModalInput').val(), '_blank');
                    win.focus();
                    break;

                case 'twitter':
                    twitterlink = 'https://twitter.com/intent/tweet?';
                    parameters = '&url=' + $('#shareModalInput').val();
                    parameters += '&hashtags=' + 'seruvent,etkinlik';
                    parameters += '&text=' + $('#shareModalTitleInput').val();

                    $( "#share-seruvent-on-twitter" ).attr('href',twitterlink+parameters);
                    $( "#share-seruvent-on-twitter" )[0].click();
                    break;
                default:
                    break;
            }
        });

    </script>
{% endblock %}