{% extends 'AppBundle::main_base.html.twig' %}

{% block title %}Arama Sonuçları{% endblock %}

{% block content %}

    <div class="preloader-mask">
        <div class="preloader"></div>
    </div>

    <section class="guppy-section align-center">
        <div class="container">

            <h6 class="heading-alt">Arama Sonuçları Etkinlikler</h6>

            <div class="col-md-10 col-md-offset-1">

                <!-- Search Results start -->
                <div class="row schedule schedule-light">

                    <!-- Search Result Navigation -->
                    <ul class="nav nav-schedule">
                        <li class="active" style="width: 50%;"><a href="#search_result_communities" data-toggle="tab">Topluluklar</a></li>
                        <li style="width: 50%;"><a href="#search_result_events" data-toggle="tab">Etkinlikler</a></li>
                        {#<li style="width: 30%;"><a href="#search_result_others" data-toggle="tab">Diğer</a></li>#}
                    </ul>
                    <!-- Navigation end -->

                    <div class="tab-content">

                        <!-- Topluluk Listesi width=50%-->
                        <div id="search_result_communities" class="tab-pane fade active in">
                            {% for community in communityList %}
                                <div class="col-sm-12">
                                    <div class="testimonial profile-community-body" style="border: 1px solid #ccc!important;">
                                        <div class="author-block">
                                            <div class="photo-container">
                                                {% if community.imageBase64 %}
                                                    <img src="{{ community.imageBase64 }}" alt="{{ community.name }}" class="img-responsive" />
                                                {% else %}
                                                    {% image 'theme/assets/img/guppy_avatar_001.png' %}
                                                        <img src="{{ asset_url }}" class="img-responsive" alt="{{ community.name }}" />
                                                    {% endimage %}
                                                {% endif %}
                                            </div>

                                            <strong class="name"><a href="{{ path('user_community_users_homepage' , {'communityId':community.id}) }}">{{ community.name }} </a></strong>
                                            <small class="text-alt company"> {{ community.university.name }}</small>
                                        </div>

                                    </div>
                                </div>
                            {% endfor %}
                        </div>


                        <!-- Etkinlik Listesi width=50%-->
                        <div id="search_result_events" class="tab-pane fade in">
                            {% for event in eventList %}
                                <div class="col-sm-12">
                                    <div class="testimonial profile-community-body" data-event-id="{{ event.id }}" style="border: 1px solid #ccc!important;">
                                        <div class="author-block">
                                            <div class="photo-container">
                                                {% if event.imageBase64 %}
                                                    <img src="{{ event.imageBase64 }}" alt="{{ event.title }}" class="img-responsive" style="width: inherit; height: inherit;"/>
                                                {% else %}
                                                    {% image 'theme/assets/img/guppy_avatar_001.png' %}
                                                        <img src="{{ asset_url }}" class="img-responsive" alt="{{ event.title }}" style="width: inherit; height: inherit;"/>
                                                    {% endimage %}
                                                {% endif %}
                                            </div>

                                            <strong class="name"><a href="{{ path('user_event_mainpage' , {'eventId':event.id}) }}">{{ event.title }} </a></strong>
                                            <small class="text-alt company">{{ event.communityName }}</small>
                                            <br/>
                                            <small class="text-alt company">{{ event.userSaveCount }} kişi gelmeyi düşünüyor</small>
                                        </div>
                                        {% if event.isSaved is defined %}
                                            {% if event.isSaved==true %}
                                                <div class="profile-community-box-edit-parent"><span class="search-box-edit search-event-box" data-modal-link="community-background-image"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Kaydet</span></div>
                                            {% else %}
                                                <div class="profile-community-box-edit-parent"><span class="search-box-edit search-event-box" data-modal-link="community-background-image"><i class="fa fa-circle-o" aria-hidden="true"></i> Kaydet</span></div>
                                            {% endif %}
                                        {% else %}
                                            <div class="profile-community-box-edit-parent"><span class="search-box-edit search-event-box" data-modal-link="community-background-image"><i class="fa fa-circle-o" aria-hidden="true"></i> Kaydet</span></div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- Kullanıcılar Listesi width=0%-->
                        <div id="search_result_others" class="tab-pane fade in">
                            Bu alanda kullanıcı sonuçları yer alacak ...
                        </div>
                    </div>

                </div>
                <!-- Search Results end -->

            </div>

        </div>
    </section>

{% endblock %}




{% block javascriptcontent %}
    <script>

    /*******************************************************************************************************************
     *                                          LOCAL VARIABLE
     ******************************************************************************************************************/
        var search_key = '{% if search_key is defined %}{{ search_key }}{% endif %}';
        var communityPage=1, eventPage=1


    /*******************************************************************************************************************
     *                                          AJAX OPERATIONS
     ******************************************************************************************************************/

        // searchFrom değeri "community" ya da "event" olabilir. Paging nereden devam edeceği belirlenir
        function ajaxGetMoreSearchResult(searchFrom , searchKey ,page){

            // -- 2 --
            $.post("{{ path('search_more') }}" , {
                more : searchFrom,
                page : page,
                key : searchKey
            }).always(function(){
            }).done(function(data){

                // -- 2.1 -- CONSOLE
                if(Guppy.responseDebugMode)
                    console.log(data);

                // -- 2.2 -- sonuc düzenlenir
                if(data.resultText == 'SUCCESS'){

                    // -- 2.2.1 -- remove options

                    // -- 2.2.2 -- insert new options
                    if(data.content){

                        if(searchFrom=='community'){
                            data.content.communityList.forEach(function(community) {
                                $('#search_result_communities').append(
                                    '<div class="col-sm-12">' +
                                        '<div class="testimonial profile-community-body" style="border: 1px solid #ccc!important;">' +
                                            '<div class="author-block">' +
                                                '<div class="photo-container">' +
                                                    '<img src="' + community['image']+'" alt="'+community['name']+'" class="img-responsive" />'+
                                                '</div>' +

                                            '<strong class="name"><a href="/community/home/'+community['id']+'">'+community['name']+'</a></strong>' +
                                            '<small class="text-alt company">' + 'universite ismi' + '</small>' +
                                            '</div>' +
                                        '</div>' +
                                    '</div>'
                                );
                            });
                        }else if(searchFrom=='event'){

                            data.content.eventList.forEach(function(event) {

                                saveButtonElem = '';
                                if(event['isSaved']){
                                    saveButtonElem = '<div class="profile-community-box-edit-parent"><span class="search-box-edit search-event-box" data-modal-link="community-background-image"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Kaydet</span></div>';
                                }else{
                                    saveButtonElem = '<div class="profile-community-box-edit-parent"><span class="search-box-edit search-event-box" data-modal-link="community-background-image"><i class="fa fa-circle-o" aria-hidden="true"></i> Kaydet</span></div>';
                                }

                                eventDivElem =  '<div class="col-sm-12">' +
                                                    '<div class="testimonial profile-community-body" data-event-id="'+event['id']+'" style="border: 1px solid #ccc!important;">' +
                                                        '<div class="author-block">' +
                                                            '<div class="photo-container">' +
                                                                '<img src="' + event['imageBase64']+'" alt="'+event['title']+'" class="img-responsive" style="width: inherit; height: inherit;"/>' +
                                                            '</div>' +
                                                        '<strong class="name"><a href="/event/h/'+event['id']+'">'+event['title']+'</a></strong>' +
                                                        '<small class="text-alt company">' + 'topluluk ismi @ universite ismi' + '</small><br/>' +
                                                        '<small class="text-alt company">' + event['userSaveCount'] + ' kişi gelmeyi düşünüyor</small>'+
                                                        '</div>' +
                                                        saveButtonElem +
                                                    '</div>' +
                                                '</div>';

                                $('#search_result_events').append(eventDivElem);
                            });
                        }
                    }

                }else if(data.resultText == 'SUCCESS_EMPTY'){
                    alert('Warning -- ' + ' could not found any borough');
                }else if(data.resultText == 'FAILURE_PERMISSION'){
                    alert('Warning -- ' + ' you are not authorization for this operation');
                }else{
                    alert('Warning -- ' + ' error occured while getting borough list');
                }
            });
        }


        /*
         * Kullanıcıların etkinliği kaydetmesini sağlar
         */
        function ajaxSocialSaveEvent(eventTarget){

            // -- 1 --
            eventId = $(eventTarget).parentsUntil('.profile-community-body').last().parent().attr('data-event-id');
            isSaved = $(eventTarget).find('.fa-check-circle-o').length>0;

            // -- 2 --
            $.post("{{ path('social_event_rating') }}" ,{
                eid : eventId,
                is_saved : isSaved
            }).always(function(){

            }).done(function(data){

                // -- 2.1 -- CONSOLE
                if(Guppy.responseDebugMode)
                    console.log(data);

                // -- 2.2 -- sonuc düzenlenir
                if(data.resultText == 'SUCCESS'){

                    if(data.content['saved']){
                        $(eventTarget).parent().find('.fa-circle-o').addClass('fa-check-circle-o').removeClass('fa-circle-o');
                        toastr.success('Etkinlik takipte');
                    }else{
                        $(eventTarget).parent().find('.fa-check-circle-o').addClass('fa-circle-o').removeClass('fa-check-circle-o');
                        toastr.success('Etkinlik takibi bırakıldı');
                    }

                }else if(data.resultText == 'SUCCESS_EMPTY'){
                    toastr.error('Beklenmeyen hata ile karşılaşıldı');
                }else if(data.resultText == 'FAILURE_PERMISSION'){
                    toastr.error('Bu işlem için izniniz bulunmamaktadır');
                }else{
                    toastr.error('Beklenmeyen hata ile karşılaşıldı');
                }
            });
        }


    /*******************************************************************************************************************
     *                                          EVENTS
     ******************************************************************************************************************/

        // ekranda aşağıya gidildikçe bir sonraki sayfaların gelmesi işlemidir
        $(window).scroll(function(){
            if($(document).height()==$(window).scrollTop()+$(window).height()){

                if($('#search_result_communities').hasClass('active')){
                    ++communityPage;
                    ajaxGetMoreSearchResult('community',search_key,communityPage)
                }else if($('#search_result_events').hasClass('active')){
                    ++eventPage;
                    ajaxGetMoreSearchResult('event',search_key,eventPage)
                }
            }
        });

        // Etkinlikte kaydet tıklanması durumudur
        $(document).on('click' , '.search-event-box' , function (event) {
            ajaxSocialSaveEvent(event.target);
        });

    </script>
{% endblock %}